Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FIX TG-13780 Странные странности линтера
  frontend/src/app/core/components/footer/footer.component.ts
Due: NPM lint

FIX TG-13780 Ошибки линтера
  frontend/src/app/pages/settings/license/license.service.ts
Due: NPM lint

FEATURE TG-13762 фикс теста
  backend/web_app/tests/snapshots/snap_test_settings.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13086 переименование поля ad_cn_pattern
  backend/common/migrations/versions/3bdd27d82159_rename_column_ad_cn_pattern.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/add-pool/definitions/add-pool.d.ts
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-13894 AOT true
  frontend/angular.json
Due: NPM lint

FIX TG-13758 check messages
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 check messages-2
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 check messages-3
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 check messages-4
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 check messages-5
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13762 fix field code for http
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
  backend/web_app/tests/utils.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13900 Дока
  docs/ru/_assets/vdi/thin_client/connect_settings_rdp.png
  docs/ru/broker/operator_guide/abbreviations.md
  docs/ru/connect/ini_file_description.md
  docs/ru/connect/operator_guide/abbreviations.md
  docs/ru/connect/operator_guide/vm_window.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/possible_errors/spice.md
  docs/ru/connect/settings/rdp_settings.md
  docs/ru/connect/veil_connect.md
  docs/toc.yaml
Due: none

Feature tg 13900 2
  docs/ru/connect/thin_clients/application1.md
  docs/ru/connect/thin_clients/application2.md
  docs/ru/connect/thin_clients/application3.md
  docs/ru/connect/thin_clients/operator_guide/annotate.md
  docs/ru/connect/thin_clients/operator_guide/delete.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
  docs/ru/connect/thin_clients/operator_guide/general_info.md
  docs/ru/connect/thin_clients/operator_guide/info.md
  docs/ru/connect/thin_clients/operator_guide/install.md
  docs/ru/connect/thin_clients/operator_guide/install_os.md
  docs/ru/connect/thin_clients/operator_guide/integrity_check.md
  docs/ru/connect/thin_clients/operator_guide/interface.md
  docs/ru/connect/thin_clients/operator_guide/kiosk.md
  docs/ru/connect/thin_clients/operator_guide/messages.md
  docs/ru/connect/thin_clients/operator_guide/pools.md
  docs/ru/connect/thin_clients/operator_guide/prepare.md
  docs/ru/connect/thin_clients/operator_guide/program_condition.md
  docs/ru/connect/thin_clients/operator_guide/reductions.md
  docs/ru/connect/thin_clients/operator_guide/rules.md
  docs/ru/connect/thin_clients/operator_guide/start.md
  docs/ru/connect/thin_clients/thin_clients.md
  docs/toc.yaml
Due: none

FEATURE TG-13900 Дока 3
  docs/ru/connect/operator_guide/vm_window.md
Due: none

FEATURE TG-13762 фикс поля code и тестов
  backend/common/models/auth.py
  backend/common/models/settings.py
  backend/web_app/auth/handlers.py
  backend/web_app/tests/test_auth_v2.py
  backend/web_app/tests/test_license.py
  backend/web_app/tests/test_locale.py
  backend/web_app/tests/test_pool.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13762 фикс поля code и тестов-2
  backend/common/models/settings.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13762 take off prints
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 try-except for creating user
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 add simpleerror
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13758 return assertion error
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13761 обновил faq в доке
  docs/ru/broker/faq/backup.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
  docs/toc.yaml
Due: none

REFACTOR TG-13782 фикс порядка импортов
  frontend/.eslintrc.js
  frontend/src/app/app.module.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/pages/controllers/all-controllers/controllers.component.ts
  frontend/src/app/pages/log/events/all-events/events.component.ts
  frontend/src/app/pages/log/tasks/info-tasks/info-tasks.component.ts
  frontend/src/app/pages/log/veil-events/veil-all-events/events.component.ts
  frontend/src/app/pages/pools/all-pools/pools.component.ts
  frontend/src/app/pages/pools/pool-details/remove-group/remove-group.component.ts
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.component.ts
  frontend/src/app/pages/settings/auth-directory/all-auth-directory/all-auth-directory.component.ts
  frontend/src/app/pages/settings/groups/all-groups/groups.component.ts
  frontend/src/app/pages/settings/license/license.service.ts
  frontend/src/app/pages/settings/users/all-users/users.component.ts
  frontend/src/app/pages/settings/users/users.module.ts
  frontend/src/app/pages/thin-clients/thin-client-statistic/thin-client-statistic.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.module.ts
  frontend/src/app/shared/types/index.d.ts
  frontend/tsconfig.json
Due: NPM lint

REFACTOR TG-13782 перенос qrcode компонент в pages
  frontend/src/app/pages/settings/users/user-details/generate-qrcode/generate-qrcode.component.html
  frontend/src/app/pages/settings/users/user-details/generate-qrcode/generate-qrcode.component.scss
  frontend/src/app/pages/settings/users/user-details/generate-qrcode/generate-qrcode.component.spec.ts
  frontend/src/app/pages/settings/users/user-details/generate-qrcode/generate-qrcode.component.ts
  frontend/src/app/pages/settings/users/user-details/user-details.component.ts
  frontend/src/app/pages/settings/users/users.module.ts
Due: NPM lint

FEATURE TG-13762 change logic for None code
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13908 оптимизация доки
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/operator_guide/prepare.md
  docs/ru/broker/spec/domain-req.md
  docs/ru/index.md
Due: none

FEATURE TG-13908 оптимизация доки-2
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/faq/questions.md
  docs/ru/broker/faq/update_v3.md
  docs/toc.yaml
Due: none

FEATURE TG-13908 форматирование доки
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/questions.md
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-13902 Добален модуль и компоненьы для страницы Система
  frontend/.eslintrc.js
  frontend/src/app/app.module.ts
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/settings/system/system.component.html
  frontend/src/app/pages/settings/system/system.component.scss
  frontend/src/app/pages/settings/system/system.component.ts
  frontend/src/app/pages/settings/system/system.module.ts
  frontend/src/app/pages/settings/system/system.service.ts
Due: NPM lint

FEATURE TG-13908 форматирование доки-2
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-13907 обновлены переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13902 Добалена типизация и маппер
  frontend/src/app/pages/settings/system/system.component.ts
  frontend/src/app/pages/settings/system/system.mapper.ts
  frontend/src/app/pages/settings/system/system.service.ts
Due: NPM lint

FEATURE TG-13901 Создан компонент service-page и добавлен новый роут Сервисы
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/settings/service-page/service-page.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.scss
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.module.ts
Due: NPM lint

FEATURE TG-13902 Фикс линтов
  frontend/src/app/pages/controllers/controller-details/controller-events/controller-events.component.spec.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/spice/spice.component.spec.ts
  frontend/src/app/pages/settings/system/system.component.ts
  frontend/src/app/pages/settings/users/user-details/generate-qrcode/generate-qrcode.component.spec.ts
Due: NPM lint

FEATURE TG-12455 шифрование токена контроллера
  backend/common/models/controller.py
  backend/monitor_worker/resources_monitor.py
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13901 Добавлен темплейт и иконка
  frontend/src/app/app.module.ts
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.html
Due: NPM lint

FEATURE TG-12430 отметки пользователей из AD и со смененными паролями + FEATURE TG-12428 временная валидация пароля пользователя >8
  backend/common/migrations/versions/f8b9f6b669a9_ad_user_fields.py
  backend/common/models/auth.py
  backend/common/models/authentication_directory.py
  backend/web_app/auth/user_schema.py
  frontend/src/app/pages/settings/users/all-users/users.component.ts
  frontend/src/app/pages/settings/users/user-details/user-details.component.ts
  frontend/src/app/pages/settings/users/users.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Добавил в установку Xenial
  docs/ru/connect/operator_guide/install.md
Due: none

Feature tg 13969
  backend/common/models/active_tk_connection.py
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/utils.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/urls.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13987 Дока по 2fa на тк
  docs/ru/_assets/vdi/thin_client/2fa/2fa_1.png
  docs/ru/_assets/vdi/thin_client/2fa/2fa_2.png
  docs/ru/_assets/vdi/thin_client/2fa/2fa_3.png
  docs/ru/_assets/vdi/thin_client/2fa/2fa_4.png
  docs/ru/_assets/vdi/thin_client/2fa/vdi_pools_window.png
  docs/ru/connect/changelog/1.7.0.md
  docs/ru/connect/settings/thin_client_2fa_settings.md
  docs/toc.yaml
Due: none
