Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

Fix tg-15228 Фикс кнопки обновить при сборке
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.html
Due: NPM lint

FEATURE TG-15226 vdi-github-sync move to dev
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15226 vdi-github-sync задание 6
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15226 vdi-github-sync задание 7
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15023 изменены команды
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15129 fix for user disconnect
  backend/pool_worker/vm_manager.py
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15023 добавлен exception
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15129 fix test for user disconnect
  backend/common/models/pool.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 15234
  docs/ru/connect/changelog/1.8.8.md
  docs/ru/connect/ini_file_description.md
  docs/ru/connect/log_files_description.md
  docs/toc.yaml
Due: none

FEATURE TG-15023 адаптация под астру от роли postgres
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 дополнены исключения в terminate_sessions
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15240 logic for pam user create
  backend/common/models/auth.py
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15023 добавлен перехват stdout и stderr в terminate_sessions
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 добавлен перехват stdout и stderr в create_backup
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15244 add translations
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15245 Добавил конфиг цербера в апач на /sso
  devops/ansible/roles/broker/templates/broker-ssl.conf.j2
Due: none

FEATURE TG-15248 Убрано требование sudo в запросе на управление сервисами
  backend/web_app/settings/schema.py
  backend/web_app/tests/test_settings.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 передача пароля sudo
  backend/common/backup.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 shell=True, команды передаются в виде стороки как есть
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 add sso + handler
  backend/Pipfile
  backend/requirements.txt
  backend/web_app/app.py
  backend/web_app/auth/handlers.py
Due: Python lint, Security check, Compilemessages job, Run tests

FEATURE TG-14357 add sso + handler
  backend/Pipfile
  backend/requirements.txt
  backend/web_app/auth/handlers.py
  backend/web_app/auth/sso.py
  backend/web_app/auth/urls.py
Due: Python lint, Security check, Compilemessages job, Run tests

FEATURE TG-14357 add sso + handler
  backend/requirements.txt
  backend/web_app/auth/sso.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 add sso + handler
  backend/requirements.txt
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 add sso + handler
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15248 Small fix
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 change sso file
  backend/web_app/auth/handlers.py
  backend/web_app/auth/sso.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 change sso file
  backend/web_app/auth/handlers.py
  frontend/projects/thin-client/src/app/core/services/login.service.ts
  frontend/src/app/pages/login/login.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 15260
  README.md
  docs/ru/_assets/vdi/thin_client/connect_settings_rdp.png
  docs/ru/_assets/vdi/thin_client/settings_spice.png
  docs/ru/connect/changelog/1.8.10.md
  docs/ru/connect/changelog/1.8.9.md
  docs/ru/connect/possible_errors/issue_reporting_data.md
  docs/ru/connect/settings/rdp_settings.md
  docs/ru/connect/settings/spice_settings.md
  docs/toc.yaml
Due: none

FEATURE TG-15263 Коррекиное сообщение, если не удалось подключиться к ldap
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/authentication_directory.py
Due: Python lint, Compilemessages job, Run tests

Отключил проверку хоста (invalid host header)
  devops/docker/docker-compose.yml
Due: none

И еще на фронт добавил на всякий
  devops/docker/docker-compose.yml
Due: none

Поправил ошибку
  devops/docker/docker-compose.yml
Due: none

Опечатка
  devops/docker/docker-compose.yml
Due: none

Fix tg-15246 Убран sudo пароль для подверждения действия над сервисом и рефакторинг маппера
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.ts
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.mapper.ts
  frontend/src/app/pages/settings/service-page/service-page.service.ts
Due: NPM lint

Feature tg 15265
  backend/common/migrations/versions/5ef78c64c084_task_add_column_creator.py
  backend/common/models/pool.py
  backend/common/models/task.py
  backend/common/models/vm.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/task/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 get remote_user name
  backend/web_app/app.py
  backend/web_app/auth/handlers.py
  backend/web_app/auth/sso.py
  backend/web_app/auth/urls.py
  frontend/projects/thin-client/src/app/core/services/login.service.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Fix tg-15159 Фикс spice на астре
  frontend/angular.json
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
Due: NPM lint

FIX TG-15283 fix docs links
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-15313 fix name for OS
  docs/ru/broker/engineer_guide/software_requirements.md
Due: none

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
