Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

Fix tg 13356
  backend/common/models/active_tk_connection.py
  backend/common/models/task.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/task/schema.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 12472
  backend/web_app/pool/schema.py
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-13279 поправил описание для гостевого пула и статуса Reserved
  docs/ru/broker/pools/get-user-vm.md
  docs/ru/broker/pools/guest_pool.md
  docs/toc.yaml
Due: none

FIX TG-13375 сообщение об удалении группы
  backend/common/veil/veil_gino.py
Due: Python lint, Compilemessages job, Run tests

feature_tg_13360: step-by-step deletion tests
  backend/common/models/auth.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/settings.py
  backend/pool_worker/pool_locks.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/snapshots/snap_test_controllers.py
  backend/web_app/tests/test_task.py
  backend/web_app/tests/veil_server/test_server.py
Due: Python lint, Compilemessages job, Run tests

I.dorovskikh dev patch 49450
  docs/ru/connect/thin_clients/operator_guide/annotate.md
  docs/ru/connect/thin_clients/operator_guide/application2.md
  docs/ru/connect/thin_clients/operator_guide/application3.md
  docs/ru/connect/thin_clients/operator_guide/delete.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
  docs/ru/connect/thin_clients/operator_guide/general_info.md
  docs/ru/connect/thin_clients/operator_guide/integrity_check.md
  docs/ru/connect/thin_clients/operator_guide/program_condition.md
Due: none

I.dorovskikh dev patch 81500
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/install.md
Due: none

FEATURE TG-13318 Сортировка в таблицах пулов
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.html
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
Due: NPM lint

feature_tg_13384: docs fixes
  docs/ru/broker/engineer_guide/first_steps.md
Due: none

FIX TG-13424 запрет на клонирование тонких клонов
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13373
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/convert-to-template/convert-to-template.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/convert-to-template/convert-to-template.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.service.spec.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
  frontend/src/app/dashboard/pools/pools.module.ts
Due: NPM lint

I.dorovskikh dev patch 74201
  docs/ru/connect/thin_clients/operator_guide/application2.md
  docs/ru/connect/thin_clients/operator_guide/application3.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
Due: none

I.dorovskikh dev patch 34381
  docs/ru/connect/thin_clients/operator_guide/application3.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
Due: none

Replace domains.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
Due: none

FIX TG-13441 Тест jenkins
  devops/jenkins/veil-broker-frontend.groovy
Due: none

FIX TG-13441 Params REPO
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
Due: none

feature_tg_13416: jenkins build options
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
Due: none

feature_tg_13416: jenkins build options
  backend/web_app/tests/.coveragerc
Due: Python lint, Compilemessages job, Run tests

feature_tg_13384: docs fixes
  backend/web_app/pool/schema.py
  backend/web_app/tests/.coveragerc
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/connect/thin_clients/operator_guide/application2.md
  docs/ru/connect/thin_clients/operator_guide/application3.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.html
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/convert-to-template/convert-to-template.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/convert-to-template/convert-to-template.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.service.spec.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
  frontend/src/app/dashboard/pools/pools.module.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-13406 Подробное сообщени об ошибке получения приложений
  backend/common/models/pool.py
  backend/web_app/tests/.coveragerc
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13374 переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13376
  backend/common/models/pool.py
  backend/web_app/tests/.coveragerc
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_auth_v2.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_task.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/test_usb.py
  backend/web_app/tests/test_vms.py
  backend/web_app/tests/utils.py
  backend/web_app/thin_client_api/handlers.py
  devops/docker/python/Dockerfile
  devops/docker/python/tests_entry_point.sh
  devops/docker/test-docker-compose.yml
Due: Python lint, Compilemessages job, Run tests

FIX TG-13454 Сокрытие spice vnc
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

feature_tg_13369: дополнил releasenotes для 310
  docs/ru/broker/changelog/3.1.0.md
Due: none

feature_tg_13369: скрытие кнопок SPICE и VNC на фронте
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

Feature tg 12320
  backend/common/log/journal.py
  backend/common/veil/veil_gino.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 10265
  backend/common/migrations/versions/70220709e7b8_settings.py
  backend/common/models/settings.py
  backend/web_app/app.py
  backend/web_app/settings/__init__.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

Улучшение качества
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/engineer_guide/registr_key.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/operator_guide/clusters.md
  docs/ru/broker/operator_guide/nodes.md
Due: none

FEATURE TG-12321 частичное дублирование в veil handlers
  backend/common/veil/veil_handlers.py
  backend/web_app/auth/handlers.py
  backend/web_app/auth/license/handlers.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Улучшение качества
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/faq/install_v3.md
Due: none

Улучшение качества
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/prepare.md
Due: none

Улучшение качества
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/operator_guide/clusters.md
  docs/ru/broker/operator_guide/resource_pools.md
Due: none

Feature tg 13392
  backend/common/migrations/versions/f650be39c164_split_clipboard_permissions.py
  backend/common/models/user_tk_permission.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/test_usb.py
  backend/web_app/tests/test_user_v2.py
  backend/web_app/tests/test_vms.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13484
  backend/common/migrations/versions/3afef08f92e4_active_tk_connection_user_id_nullable.py
  backend/common/models/active_tk_connection.py
  backend/common/utils.py
  backend/common/veil/auth/veil_jwt.py
  backend/common/veil/veil_handlers.py
  backend/web_app/front_ws_api/handlers.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13507
  backend/common/migrations/versions/0bdf794ff5ef_pool_type_in_table_pool.py
  backend/common/models/pool.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_pool.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Улучшение качества
  docs/toc.yaml
Due: none

Feature tg 13515
  backend/common/models/active_tk_connection.py
  backend/common/models/pool.py
  backend/common/settings.py
  backend/common/veil/veil_handlers.py
  backend/common/veil/veil_redis.py
  backend/web_app/auth/license/handlers.py
  backend/web_app/tests/test_license.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/urls.py
Due: Python lint, Compilemessages job, Run tests

Улучшение качества
  docs/ru/broker/faq/backup.md
  docs/ru/broker/faq/rdp/example_rdp.md
  docs/ru/broker/faq/rdp/example_rdp_domain.md
  docs/ru/broker/faq/rdp/example_template_win.md
  docs/ru/broker/faq/repo_without_inet.md
  docs/ru/broker/faq/services.md
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/faq/vm/nvidia.md
  docs/ru/broker/worker/tasks.md
  docs/ru/connect/changelog/1.6.1.md
Due: none
