Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

Feature tg-15652 Добавлен мак адрес и имя хоста для на вкладке сессий ТК, фикс стилей в ТК
  frontend/projects/thin-client/src/app/app.component.scss
  frontend/projects/thin-client/src/app/app.component.spec.ts
  frontend/projects/thin-client/src/app/app.component.ts
  frontend/projects/thin-client/src/app/pages/dashboard/dashboard.component.scss
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.service.ts
Due: NPM lint

FEATURE TG-11958 Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

FEATURE TG-15651 ТК changelog
  docs/ru/connect/changelog/1.10.0.md
  docs/ru/connect/changelog/1.9.2.md
  docs/toc.yaml
Due: none

FEATURE TG-15546 prepare_cache method added
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

feature_tg_14912 VDI Sizing DOCS
  .gitignore
  docs/ru/broker/faq/sizing/cpu.md
  docs/ru/broker/faq/sizing/example.md
  docs/ru/broker/faq/sizing/grid.md
  docs/ru/broker/faq/sizing/hdd.md
  docs/ru/broker/faq/sizing/index.md
  docs/ru/broker/faq/sizing/network.md
  docs/ru/broker/faq/sizing/profiles.md
  docs/ru/broker/faq/sizing/ram.md
  docs/toc.yaml
Due: none

FIX VDI Sizing DOCS
  docs/ru/broker/faq/sizing/cpu.md
  docs/ru/broker/faq/sizing/grid.md
  docs/ru/broker/faq/sizing/hdd.md
  docs/ru/broker/faq/sizing/profiles.md
  docs/ru/broker/faq/sizing/ram.md
Due: none

FEATURE TG-15546 getting values of "hostname", "guest_agent", "parent_name" and caching them
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15393 redisgned docs (config files)
  docs/ru/connect/ini_file/example.md
  docs/ru/connect/ini_file/general.md
  docs/ru/connect/ini_file/index.md
  docs/ru/connect/ini_file/rdpsettings.md
  docs/ru/connect/ini_file/remoteviewerconnect.md
  docs/ru/connect/ini_file/spicesettings.md
  docs/ru/connect/ini_file/x2gosettings.md
  docs/ru/connect/ini_file_description.md
  docs/toc.yaml
Due: none

FEATURE TG-15546 get_cacheable_resources_list method added
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15647 change docs
  docs/ru/broker/changelog/3.2.0.md
Due: none

FEATURE TG-15649 new translates
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

Feature tg-15598: Добавлен переключатель для полноэкранного режима spice, checkbox инпут переделал в компонент с CVA
  frontend/projects/thin-client/src/app/auth/auth.module.ts
  frontend/projects/thin-client/src/app/auth/login/login.component.html
  frontend/projects/thin-client/src/app/auth/login/login.component.scss
  frontend/projects/thin-client/src/app/core/services/login.service.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.module.ts
  frontend/src/app/pages/login/login.scss
  frontend/src/app/shared/components/checkbox-input/checkbox-input.component.html
  frontend/src/app/shared/components/checkbox-input/checkbox-input.component.scss
  frontend/src/app/shared/components/checkbox-input/checkbox-input.component.ts
  frontend/src/app/shared/shared.module.ts
Due: NPM lint

FIX TG-15711 adding cache refresh on web
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.component.html
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.component.ts
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.service.ts
  frontend/src/app/pages/resourses/clusters/cluster-details/cluster-details.component.html
  frontend/src/app/pages/resourses/clusters/cluster-details/cluster-details.component.ts
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.component.html
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.component.ts
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.service.ts
  frontend/src/app/pages/resourses/datapools/datapool-details/datapool-details.component.html
  frontend/src/app/pages/resourses/datapools/datapool-details/datapool-details.component.ts
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.component.html
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.component.ts
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.service.ts
  frontend/src/app/pages/resourses/nodes/node-details/node-details.component.html
  frontend/src/app/pages/resourses/nodes/node-details/node-details.component.ts
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.component.html
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.component.ts
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.service.ts
  frontend/src/app/pages/resourses/resource_pools/resource_pool-details/resource_pool-details.component.html
  frontend/src/app/pages/resourses/resource_pools/resource_pool-details/resource_pool-details.component.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.component.html
  frontend/src/app/pages/resourses/templates/all-templates/templates.component.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.service.ts
  frontend/src/app/pages/resourses/templates/template-details/template-details.component.html
  frontend/src/app/pages/resourses/templates/template-details/template-details.component.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.component.html
  frontend/src/app/pages/resourses/vms/all-vms/vms.component.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.service.ts
  frontend/src/app/pages/resourses/vms/vms-details/vm-details.component.html
  frontend/src/app/pages/resourses/vms/vms-details/vm-details.component.ts
Due: NPM lint

FIX TG-15711 fix for linter
  frontend/src/app/pages/resourses/templates/all-templates/templates.service.ts
Due: NPM lint

FEATURE TG-15712 add script and docs sso
  devops/deb/veil-broker-backend/root/DEBIAN/control
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
  devops/deb/veil-broker-backend/root/usr/sbin/vdi_sso_setting.sh
  docs/ru/broker/operator_guide/sso/ad.md
  docs/ru/broker/operator_guide/sso/browser.md
  docs/ru/broker/operator_guide/sso/enable.md
  docs/ru/broker/operator_guide/sso/index.md
  docs/toc.yaml
Due: none

Feature tg 15675
  backend/common/migrations/versions/a3da31776be8_create_table_tk_vm_connection.py
  backend/common/models/active_tk_connection.py
  backend/common/models/tk_vm_connection.py
  backend/monitor_worker/thin_client_conn_monitor.py
  backend/pool_worker/vm_manager.py
  backend/web_app/statistics/schema.py
  backend/web_app/tests/snapshots/snap_test_statistics_report.py
  backend/web_app/tests/test_statistics_report.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-15743 docs: default account
  docs/ru/broker/operator_guide/prepare.md
Due: none

FIX TG-15739 enable ECP 5.0 and higher
  backend/common/migrations/versions/6g78tf2ee56d_change_lenght_token.py
  backend/common/models/controller.py
  backend/web_app/controller/schema.py
  docs/ru/broker/changelog/3.2.0.md
  docs/toc.yaml
  frontend/src/app/pages/controllers/all-controllers/controllers.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-15739 change revises
  backend/common/migrations/versions/6g78tf2ee56d_change_lenght_token.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15744 Web statistics docs
  backend/web_app/thin_client_api/handlers.py
  docs/ru/_assets/vdi/stats/create_web_stats_report.png
  docs/ru/broker/operator_guide/web_stats.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 change for linter
  backend/common/migrations/versions/a76ge5d8oo2f_sso_field.py
  frontend/src/app/pages/login/login.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15752 Added request of thin client connection onfo by id
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15649 translates
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15753 Move to version 3.2
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-broker-va.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

FEATURE TG-15676 add note for docs
  docs/ru/broker/faq/rdp/example_template_win.md
Due: none

FEATURE TG-15481 remove slug from tag request
  backend/common/models/pool.py
  backend/common/veil/veil_graphene.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/veil_server/test_server.py
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.service.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Fix tg 15802
  backend/web_app/statistics/schema.py
  backend/web_app/tests/snapshots/snap_test_statistics_report.py
  devops/deb/veil-broker-backend/root/etc/sudoers.d/vdiadmin
  devops/deb/veil-broker-backend/root/usr/sbin/vdi_update_web_statistics.sh
  devops/docker/python/Dockerfile
  devops/docker/python/vdi_update_web_statistics.sh
Due: Python lint, Compilemessages job, Run tests

feature_tg_15719
  docs/ru/broker/faq/repo_without_inet/index.md
  docs/ru/broker/faq/repo_without_inet/iso.md
  docs/ru/broker/faq/repo_without_inet/local_repo.md
  docs/ru/broker/faq/repo_without_inet/qcow2.md
  docs/toc.yaml
Due: none

FEATURE TG-15719 change docs (update without inet)
  docs/.gitignore
  docs/ru/broker/faq/repo_without_inet.md
  docs/ru/broker/faq/repo_without_inet/iso.md
  docs/ru/broker/faq/repo_without_inet/local_repo.md
  docs/ru/broker/faq/repo_without_inet/qcow2.md
  docs/toc.yaml
Due: none

FEATURE TG-15481 update requirements
  backend/Pipfile.lock
  backend/requirements.txt
Due: Python lint, Compilemessages job, Run tests

FIX TG-15823 Doc fix
  docs/ru/connect/operator_guide/install/net/win.md
Due: none

Change datapool for broker VA
  devops/jenkins/veil-broker-va.groovy
Due: none

FIX TG-15845 update check local user
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-15845 update error for checking
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-15845 update check postgres service
  backend/monitor_worker/resources_monitor_manager.py
  backend/web_app/settings/schema.py
  backend/web_app/tests/test_settings.py
  devops/docker/python/systemctl
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15762 docs for update to 4.0
  README.md
  docs/ru/broker/auth_v3/users.md
  docs/ru/broker/changelog/4.0.0.md
  docs/ru/broker/faq/backup.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v4.md
  docs/ru/broker/operator_guide/controllers.md
Due: none

FEATURE TG-15870 Ws notification upon pool entitlement change
  backend/common/models/active_tk_connection.py
  backend/common/models/auth.py
  backend/common/models/pool.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15765 Отображение вермени в футере
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/components/footer/footer.component.html
  frontend/src/app/core/components/footer/footer.component.scss
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/core/components/footer/footer.service.ts
  frontend/src/app/core/core.module.ts
Due: NPM lint
