Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-15023 добавлены файлы backup.config, backup.sh, restore.sh; удален backup.py
  backend/common/backup.py
  backend/common/backup/backup.config
  backend/common/backup/backup.sh
  backend/common/backup/restore.sh
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15313 fix name for OS-2
  docs/ru/broker/engineer_guide/software_requirements.md
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
Due: NPM lint

Feature tg 14826
  backend/common/models/vm.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/veil_server/test_server.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 Добавлена возможность указать директорию при запуске backup.sh
  backend/common/backup/backup.config
  backend/common/backup/backup.sh
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15338 broker_name in settings
  backend/common/settings.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

Feature tg-15171 Добавлены кнопки форсированого выключение и перезагрузки
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.scss
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
  frontend/projects/thin-client/src/app/pages/pools/pools.service.ts
Due: NPM lint

Feature tg-15346 Отображение названия на VDI
  frontend/src/app/pages/dashboard/dashboard.component.html
  frontend/src/app/pages/dashboard/dashboard.component.ts
  frontend/src/app/pages/login/login.service.ts
Due: NPM lint

FEATURE TG-15023 Добавлена возможность передачи полного пути файла бэкапа при запуске restore.sh
  backend/common/backup/restore.sh
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15339 Add BROKER_NAME param
  devops/jenkins/veil-broker-backend.groovy
Due: none

FEATURE TG-15340 import broker_name
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 обновление документации
  docs/ru/broker/faq/backup.md
Due: none

Feature tg 15360
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/urls.py
  docs/ru/connect/possible_errors/issue_reporting_data.md
  docs/ru/connect/settings/usb_redir_settings.md
Due: Python lint, Compilemessages job, Run tests

Feature tg-15346 Добавлено меню Помощь с ссылками на документацию VDI, Veil и диалогом с админом
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.scss
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-messenger/remote-messenger.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-messenger/remote-messenger.component.scss
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-messenger/remote-messenger.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pools.module.ts
  frontend/src/app/pages/dashboard/dashboard.component.html
Due: NPM lint

FEATURE TG-15309 набросок cache.py
  backend/common/cache/cache.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 набросок cache_decorator.py
  backend/common/cache/cache_decorator.py
Due: Python lint, Compilemessages job, Run tests

Feature tg-15171 Фикс иконок и подсказки
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.html
Due: NPM lint

FEATURE TG-15303 auth for sso user
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15385 Запрос sso
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.service.ts
Due: NPM lint

FEATURE TG-15309 добавлен get_params_for_cache
  backend/common/utils.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 реализация кэширования ресурсов
  backend/common/settings.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 удалены cache.py, cache_decorator.py
  backend/common/cache/cache.py
  backend/common/cache/cache_decorator.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 sso check
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 добавлен cache.py
  backend/common/cache.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 get_params_for_cache перемещена в cache.py
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 Очистка кэша из API
  backend/common/cache.py
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX-TG14357 SSO refresh
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.service.ts
  static/frontend/index.html
  static/frontend/main.b8f4c230f4381def3fb8.js
  static/frontend/main.bba49d627779956ecee1.js
Due: NPM lint

FEATURE TG-14357 sso slash
  backend/web_app/auth/urls.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14357 apache conf change
  devops/ansible/roles/broker/templates/broker-ssl.conf.j2
Due: none

FEATURE TG-15309 REDIS_EXPIRE_TIME в БД, чтение/запись из API
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 get_redis_expire_time()
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 добавлена миграция
  backend/common/migrations/versions/9d14f7f75d65_cache_field_settings.py
  backend/common/settings.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15420 update locales
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FIX TG-14357 Запрос перед страницей login
  frontend/src/app/app.module.ts
Due: NPM lint

FEATURE TG-15309 redis_client для каждого резолвера
  backend/web_app/controller/resource_schema.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15309 методы объединены в классе Cache
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests
