Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-15461 тк changelog. дока об ошибках
  docs/ru/connect/changelog/1.9.0.md
  docs/ru/connect/changelog/1.9.1.md
  docs/ru/connect/possible_errors/rdp.md
  docs/toc.yaml
Due: none

FEATURE TG-15461 Картинка для доки
  docs/ru/_assets/vdi/thin_client/RDP_server_NLA.jpg
Due: none

FEATURE TG-14357 sso field option
  backend/common/migrations/versions/a76ge5d8oo2f_sso_field.py
  backend/common/models/authentication_directory.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/auth/handlers.py
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-15437 sorted list of domains
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: NPM lint

FEATURE TG-15467 add cache module
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/settings/schema.py
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/settings/cache/cache.component.html
  frontend/src/app/pages/settings/cache/cache.component.scss
  frontend/src/app/pages/settings/cache/cache.component.ts
  frontend/src/app/pages/settings/cache/cache.module.ts
  frontend/src/app/pages/settings/cache/cache.service.spec.ts
  frontend/src/app/pages/settings/cache/cache.service.ts
  frontend/src/app/pages/settings/system/system.component.html
  frontend/src/app/shared/components/table-into-component/table-into.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15467 add cache module
  backend/web_app/auth/handlers.py
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/settings/cache/cache.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15421 add new version docs
  docs/ru/broker/changelog/3.1.3.md
  docs/ru/broker/operator_guide/cache.md
  docs/ru/broker/operator_guide/interface.md
  docs/toc.yaml
Due: none

FEATURE TG-15309 бэкап только с явным указанием директории
  backend/common/backup/backup.config
  backend/common/backup/backup.sh
  backend/common/backup/restore.sh
  docs/ru/broker/faq/backup.md
Due: Python lint, Compilemessages job, Run tests

Feature tg-15446 Добавлена 2х-факторная аутентификация с qr-code
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/projects/thin-client/src/app/components/generate-qrcode/generate-qrcode.component.html
  frontend/projects/thin-client/src/app/components/generate-qrcode/generate-qrcode.component.scss
  frontend/projects/thin-client/src/app/components/generate-qrcode/generate-qrcode.component.ts
  frontend/projects/thin-client/src/app/components/generate-qrcode/qrcode.service.ts
  frontend/projects/thin-client/src/app/core/core.module.ts
  frontend/projects/thin-client/src/app/core/header-user/header-user.component.html
  frontend/projects/thin-client/src/app/core/header-user/header-user.component.ts
  frontend/projects/thin-client/src/app/core/services/user.service.ts
  frontend/projects/thin-client/src/app/interfaces/https.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.html
  frontend/projects/thin-client/src/app/pages/pools/pools.service.ts
Due: NPM lint

Change docs files
  docs/ru/broker/changelog/3.1.3.md
  docs/ru/broker/changelog/3.2.0.md
  docs/ru/broker/faq/backup.md
  docs/toc.yaml
Due: none

FEATURE 3.1.3
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-broker-va.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

FEATURE TG-15461 Докаю Конфиг файлы тк
  docs/ru/connect/ini_file_description.md
  docs/toc.yaml
Due: none

FEATURE datapool id
  devops/jenkins/veil-broker-va.groovy
Due: none

FETURE TG-14357 Рефреш при нулевом статусе и вход, перезапрос неудачной виндовой авторизации, вход по текущему токену
  frontend/src/app/app.module.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.service.ts
Due: NPM lint

Fix tg-15540 перенос стилей
  frontend/src/app/app.component.scss
  frontend/src/app/app.component.ts
  frontend/src/app/pages/dashboard/dashboard.component.scss
  frontend/src/app/pages/dashboard/dashboard.component.ts
  frontend/src/app/pages/login/login.scss
  frontend/src/app/shared/components/table-component/table-component.component.scss
  frontend/src/app/shared/styles/_common.scss
  frontend/src/app/shared/styles/_details-wrap.scss
  frontend/src/styles.scss
Due: NPM lint

Feature tg 15520
  backend/common/models/pool.py
  backend/common/settings.py
  backend/common/timezone.py
  backend/common/veil/veil_api.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

feature_tg_15479
  docs/ru/connect/operator_guide/Install/cd/linux.md
  docs/ru/connect/operator_guide/Install/cd/win.md
  docs/ru/connect/operator_guide/Install/index.md
  docs/ru/connect/operator_guide/Install/net/linux.md
  docs/ru/connect/operator_guide/Install/net/win.md
  docs/toc.yaml
Due: none

FEATURE_TG_15479 docs connect install
  docs/.gitignore
  docs/ru/connect/delete.md
  docs/ru/connect/operator_guide/install.md
  docs/ru/connect/operator_guide/install/cd/linux.md
  docs/ru/connect/operator_guide/install/cd/win.md
  docs/ru/connect/operator_guide/install/index.md
  docs/ru/connect/operator_guide/install/net/linux.md
  docs/ru/connect/operator_guide/install/net/win.md
  docs/ru/connect/operator_guide/process_install.md
  docs/ru/index.md
  docs/toc.yaml
Due: none

FIX TG-15587 disable google fonts
  docs/toc.yaml
Due: none

Feature tg 15589
  backend/web_app/app.py
  backend/web_app/journal/handlers.py
  backend/web_app/journal/urls.py
  backend/web_app/statistics/__init__.py
  backend/web_app/statistics/schema.py
  backend/web_app/tests/snapshots/snap_test_statistics_report.py
  backend/web_app/tests/test_statistics_report.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-15453 fix dependences + version
  backend/Pipfile
  backend/Pipfile.lock
  backend/dev-requirements.txt
  backend/requirements.txt
  backend/web_app/auth/handlers.py
Due: Python lint, Security check, Compilemessages job, Run tests

Feature tg-14906 Добавлен компонент статистики
  frontend/package-lock.json
  frontend/package.json
  frontend/projects/thin-client/src/app/core/services/auth.Interceptor.http.ts
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/log/events/all-events/events.component.html
  frontend/src/app/pages/log/statistics/statistics.component.html
  frontend/src/app/pages/log/statistics/statistics.component.scss
  frontend/src/app/pages/log/statistics/statistics.component.ts
  frontend/src/app/pages/log/statistics/statistics.module.ts
  frontend/src/app/pages/log/statistics/statistics.service.ts
Due: NPM lint

FIX TG-15453 fix packs
  backend/Pipfile
  backend/Pipfile.lock
  backend/dev-requirements.txt
  backend/requirements.txt
Due: Python lint, Security check, Compilemessages job, Run tests

FIX TG-15453 fix pipenv version
  .gitlab-ci.yml
Due: none

Feature tg-14906 Добавлен сервис
  frontend/src/app/pages/log/statistics/statistics.component.ts
  frontend/src/app/pages/log/statistics/statistics.service.ts
Due: NPM lint

FEATURE TG-15546 кэширование кластеров, пулов ресурсов, серверов, пулов данных
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15546 кэширование шаблонов и вм
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15546 шаблоны и вм с разными ключами
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15546 механизм обновления кэша
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 15521
  thin_client_emulator/Pipfile
  thin_client_emulator/README.md
  thin_client_emulator/__init__.py
  thin_client_emulator/locustfile.py
  thin_client_emulator/spice_session.py
  thin_client_emulator/user_credentials.py
Due: none

FEATURE TG-15546 ордеринг
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

Fix tg-15625 Отключены ссылки
  frontend/src/app/pages/statistics/statistics.component.ts
Due: NPM lint

FEATURE TG-15522 Added mac and hostname to tk connection data
  backend/common/migrations/versions/17997eb1f91f_tk_connections_add_mac_and_hostname.py
  backend/common/models/active_tk_connection.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

Move builders to openstack
  devops/jenkins/vdi-github-sync.groovy
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-va.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

FEATURE TG-15654 SSO from setting
  backend/web_app/auth/handlers.py
  frontend/src/app/pages/login/authStorage.service.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.guard.ts
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Revert "FEATURE TG-15654 SSO from setting"
  backend/web_app/auth/handlers.py
  frontend/src/app/pages/login/authStorage.service.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.guard.ts
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15654 SSO from setting
  backend/web_app/auth/handlers.py
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15546 тесты
  backend/web_app/tests/test_cache.py
Due: Python lint, Compilemessages job, Run tests
