Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.7-alpine

stages:
  - lint
  - security
  - tests

variables:
  PIP_ARGS: "-i http://nexus.bazalt.team/repository/pypi-proxy/simple --trusted-host nexus.bazalt.team"
  NPM_REGISTRY: "http://nexus.bazalt.team/repository/npm-proxy/"

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:latest
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm --registry $NPM_REGISTRY install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build -- --prod
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS pipenv==2021.5.29 safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-16451 Remove Pipfile
  .gitlab-ci.yml
  backend/Pipfile
  backend/Pipfile.lock
  backend/requirements.txt
  devops/docker/docker-compose.yml
  devops/docker/multiple-docker-compose.yml
Due: Python lint, Security check, Compilemessages job, Run tests

FEATURE TG-16448 Broker in docker
  devops/docker/multiple-docker-compose.yml
  devops/docker/prod/Dockerfile.backend
  devops/docker/prod/Dockerfile.frontend
  devops/docker/prod/Dockerfile.nginx
  devops/docker/prod/broker-docker-compose.yml
  devops/jenkins/veil-broker-docker-images.groovy
  devops/nginx/vdi.conf
Due: none

FIX TG-16540 Explicit timeout for get apps request
  backend/common/models/pool.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-16540 Patch bump
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-16586 docs: add info about RDP at Linux
  docs/ru/broker/faq/rdp/example_template_lin/basics_lin_rdp.md
  docs/ru/broker/faq/rdp/example_template_lin/index.md
  docs/toc.yaml
Due: none

Feature tg 15871
  backend/common/migrations/versions/39d6405e9691_table_user_favorite_pool.py
  backend/common/models/auth.py
  backend/common/models/pool.py
  backend/common/utils.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/urls.py
Due: Python lint, Compilemessages job, Run tests

Правки доков по замечаниям
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/install_os/1-7.md
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v4.md
  docs/ru/broker/operator_guide/pools.md
Due: none

Feature tg 16402
  backend/common/single_instance_locker.py
  backend/common/veil/veil_redis.py
  backend/monitor_worker/resources_monitor_manager.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/pool_worker/vm_manager.py
  backend/web_app/front_ws_api/handlers.py
  backend/web_app/tests/fixtures.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Update docs/ru/broker/faq/rdp/example_template_lin/basics_lin_rdp.md
  docs/ru/broker/faq/rdp/example_template_lin/basics_lin_rdp.md
Due: none

Update 1-7.md
  docs/ru/broker/engineer_guide/install_os/1-7.md
Due: none

Update prepare.md
  docs/ru/broker/engineer_guide/prepare.md
Due: none

Update pools.md
  docs/ru/broker/operator_guide/pools.md
Due: none

FEATURE TG-16671 docs: ref install veil-connect + add smolensk1.7
  docs/ru/broker/engineer_guide/install_os/1-7.md
  docs/ru/connect/operator_guide/install/net/linux.md
  docs/ru/connect/operator_guide/install/net/linux/alt9.md
  docs/ru/connect/operator_guide/install/net/linux/centos.md
  docs/ru/connect/operator_guide/install/net/linux/debian-ubuntu.md
  docs/ru/connect/operator_guide/install/net/linux/debian9.md
  docs/ru/connect/operator_guide/install/net/linux/index.md
  docs/ru/connect/operator_guide/install/net/linux/orel212.md
  docs/ru/connect/operator_guide/install/net/linux/redos72.md
  docs/ru/connect/operator_guide/install/net/linux/redos73.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk16.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk17.md
  docs/toc.yaml
Due: none

FIX TG-16674 Ws events fix
  backend/common/models/event.py
  backend/common/subscription_sources.py
  backend/web_app/front_ws_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Update install_kasper.md
  docs/ru/broker/engineer_guide/install_kasper.md
Due: none

Изменена версия Касперского и убран ключ для замкнутой среды
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install_kasper.md
Due: none

FEATURE TG-16688 Connections statistic
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/core/components/main-menu/main-menu.component.ts
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/pages/log/events/all-events/events.component.html
  frontend/src/app/pages/log/events/all-events/events.component.ts
  frontend/src/app/pages/log/log-setting/log-setting.component.ts
  frontend/src/app/pages/pools/all-pools/pools.component.html
  frontend/src/app/pages/pools/all-pools/pools.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/statistics/pools-statistics/collections.ts
  frontend/src/app/pages/statistics/pools-statistics/pool-statistics.module.ts
  frontend/src/app/pages/statistics/pools-statistics/pool-statistics.service.ts
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.html
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.scss
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.ts
  frontend/src/app/pages/statistics/statistics.service.ts
  frontend/src/app/pages/thin-clients/thin-clients.component.html
  frontend/src/app/shared/classes/details-move.ts
  frontend/src/app/shared/styles/_details-wrap.scss
Due: NPM lint

FIX TG-16688 Fix list of periods for connection statistic
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.html
Due: NPM lint

Попытка исправить форматирование команд
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/faq/backup_db/ver_2_1/creating_db.md
  docs/ru/broker/faq/backup_db/ver_2_2/creating_db.md
  docs/ru/broker/faq/backup_db/ver_3_2_0/creating_db.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/questions.md
  docs/ru/broker/faq/repo_without_inet/iso.md
  docs/ru/broker/faq/repo_without_inet/local_repo.md
  docs/ru/broker/faq/sizing/cpu.md
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-16700 Added loadplay protocol
  backend/common/migrations/versions/9f39f90cc36d_added_loadplay_connection_type.py
  backend/common/models/pool.py
  backend/web_app/statistics/schema.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Подправлена ссылка на Astra 1.7
  docs/ru/broker/engineer_guide/create_domains.md
Due: none

FEATURE TG-16657 port fix
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Попытка исправить форматирование команд
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-16566 Ability to add and remove multiple VMs to RDS pool
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.html
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.html
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.html
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.scss
  frontend/src/app/pages/statistics/pools-statistics/pools-statistics.component.ts
  frontend/src/app/shared/components/table-component/table-component.component.scss
  frontend/src/app/shared/styles/_details-wrap.scss
Due: NPM lint

FEATURE TG-16728 Doc
  docs/ru/connect/changelog/1.11.3.md
  docs/ru/connect/changelog/1.12.0.md
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/settings/rdp_settings.md
  docs/toc.yaml
Due: none

Попытка исправить форматирование команд
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/install_os/1-6.md
  docs/ru/broker/engineer_guide/install_os/1-7.md
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-16745 Added LOADPLAY connection type
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-vm-connection/add-vm-connection.component.ts
Due: NPM lint

FEATURE TG-16631 How to build (v4)
  how-to-build/v4/Dockerfile.v4
  how-to-build/v4/backend-build.sh
  how-to-build/v4/docs-build.sh
  how-to-build/v4/frontend-build.sh
  how-to-build/v4/iso-build.sh
  how-to-build/v4/thin-client-build.sh
  how-to-build/v4/vdi-server-4-build.md
Due: none

FIX TG-16799 Angular CLI Cache disabed
  frontend/angular.json
Due: NPM lint

FIX TG-16799 gitignore for angularcache
  frontend/.gitignore
Due: NPM lint

Feature tg 16625
  backend/common/single_instance_locker.py
  backend/monitor_worker/app.py
  backend/pool_worker/app.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
  docs/ru/broker/faq/update_v4.md
  docs/ru/connect/ini_file/example.md
  docs/ru/connect/possible_errors/common.md
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-16857 Doc
  backend/web_app/auth/handlers.py
  docs/ru/_assets/vdi/thin_client/connect_settings_rdp.png
  docs/ru/_assets/vdi/thin_client/loadplay_settings.png
  docs/ru/_assets/vdi/thin_client/remote_app_error_2.png
  docs/ru/connect/ini_file/example.md
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/settings/loadplay_settings.md
  docs/ru/connect/settings/rdp_settings.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

Форматирование команд
  docs/ru/broker/active_directory/ad_extend.md
  docs/ru/broker/auth_v3/info.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/install_os/1-7.md
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/faq/backup_db/ver_2_1/creating_db.md
  docs/ru/broker/faq/backup_db/ver_2_2/creating_db.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/repo_without_inet/iso.md
  docs/ru/broker/faq/repo_without_inet/local_repo.md
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/faq/vm/nvidia.md
  docs/ru/broker/operator_guide/sso/ad.md
  docs/ru/broker/operator_guide/sso/enable.md
  docs/ru/broker/pools/get-user-vm.md
  docs/ru/connect/ini_file/index.md
  docs/ru/connect/log_files_description.md
  docs/ru/connect/operator_guide/install/net/linux/alt9.md
  docs/ru/connect/operator_guide/install/net/linux/centos.md
  docs/ru/connect/operator_guide/install/net/linux/debian-ubuntu.md
  docs/ru/connect/operator_guide/install/net/linux/debian9.md
  docs/ru/connect/operator_guide/install/net/linux/index.md
  docs/ru/connect/operator_guide/install/net/linux/orel212.md
  docs/ru/connect/operator_guide/install/net/linux/redos72.md
  docs/ru/connect/operator_guide/install/net/linux/redos73.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk16.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk17.md
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/repo_without_inet.md
  docs/ru/connect/thin_clients/zero_clients/DHCP.md
  docs/ru/connect/thin_clients/zero_clients/TFTP.md
  docs/ru/connect/thin_clients/zero_clients/nfs.md
  docs/ru/connect/thin_clients/zero_clients/pxe.md
  docs/ru/connect/update.md
Due: none

Форматирование
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/faq/repo_without_inet/local_repo.md
  docs/ru/broker/faq/vm/nvidia.md
  docs/ru/broker/operator_guide/sso/ad.md
  docs/ru/connect/ini_file/remoteviewerconnect.md
  docs/ru/connect/operator_guide/install/net/linux/index.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk16.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk17.md
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/repo_without_inet.md
  docs/ru/connect/settings/thin_client_2fa_settings.md
  docs/ru/connect/thin_clients/zero_clients/DHCP.md
  docs/ru/connect/thin_clients/zero_clients/TFTP.md
  docs/ru/connect/thin_clients/zero_clients/nfs.md
  docs/ru/connect/thin_clients/zero_clients/pxe.md
  docs/ru/connect/update.md
Due: none

Update pxe.md
  docs/ru/connect/thin_clients/zero_clients/pxe.md
Due: none

FIX TG-16893 Fixed availability of PrepareVM method
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
Due: NPM lint

Feature tg 16762
  backend/common/migrations/Pipfile
  backend/common/models/authentication_directory.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/settings.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/auth/handlers.py
  docs/ru/broker/faq/install_v3.md
Due: Python lint, Compilemessages job, Run tests

Feature tg 16857
  backend/web_app/app.py
  devops/deb/veil-broker-backend/root/etc/systemd/system/vdi-web.service
  docs/ru/connect/changelog/1.13.0.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests
