Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-13531 Обновление changelog
  docs/ru/broker/pools/apps-pool.md
  docs/ru/connect/changelog/1.3.6.md
  docs/ru/connect/changelog/1.3.7.md
  docs/ru/connect/changelog/1.3.8.md
  docs/ru/connect/changelog/1.4.0.md
  docs/ru/connect/changelog/1.4.1.md
  docs/ru/connect/changelog/1.4.2.md
  docs/ru/connect/changelog/1.5.0.md
  docs/ru/connect/changelog/1.5.1.md
  docs/ru/connect/changelog/1.5.2.md
  docs/ru/connect/changelog/1.5.3.md
  docs/ru/connect/changelog/1.5.4.md
  docs/ru/connect/changelog/1.6.0.md
  docs/ru/connect/changelog/1.6.1.md
  docs/ru/connect/changelog/1.6.2.md
  docs/ru/connect/changelog/1.6.3.md
  docs/ru/connect/changelog/1.6.4.md
  docs/ru/connect/changelog/1.6.5.md
  docs/toc.yaml
Due: none

Улучшение качества
  docs/ru/broker/active_directory/ad_base.md
  docs/ru/broker/active_directory/ad_extend.md
  docs/ru/broker/active_directory/ad_vm_prepare.md
  docs/ru/broker/active_directory/info.md
  docs/ru/broker/auth_v3/client-permissions.md
  docs/ru/broker/auth_v3/groups.md
  docs/ru/broker/auth_v3/info.md
  docs/ru/broker/auth_v3/roles.md
  docs/ru/broker/auth_v3/users.md
  docs/ru/broker/changelog/2.1.4.md
  docs/ru/broker/changelog/3.0.0.md
  docs/ru/broker/changelog/3.1.0.md
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/faq/rdp/example_template_win.md
  docs/ru/broker/faq/vm/nvidia.md
  docs/ru/broker/operator_guide/clusters.md
  docs/ru/broker/operator_guide/resource_pools.md
  docs/ru/broker/pools/apps-pool.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/get-user-vm.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/broker/spec/domain-req.md
  docs/ru/broker/spec/ports_info.md
  docs/ru/broker/vm/guest_agent.md
  docs/ru/broker/worker/tasks.md
Due: none

FEATURE TG-13554 Описание файла настроек
  docs/ru/connect/ini_file_description.md
  docs/toc.yaml
Due: none

FEATURE TG-13560 Описание логирования ТК
  docs/ru/connect/log_files_description.md
  docs/toc.yaml
Due: none

Улучшение качества
  docs/ru/broker/active_directory/ad_extend.md
  docs/ru/broker/active_directory/ad_vm_prepare.md
  docs/ru/broker/auth_v3/info.md
  docs/ru/broker/faq/vm/nvidia.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/broker/vm/guest_agent.md
  docs/toc.yaml
Due: none

Update toc.yaml
  docs/toc.yaml
Due: none

Update index.md
  docs/ru/index.md
Due: none

ISSUE TG-13181
  devops/github/sync_repos.sh
Due: none

ISSUE TG-13181 скрипт синхронизации
  devops/github/sync_repos.sh
Due: none

Feature tg 13528
  backend/common/models/pool.py
  backend/web_app/auth/handlers.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13630 табуляция в доке
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-13646 форматирование длины строк по PEP8
  backend/common/models/active_tk_connection.py
  backend/common/models/auth.py
  backend/common/models/authentication_directory.py
  backend/common/models/controller.py
  backend/common/models/pool.py
  backend/common/models/task.py
  backend/common/models/vm.py
  backend/common/veil/veil_api.py
  backend/common/veil/veil_gino.py
  backend/common/veil/veil_handlers.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/pool_worker/vm_manager.py
  backend/web_app/auth/group_schema.py
  backend/web_app/auth/user_schema.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/controller/schema.py
  backend/web_app/front_ws_api/handlers.py
  backend/web_app/journal/schema.py
  backend/web_app/pool/schema.py
  backend/web_app/thin_client_api/schema.py
  backend/web_app/thin_client_api/urls.py
  backend/ws_listener_worker/resources_monitor.py
  backend/ws_listener_worker/resources_monitor_manager.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13563 Правка вкладки подключений ТК
  frontend/src/app/dashboard/common/components/shared/table-into-component/table-into.html
  frontend/src/app/dashboard/common/styles/_details-wrap.scss
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.component.ts
Due: NPM lint

FIX TG-13658 добавил проверку на присутствие контроллера для журнала контроллера
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13663 Вернул метод get_pool. Он отражает текущую архитектуру когда...
  backend/common/database.py
  backend/common/models/controller.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/veil/auth/veil_jwt.py
  backend/common/veil/veil_api.py
  backend/common/veil/veil_gino.py
  backend/common/veil/veil_graphene.py
  backend/common/veil/veil_validators.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/auth/license/handlers.py
  backend/web_app/auth/license/utils.py
  backend/web_app/auth/user_schema.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/controller/schema.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/thin_client_api/handlers.py
  backend/ws_listener_worker/resources_monitor.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13717
  backend/.editorconfig
  backend/pool_worker/pool_tasks.py
  backend/web_app/auth/group_schema.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_group.py
  backend/web_app/tests/test_message_chat.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/test_vms.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13736
  docs/ru/connect/changelog/1.6.6.md
  docs/ru/connect/changelog/1.6.7.md
  docs/ru/connect/one_app_mode.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/settings/rdp_settings.md
  docs/toc.yaml
Due: none

FEATURE TG-13736 Правки
  docs/ru/connect/settings/rdp_settings.md
Due: none

FEATURE TG-13653 Модуль отправки писем + переводы
  backend/Pipfile
  backend/Pipfile.lock
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/log/journal.py
  backend/common/migrations/versions/c2bd639f503d_smtp_settings.py
  backend/common/models/settings.py
  backend/dev-requirements.txt
  backend/requirements.txt
  backend/web_app/pool/schema.py
  backend/web_app/settings/schema.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Security check, Compilemessages job, Run tests

FEATURE TG-13653 переводы фикс
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13653 переводы фикс
  backend/web_app/tests/test_group.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13653 фикс теста
  backend/web_app/tests/test_group.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13688 Описание обновления с 3.0 в доке
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-13657 Задачи и события в подвале
  frontend/src/app/app.component.scss
  frontend/src/app/dashboard/common/components/shared/table-component/table-component.component.html
  frontend/src/app/dashboard/common/components/single/footer/footer.component.html
  frontend/src/app/dashboard/common/components/single/footer/footer.component.scss
  frontend/src/app/dashboard/common/components/single/footer/footer.component.ts
  frontend/src/app/dashboard/common/components/single/footer/footer.service.ts
  frontend/src/app/dashboard/common/components/single/main-menu/main-menu.component.scss
  frontend/src/app/dashboard/common/components/single/wait/wait.component.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/dashboard/log/events/all-events/events.component.html
  frontend/src/app/dashboard/log/events/all-events/events.component.ts
  frontend/src/app/dashboard/log/tasks/all-tasks/tasks.component.html
  frontend/src/app/dashboard/log/tasks/all-tasks/tasks.component.ts
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.ts
  frontend/src/styles.scss
Due: NPM lint

FIX TG-13750 добавил ссылку на токен + убрал несуществующую страницу в доке
  docs/ru/broker/operator_guide/controllers.md
  docs/toc.yaml
Due: none

FIX TG-13750 обновление index.md в доке
  docs/ru/index.md
Due: none

FEATURE TG-13657 Разделение событий на иконки warning error. Подписка на ws
  frontend/src/app/dashboard/common/components/single/footer/footer.component.html
  frontend/src/app/dashboard/common/components/single/footer/footer.component.scss
  frontend/src/app/dashboard/common/components/single/footer/footer.component.ts
  frontend/src/app/dashboard/common/components/single/footer/footer.service.ts
  frontend/src/app/dashboard/log/events/all-events/events.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/spice/spice.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.spec.ts
Due: NPM lint

Feature tg 13737
  backend/Pipfile
  backend/common/models/auth.py
  backend/common/models/controller.py
  backend/common/models/event.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/app.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/vm_manager.py
  backend/requirements.txt
  backend/web_app/app.py
  backend/web_app/auth/license/utils.py
  backend/web_app/front_ws_api/handlers.py
  backend/web_app/task/schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_auth_dir.py
  backend/web_app/tests/test_auth_v2.py
  backend/web_app/tests/test_controllers.py
  backend/web_app/tests/test_event.py
  backend/web_app/tests/test_front_ws_handling.py
  backend/web_app/tests/test_group.py
  backend/web_app/tests/test_license.py
  backend/web_app/tests/test_locale.py
  backend/web_app/tests/test_message_chat.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_resources_requests.py
  backend/web_app/tests/test_task.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/test_user_v2.py
  backend/web_app/tests/test_vms.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
  backend/ws_listener_worker/app.py
  backend/ws_listener_worker/resources_monitor.py
  backend/ws_listener_worker/resources_monitor_manager.py
Due: Python lint, Security check, Compilemessages job, Run tests

FIX TG-13657 Правки типов событи. Группировка по типам. Все события
  frontend/src/app/dashboard/common/components/single/footer/footer.component.html
  frontend/src/app/dashboard/common/components/single/footer/footer.component.scss
  frontend/src/app/dashboard/common/components/single/footer/footer.component.ts
  frontend/src/app/dashboard/common/components/single/footer/footer.service.ts
Due: NPM lint

FEATURE TG-13737 Правка доки
  backend/Pipfile.lock
  docs/ru/connect/install.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/update.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

refactor перенос компонента контроллеров из папки settings
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/dashboard/settings/controllers/add-controller/add-controller.component.html
  frontend/src/app/dashboard/settings/controllers/add-controller/add-controller.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/add-controller/add-controller.component.ts
  frontend/src/app/dashboard/settings/controllers/all-controllers/controllers.component.html
  frontend/src/app/dashboard/settings/controllers/all-controllers/controllers.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/all-controllers/controllers.component.ts
  frontend/src/app/dashboard/settings/controllers/all-controllers/controllers.service.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.scss
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.service.spec.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.service.ts
  frontend/src/app/dashboard/settings/controllers/controllers.module.ts
  frontend/src/app/dashboard/settings/controllers/remove-controller/remove-controller.component.html
  frontend/src/app/dashboard/settings/controllers/remove-controller/remove-controller.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/remove-controller/remove-controller.component.ts
Due: NPM lint

refactor перенос компонента контроллеров из папки settings
  frontend/src/app/dashboard/controllers/add-controller/add-controller.component.html
  frontend/src/app/dashboard/controllers/add-controller/add-controller.component.spec.ts
  frontend/src/app/dashboard/controllers/add-controller/add-controller.component.ts
  frontend/src/app/dashboard/controllers/all-controllers/controllers.component.html
  frontend/src/app/dashboard/controllers/all-controllers/controllers.component.spec.ts
  frontend/src/app/dashboard/controllers/all-controllers/controllers.component.ts
  frontend/src/app/dashboard/controllers/all-controllers/controllers.service.ts
  frontend/src/app/dashboard/controllers/controller-details/controller-details.component.html
  frontend/src/app/dashboard/controllers/controller-details/controller-details.component.spec.ts
  frontend/src/app/dashboard/controllers/controller-details/controller-details.component.ts
  frontend/src/app/dashboard/controllers/controller-details/controller-events/controller-events.component.html
  frontend/src/app/dashboard/controllers/controller-details/controller-events/controller-events.component.scss
  frontend/src/app/dashboard/controllers/controller-details/controller-events/controller-events.component.spec.ts
  frontend/src/app/dashboard/controllers/controller-details/controller-events/controller-events.component.ts
  frontend/src/app/dashboard/controllers/controller-details/controller-events/controller-events.service.spec.ts
  frontend/src/app/dashboard/controllers/controller-details/controller-events/controller-events.service.ts
  frontend/src/app/dashboard/controllers/controllers.module.ts
  frontend/src/app/dashboard/controllers/remove-controller/remove-controller.component.html
  frontend/src/app/dashboard/controllers/remove-controller/remove-controller.component.spec.ts
  frontend/src/app/dashboard/controllers/remove-controller/remove-controller.component.ts
Due: NPM lint
