Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

refactor перенос компоненента thin clients в pages
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/dashboard/thin-clients/thin-client-details/disconnect-thin-client/disconnect-thin-client.component.html
  frontend/src/app/dashboard/thin-clients/thin-client-details/disconnect-thin-client/disconnect-thin-client.component.scss
  frontend/src/app/dashboard/thin-clients/thin-client-details/disconnect-thin-client/disconnect-thin-client.component.ts
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.html
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.scss
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/dashboard/thin-clients/thin-client-statistic/thin-client-statistic.component.html
  frontend/src/app/dashboard/thin-clients/thin-client-statistic/thin-client-statistic.component.scss
  frontend/src/app/dashboard/thin-clients/thin-client-statistic/thin-client-statistic.component.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.component.html
  frontend/src/app/dashboard/thin-clients/thin-clients.component.scss
  frontend/src/app/dashboard/thin-clients/thin-clients.component.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.module.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.service.ts
Due: NPM lint

refactor перенос компоненента thin clients в pages
  frontend/src/app/dashboard/pages/thin-clients/thin-client-details/disconnect-thin-client/disconnect-thin-client.component.html
  frontend/src/app/dashboard/pages/thin-clients/thin-client-details/disconnect-thin-client/disconnect-thin-client.component.scss
  frontend/src/app/dashboard/pages/thin-clients/thin-client-details/disconnect-thin-client/disconnect-thin-client.component.ts
  frontend/src/app/dashboard/pages/thin-clients/thin-client-details/thin-client-details.component.html
  frontend/src/app/dashboard/pages/thin-clients/thin-client-details/thin-client-details.component.scss
  frontend/src/app/dashboard/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/dashboard/pages/thin-clients/thin-client-statistic/thin-client-statistic.component.html
  frontend/src/app/dashboard/pages/thin-clients/thin-client-statistic/thin-client-statistic.component.scss
  frontend/src/app/dashboard/pages/thin-clients/thin-client-statistic/thin-client-statistic.component.ts
  frontend/src/app/dashboard/pages/thin-clients/thin-clients.component.html
  frontend/src/app/dashboard/pages/thin-clients/thin-clients.component.scss
  frontend/src/app/dashboard/pages/thin-clients/thin-clients.component.ts
  frontend/src/app/dashboard/pages/thin-clients/thin-clients.module.ts
  frontend/src/app/dashboard/pages/thin-clients/thin-clients.service.ts
Due: NPM lint

Feature tg 13795
  .flake8
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/utils.py
  backend/monitor_worker/__init__.py
  backend/monitor_worker/app.py
  backend/monitor_worker/resources_monitor.py
  backend/monitor_worker/resources_monitor_manager.py
  backend/monitor_worker/tests/__init__.py
  backend/monitor_worker/thin_client_conn_monitor.py
  backend/web_app/settings/schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/snapshots/snap_test_settings.py
  backend/web_app/tests/test_settings.py
  devops/ansible/roles/broker/defaults/main.yml
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
  devops/deb/veil-broker-backend/root/etc/systemd/system/vdi-monitor_worker.service
  devops/docker/docker-compose.yml
  devops/docker/python/Dockerfile
  devops/docker/python/systemctl
  devops/update_2_to_3/migrate.sh
  docs/ru/broker/faq/backup.md
  docs/ru/broker/faq/services.md
  docs/ru/broker/faq/update_v3.md
Due: Python lint, Compilemessages job, Run tests

перенос компонентов
  frontend/angular.json
  frontend/src/app/dashboard/core/core.module.ts
  frontend/src/app/dashboard/shared/components/add-select/add-select.html
  frontend/src/app/dashboard/shared/components/add-select/add-select.scss
  frontend/src/app/dashboard/shared/components/add-select/add-select.ts
  frontend/src/app/dashboard/shared/components/pagination/pagination.component.html
  frontend/src/app/dashboard/shared/components/pagination/pagination.component.scss
  frontend/src/app/dashboard/shared/components/pagination/pagination.component.spec.ts
  frontend/src/app/dashboard/shared/components/pagination/pagination.component.ts
  frontend/src/app/dashboard/shared/components/table-component/table-component.component.html
  frontend/src/app/dashboard/shared/components/table-component/table-component.component.scss
  frontend/src/app/dashboard/shared/components/table-component/table-component.component.spec.ts
  frontend/src/app/dashboard/shared/components/table-component/table-component.component.ts
  frontend/src/app/dashboard/shared/components/table-into-component/table-into.html
  frontend/src/app/dashboard/shared/components/table-into-component/table-into.scss
  frontend/src/app/dashboard/shared/components/table-into-component/table-into.spec.ts
  frontend/src/app/dashboard/shared/components/table-into-component/table-into.ts
  frontend/src/app/dashboard/shared/pipes/statusEntity.pipe.ts
  frontend/src/app/dashboard/shared/pipes/statusIcon.pipe.ts
  frontend/src/app/dashboard/shared/shared.module.ts
Due: NPM lint

refactor: уборка ненужных импортов из core
  frontend/src/app/dashboard/core/core.module.ts
Due: NPM lint

Feature tg 13797
  backend/web_app/settings/schema.py
  backend/web_app/tests/test_settings.py
  devops/docker/builder/Dockerfile
  devops/docker/python/Dockerfile
Due: Python lint, Compilemessages job, Run tests

Quick doc edit
  docs/ru/connect/settings/rdp_settings.md
Due: none

FEATURE TG-13762 добавлена 2fa на бэк + частично на фронт
  backend/Pipfile
  backend/Pipfile.lock
  backend/common/migrations/versions/96d866b36fa2_two_factor_auth.py
  backend/common/models/auth.py
  backend/requirements.txt
  backend/web_app/auth/handlers.py
  backend/web_app/auth/user_schema.py
  frontend/src/app/dashboard/settings/users/all-users/users.component.ts
  frontend/src/app/dashboard/settings/users/user-details/user-details.component.ts
  frontend/src/app/dashboard/settings/users/users.service.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/login/login.html
  frontend/src/app/login/login.scss
Due: Python lint, NPM lint, Security check, Compilemessages job, Run tests

FEATURE TG-13762 добавил повтор кода, если не нужно гененрировать заново
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13762 tests fix
  backend/web_app/tests/test_auth_v2.py
  backend/web_app/tests/test_license.py
  backend/web_app/tests/test_locale.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/utils.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13795 Добавлен статус в ответе на действие над сервисом
  backend/web_app/settings/schema.py
  backend/web_app/tests/test_settings.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13763 описание 2FA в доке
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/operator_guide/prepare.md
  docs/ru/broker/operator_guide/users.md
Due: none

FEATURE TG-13763 описание 2FA в доке-2
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/operator_guide/users.md
Due: none

FEATURE TG-13763 описание 2FA в доке-3
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/operator_guide/users.md
Due: none

FEATURE TG-13763 описание 2FA в доке-4
  docs/ru/broker/auth_v3/info.md
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/operator_guide/users.md
Due: none

FEATURE TG-13763 описание 2FA в доке-5
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/operator_guide/users.md
Due: none

FEATURE TG-13763 описание 2FA в доке-6
  docs/ru/broker/auth_v3/users.md
  docs/ru/broker/operator_guide/users.md
Due: none

FEATURE TG-13762 change qr code data format for frontend
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13762 change naming
  backend/common/models/auth.py
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13859 Добавлена форма настройки двухфакторной аутентификации
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/common/styles/_form.scss
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.html
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.scss
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.spec.ts
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.ts
  frontend/src/app/dashboard/settings/users/user-details/user-details.component.ts
  frontend/src/app/dashboard/settings/users/users.module.ts
  frontend/src/app/dashboard/settings/users/users.service.ts
Due: NPM lint

FIX TG-13758 отмена создания пользователя, если проблема пароля astra
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13859 Добавлена кнопка генерации кода
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.html
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.scss
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.ts
Due: NPM lint

FEATURE TG-13859 Правки линтера
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.ts
Due: NPM lint

FEATURE TG-13859 Дислексия. Правки
  frontend/src/app/dashboard/settings/users/user-details/generate-qrcode/generate-qrcode.component.html
Due: NPM lint

FIX TG-13758 отмена лишней переменной
  devops/jenkins/veil-broker-orchestrator.groovy
Due: none

FIX TG-13758 разные снимки для публикации
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
Due: none

FEATURE TG-13859 Стили формы Login
  frontend/src/app/login/login.component.ts
  frontend/src/app/login/login.html
Due: NPM lint

REFACTOR TG-13780 Перенос метода о получение инфы о версии и дублированного метода лицензии из футер сервиса в license service, перенос метода countEvents в events service. Удаление футер сервиса
  frontend/src/app/core/components/footer/footer.component.html
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/core/components/footer/footer.service.spec.ts
  frontend/src/app/core/components/footer/footer.service.ts
  frontend/src/app/pages/log/events/all-events/events.service.ts
  frontend/src/app/pages/settings/license/license.component.ts
  frontend/src/app/pages/settings/license/license.service.ts
  frontend/src/app/shared/shared.module.ts
Due: NPM lint

REFACTOR TG-13780 Убран console.log
  frontend/src/app/core/components/footer/footer.component.ts
Due: NPM lint

FEATURE TG-13762 clear excess python library
  backend/Pipfile
  backend/Pipfile.lock
  backend/common/models/auth.py
  backend/requirements.txt
Due: Python lint, Security check, Compilemessages job, Run tests

FEATURE TG-13762 переводы
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13762 переводы-2
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FIX TG-13762 Лишний кусок кода
  frontend/src/app/dashboard/settings/users/user-details/user-details.component.ts
Due: NPM lint

FIX TG-13780 Странности линтера
  frontend/package.json
Due: NPM lint

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
