Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-13901 Добавлен компонент для табов и кнопка обновить
  frontend/src/app/app.module.ts
  frontend/src/app/pages/settings/system/system.component.html
  frontend/src/app/pages/settings/system/system.component.ts
  frontend/src/app/shared/components/tabs/tab/tab.component.html
  frontend/src/app/shared/components/tabs/tab/tab.component.scss
  frontend/src/app/shared/components/tabs/tab/tab.component.ts
  frontend/src/app/shared/components/tabs/tabs.component.html
  frontend/src/app/shared/components/tabs/tabs.component.scss
  frontend/src/app/shared/components/tabs/tabs.component.ts
  frontend/src/app/shared/shared.module.ts
Due: NPM lint

FEATURE TG-13902 Фикс линты
  frontend/src/app/pages/settings/system/system.component.ts
  frontend/src/app/shared/components/tabs/tabs.component.ts
Due: NPM lint

FIX TG-13992 починил подготовку вм в автопуле
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13901 Добавлен сервис и маппер
  frontend/src/app/pages/settings/groups/groups.service.ts
  frontend/src/app/pages/settings/service-page/service-page.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.mapper.ts
  frontend/src/app/pages/settings/service-page/service-page.service.ts
Due: NPM lint

FEATURE TG-12428 Валидация пароля и имени пользователя
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-12428 Валидация имени пользователя при синхронизации
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13901 Добавлен сервис и маппер
  frontend/src/app/pages/pools/all-pools/pools.service.ts
  frontend/src/app/pages/settings/service-page/service-page.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.mapper.ts
  frontend/src/app/pages/settings/service-page/service-page.service.ts
  frontend/src/app/shared/forms-dinamic/yes-no-form/yes-no-form.component.ts
Due: NPM lint

FIX TG-13902 Фикс активной вкладки при клике на раздел система
  frontend/src/app/core/components/main-menu/main-menu.component.html
Due: NPM lint

FEATURE TG-12317 отзыв токена присмене пароля и деактивации + правка доки для OU
  backend/common/models/auth.py
  backend/web_app/pool/schema.py
  docs/ru/_assets/vdi/pool/autopool_v3_2.png
  docs/ru/_assets/vdi/pool/guestpool.png
  docs/ru/broker/operator_guide/ad.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-13962 фикс старта apache
  devops/installer/install.sh
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

FIX TG-13962 фикс старта apache-2
  devops/installer/install.sh
Due: none

FIX TG-13962 закомментированные vnc и spice
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

FEATURE TG-12460 Предупреждения о неправильном создании пользователя
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13907 обновлены переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FIX TG-13979 Закрытие модалок по завершению сессии. Дата в событиях
  frontend/src/app/pages/dashboard/dashboard.component.ts
  frontend/src/app/pages/log/events/all-events/events.component.ts
Due: NPM lint

FEATURE TG-13901 Добавлены таблица с отображением сервисов, кнопки упараления системами и модальное окно для подтверждения пароля
  frontend/src/app/app.module.ts
  frontend/src/app/pages/controllers/controller-details/controller-events/controller-events.component.spec.ts
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/spice/spice.component.spec.ts
  frontend/src/app/pages/pools/pools.module.ts
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.scss
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.html
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.scss
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.ts
  frontend/src/app/pages/settings/service-page/service-page.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.scss
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.mapper.ts
  frontend/src/app/pages/settings/service-page/service-page.module.ts
  frontend/src/app/pages/settings/service-page/service-page.service.ts
  frontend/src/app/pages/settings/users/user-details/generate-qrcode/generate-qrcode.component.spec.ts
  frontend/src/app/shared/components/table-component/table-component.component.html
  frontend/src/app/shared/components/table-component/table-component.component.scss
  frontend/src/app/shared/components/table-component/table-component.component.ts
Due: NPM lint

FEATURE TG-13901 Убран лишний console.log
  frontend/src/app/shared/components/table-component/table-component.component.ts
Due: NPM lint

FEATURE TG-13901 Добавлен рефреш, убран лишний метод
  frontend/src/app/pages/settings/service-page/service-page.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.ts
Due: NPM lint

FEATURE TG-13901 Включение спиннера для рефреш
  frontend/src/app/pages/settings/service-page/service-page.component.ts
Due: NPM lint

FEATURE TG-13795 Small fix
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14024 Правка доки по changelog
  docs/ru/broker/changelog/3.1.1.md
  docs/ru/broker/faq/questions.md
  docs/toc.yaml
Due: none

Объединение информации из двух разделов
  docs/ru/connect/operator_guide/install.md
  docs/ru/connect/operator_guide/start.md
  docs/toc.yaml
Due: none

FEATURE TG-14024 Правка доки по AD
  docs/ru/broker/operator_guide/ad.md
Due: none

FEATURE TG-14024 Форматирование доки
  docs/ru/broker/changelog/3.1.1.md
Due: none

FIX TG-14076 Фикс доступа по ролям
  backend/common/veil/veil_decorators.py
Due: Python lint, Compilemessages job, Run tests

Улучшение качества
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/rdp/example_template_win.md
  docs/ru/broker/faq/repo_without_inet.md
  docs/ru/broker/faq/update_v3.md
Due: none

FEATURE TG-14024 инструкция для VA
  docs/ru/broker/faq/install_v3.md
  docs/toc.yaml
Due: none

FEATURE TG-14024 инструкция для VA-2
  docs/ru/broker/faq/install_v3.md
Due: none

Улучшение качества
  docs/ru/broker/faq/install_v3.md
Due: none

FIX TG-13795 Валидая полей в запросах сервисов
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14024 доработка установки в доке
  docs/ru/broker/faq/install_v3.md
Due: none

FEATURE TG-14064 Добавлена валидация и поля для модального окна сервисов
  frontend/src/app/pages/settings/auth-directory/add-auth-directory/add-auth-directory.component.ts
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.html
  frontend/src/app/pages/settings/service-page/service-page.component.scss
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.module.ts
  frontend/src/app/pages/settings/service-page/service-page.service.ts
  frontend/src/app/shared/styles/_form.scss
Due: NPM lint

FEATURE TG-14064 Фикс для модального окна сервисов и мапперов
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/service-page/service-page.mapper.ts
  frontend/src/app/pages/settings/system/system.mapper.ts
Due: NPM lint

Небольшая коррекция доков
  docs/ru/broker/auth_v3/client-permissions.md
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/engineer_guide/integrity_check.md
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/faq/backup.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/questions.md
  docs/ru/broker/faq/rdp/example_template_win.md
  docs/ru/broker/faq/repo_without_inet.md
  docs/ru/broker/faq/update_v3.md
Due: none

Небольшая коррекция доков
  docs/ru/broker/changelog/3.1.0.md
  docs/ru/broker/changelog/3.1.1.md
  docs/ru/broker/operator_guide/interface.md
  docs/ru/broker/pools/apps-pool.md
  docs/ru/broker/pools/get-user-vm.md
  docs/ru/connect/possible_errors/rdp.md
Due: none

Небольшая коррекция доков
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/broker/spec/domain-req.md
  docs/ru/connect/operator_guide/install.md
  docs/ru/connect/operator_guide/vm_window.md
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/possible_errors/rdp.md
Due: none

Небольшая коррекция доков
  docs/ru/broker/active_directory/ad_base.md
  docs/ru/broker/active_directory/ad_extend.md
  docs/ru/connect/changelog/1.6.3.md
  docs/ru/connect/possible_errors/spice.md
Due: none

FEATURE TG-8220 Скаляр для длины строки в graphQL
  backend/web_app/graphene_utils.py
Due: Python lint, Compilemessages job, Run tests

Исправлена ссылка с IP-адресом
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/faq/install_v3.md
Due: none

Refactor TG-14119 Замена moment на date pipe и нативный Date
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/shared/components/table-component/table-component.component.html
  frontend/src/app/shared/components/table-component/table-component.component.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.ts
Due: NPM lint
