Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

Feature tg 12987
  frontend/src/app/dashboard/common/components/single/main-menu/main-menu.component.html
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/dashboard/log/tasks/all-tasks/tasks.component.scss
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.html
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.scss
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.spec.ts
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.ts
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.service.ts
  frontend/src/app/dashboard/log/veil-events/veil-events.module.ts
  frontend/src/app/dashboard/log/veil-events/veil-info-event/info-event.component.html
  frontend/src/app/dashboard/log/veil-events/veil-info-event/info-event.component.scss
  frontend/src/app/dashboard/log/veil-events/veil-info-event/info-event.component.spec.ts
  frontend/src/app/dashboard/log/veil-events/veil-info-event/info-event.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.scss
Due: NPM lint

FEATURE TG-13009 Doc: fix veil-agent link
  docs/ru/vdi/broker/vm/guest_agent.md
Due: none

Feature tg 13001
  backend/web_app/controller/schema.py
  backend/web_app/journal/schema.py
  frontend/src/app/dashboard/common/components/shared/table-component/table-component.component.html
  frontend/src/app/dashboard/common/components/shared/table-into-component/table-into.html
  frontend/src/app/dashboard/common/pipes/statusEntity.pipes.ts
  frontend/src/app/dashboard/common/pipes/taskType.pipes.ts
  frontend/src/app/dashboard/common/shared.module.ts
  frontend/src/app/dashboard/log/tasks/all-tasks/tasks.component.ts
  frontend/src/app/dashboard/log/tasks/info-tasks/info-tasks.component.ts
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.html
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.component.ts
  frontend/src/app/dashboard/log/veil-events/veil-all-events/events.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 12705
  backend/Pipfile.lock
  backend/common/models/vm.py
  backend/requirements.txt
Due: Python lint, Compilemessages job, Run tests

Feature tg 12599
  backend/common/models/pool.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-12998 Trusted deb repo for iso installer
  devops/installer/install.sh
Due: none

FEATURE TG-13021 переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

Feature tg 13001
  frontend/src/app/dashboard/log/tasks/all-tasks/tasks.component.html
Due: NPM lint

Fix tg 13011
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.service.ts
Due: NPM lint

Feature tg 12426
  backend/web_app/journal/schema.py
  backend/web_app/tests/.coveragerc
  backend/web_app/tests/test_event.py
  devops/docker/test-docker-compose.yml
  frontend/src/app/dashboard/log/events/all-events/events.component.ts
  frontend/src/app/dashboard/log/events/all-events/events.service.ts
  frontend/src/app/dashboard/pools/all-pools/pools.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-13073 Cache for pip and npm deps
  .gitlab-ci.yml
  devops/docker/builder/Dockerfile
  devops/docker/builder/pip.conf
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
Due: none

Feature tg 12913
  docs/ru/_assets/vdi/pool/guestpool.png
  docs/ru/vdi/broker/pools/guest_pool.md
  docs/toc.yaml
Due: none

Feature tg 12962
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/common/components/single/main-menu/main-menu.component.html
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.html
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.scss
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.component.html
  frontend/src/app/dashboard/thin-clients/thin-clients.component.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.module.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.service.ts
Due: NPM lint

FIX TG-13045 фикс информации от гостевого агента + FEATURE TG-12917 фикс ошибок для spice/vnc соединений
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13046 Переподключение SPICE VNC
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/spice/spice.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/spice/spice.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: NPM lint

Feature tg 13023
  backend/Pipfile.lock
  backend/common/models/vm.py
  backend/requirements.txt
Due: Python lint, Compilemessages job, Run tests

FEATURE_TG_13050: описание миграции в доке
  docs/ru/vdi/broker/how_to/update_v3.md
Due: none

Feature tg 12933
  backend/common/migrations/versions/5f6ebf8486ec_create_table_rds_pool.py
  backend/common/models/active_tk_connection.py
  backend/common/models/controller.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13057
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-13056 vdi-orchestrator
  devops/jenkins/veil-broker-orchestrator.groovy
Due: none

Feature tg 13085
  backend/common/models/pool.py
  backend/web_app/auth/handlers.py
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 13084
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE_TG_13089: для списка пользователей пула добавил проверку нахождения в системной группе (на случай PAM)
  backend/common/models/auth.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/requirements.txt
  backend/web_app/pool/schema.py
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE_TG_13089: для списка пользователей пула добавил проверку нахождения в системной группе (на случай PAM)
  backend/web_app/auth/user_schema.py
  frontend/src/app/dashboard/settings/users/users.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 13069
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/veil/veil_gino.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13084
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/pool.py
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/dashboard/resourses/nodes/all-nodes/nodes.component.ts
  frontend/src/app/dashboard/resourses/nodes/node-details/node-details.component.ts
  frontend/src/app/dashboard/settings/controllers/add-controller/add-controller.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-13106 Changelog
  docs/ru/connect/changelog/1.5.3.md
  docs/ru/connect/changelog/1.5.4.md
  docs/ru/connect/changelog/1.6.0.md
  docs/toc.yaml
Due: none

FEATURE_TG_13100: предотвращение возможной strip error.
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE_TG_13114: Pool.vm sorting updates
  backend/common/models/pool.py
Due: Python lint, Compilemessages job, Run tests

FEATURE_TG_13108: domain_name upper case
  backend/common/models/authentication_directory.py
  backend/common/models/pool.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  backend/web_app/tests/test_auth_dir.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13126
  backend/common/migrations/versions/20f6b791a16c_add_task_type_vms_remove.py
  backend/common/models/task.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_pool.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE_TG_13113: выдача свободных ВМ пользователю - обновленный алгоритм
  backend/common/models/auth.py
  backend/common/models/pool.py
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-13105 Правка двойного запроса. TG-13121 AFK === null
  frontend/src/app/dashboard/common/components/shared/table-component/table-component.component.html
  frontend/src/app/login/login.component.ts
  frontend/src/app/login/login.html
Due: NPM lint

Feature tg 13157
  docs/ru/broker/changelog/3.1.0.md
Due: none

Fix tg 13115
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/migrations/versions/cff542bb5131_add_task_type_vm_guest_recreation.py
  backend/common/models/active_tk_connection.py
  backend/common/models/pool.py
  backend/common/models/task.py
  backend/common/models/vm.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/thin_client_api/handlers.py
  frontend/src/app/dashboard/common/pipes/taskType.pipes.ts
  frontend/src/app/dashboard/log/tasks/all-tasks/tasks.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests
