Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.7-alpine

stages:
  - lint
  - security
  - tests

variables:
  PIP_ARGS: "-i http://nexus.bazalt.team/repository/pypi-proxy/simple --trusted-host nexus.bazalt.team"
  NPM_REGISTRY: "http://nexus.bazalt.team/repository/npm-proxy/"

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:latest
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm --registry $NPM_REGISTRY install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build -- --prod
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS pipenv==2021.5.29 safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-16632 Broker in docker
  backend/requirements.txt
  devops/docker/builder/Dockerfile
  devops/docker/prod/Dockerfile.backend
  devops/docker/prod/Dockerfile.frontend
  devops/docker/prod/Dockerfile.nginx
  devops/docker/prod/broker-docker-stack.yml
  devops/docker/prod/nginx-vdi.conf
  devops/jenkins/veil-broker-docker-images.groovy
  docs/requirements.txt
Due: Python lint, Compilemessages job, Run tests

Feature tg 16934
  backend/common/models/auth.py
  backend/common/models/authentication_directory.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/auth/user_schema.py
  backend/web_app/tests/test_auth_dir.py
  backend/web_app/tests/test_user_v2.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-16993 Deliting users from vdi broker
  frontend/src/app/pages/settings/users/all-users/users.component.ts
  frontend/src/app/pages/settings/users/user-details/remove-user/remove-user.component.html
  frontend/src/app/pages/settings/users/user-details/remove-user/remove-user.component.ts
  frontend/src/app/pages/settings/users/user-details/user-details.component.html
  frontend/src/app/pages/settings/users/user-details/user-details.component.ts
  frontend/src/app/pages/settings/users/users.module.ts
  frontend/src/app/pages/settings/users/users.service.ts
Due: NPM lint

FEATURE TG-16986 Translations
  backend/common/compilemessages.sh
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/monitor_worker/thin_client_conn_monitor.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17000 Refactor
  backend/common/models/authentication_directory.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17000 Small ldap auth fix
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/authentication_directory.py
  backend/common/settings.py
  backend/common/veil/veil_gino.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17019 Move to 4.1 version
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docker-images.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-broker-va.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

FEATURE TG-16936 Fix after release candidate test
  backend/common/settings.py
  backend/pool_worker/pool_tasks.py
  devops/deb/veil-broker-backend/root/etc/systemd/system/vdi-web.service
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17027 Doc
  docs/ru/broker/changelog/4.1.0.md
  docs/ru/connect/changelog/1.13.1.md
  docs/toc.yaml
Due: none

FEATURE TG-17029 Doc fix
  docs/ru/_assets/vdi/thin_client/loudplay_settings.png
  docs/ru/broker/changelog/4.1.0.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v4.md
  docs/ru/connect/changelog/1.12.0.md
  docs/ru/connect/changelog/1.13.2.md
  docs/ru/connect/settings/loadplay_settings.md
  docs/toc.yaml
Due: none

FEATURE TG-17027 Doc update
  docs/ru/broker/faq/update_v4.md
Due: none

FEATURE TG-17027 Doc fix
  docs/ru/_assets/vdi/thin_client/loudplay_settings.png
  docs/ru/broker/faq/update_v4.md
Due: none

FEATURE TG-17027 Doc fix
  docs/ru/connect/settings/loudplay_settings.md
Due: none

Astra SE 1.7 docs fix
  docs/ru/broker/faq/repo_without_inet/local_repo.md
  docs/ru/broker/faq/repo_without_inet/qcow2.md
  docs/ru/connect/operator_guide/install/index.md
  docs/ru/connect/operator_guide/install/net/linux/index.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk16.md
  docs/ru/connect/operator_guide/install/net/linux/smolensk17.md
  docs/toc.yaml
Due: none

FEATURE TG-16236 docs: add arch of VDI
  docs/ru/_assets/vdi/components.png
  docs/ru/_assets/vdi/vdi.png
  docs/ru/broker/faq/arch/index.md
  docs/ru/broker/faq/arch/interaction.md
  docs/ru/broker/faq/sizing/network.md
  docs/toc.yaml
Due: none

Update docs/ru/broker/faq/sizing/network.md
  docs/ru/broker/faq/sizing/network.md
Due: none

FEATURE TG-17182 Optional deleting_computers_from_ad
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17182 deleting_computers_from_ad_enabled for vm removing
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/auth/handlers.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17198 Doc
  docs/ru/broker/changelog/4.1.1.md
  docs/ru/broker/faq/update_v4.md
  docs/toc.yaml
Due: none

FEATURE TG-17186 Deleting computers from AD
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/remove-pool/remove-pool.component.html
  frontend/src/app/pages/pools/pool-details/remove-pool/remove-pool.component.ts
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.html
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.ts
Due: NPM lint

FIX TG-17186 AD instead AC in params
  frontend/src/app/pages/pools/pool-details/remove-pool/remove-pool.component.html
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.html
Due: NPM lint

Fix tg 17191
  backend/common/migrations/Pipfile
  backend/common/migrations/versions/2a4bec3a23d3_loadplay_to_loudplay.py
  backend/common/models/pool.py
  backend/common/settings.py
  backend/web_app/thin_client_api/handlers.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-vm-connection/add-vm-connection.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 17179
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/migrations/versions/d975fd61c002_license_in_db.py
  backend/common/models/active_tk_connection.py
  backend/common/models/license.py
  backend/common/veil/veil_redis.py
  backend/web_app/app.py
  backend/web_app/auth/license/handlers.py
  backend/web_app/auth/license/utils.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/utils.py
  backend/web_app/tests/veil_server/test_server.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17100 Jenkins shared libraries
  devops/jenkins/vars/buildParameters.groovy
  devops/jenkins/vars/buildSteps.groovy
  devops/jenkins/vars/notifyBuild.groovy
  devops/jenkins/vdi-github-sync.groovy
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docker-images.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-broker-va.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

FIX TG-17235 User name validation fix
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

Удален подраздел "Статистика" в Тонких клиентах
  docs/ru/broker/operator_guide/thin_client.md
Due: none

Удален подраздел "Статистика" в Тонких клиентах
  docs/ru/broker/operator_guide/interface.md
Due: none

Update interface.md
  docs/ru/broker/operator_guide/interface.md
Due: none

Изменена структура разделов по установке Брокера
  backend/common/migrations/env.py
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/engineer_guide/install/base/AUTH.md
  docs/ru/broker/engineer_guide/install/base/PAM
  docs/ru/broker/engineer_guide/install/base/PAM.md
  docs/ru/broker/engineer_guide/install/general_settings.md
  docs/ru/broker/engineer_guide/install/install.md
  docs/ru/broker/engineer_guide/install/install_os/1-6.md
  docs/ru/broker/engineer_guide/install/install_os/1-7.md
  docs/ru/broker/engineer_guide/install/install_os/index.md
  docs/ru/broker/engineer_guide/install/prepare/create_domains.md
  docs/ru/broker/engineer_guide/install/prepare/index.md
  docs/ru/broker/engineer_guide/install/prepare/integrity_check.md
  docs/ru/broker/faq/install/install_step1.md
  docs/ru/broker/faq/install/install_step2.md
  docs/ru/broker/faq/install/install_step3.md
  docs/ru/broker/faq/install/install_step4.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/index.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

Изменена структура разделов по установке Брокера
  docs/ru/broker/engineer_guide/prepare.md
  docs/toc.yaml
Due: none

Изменена структура разделов по установке Брокера
  docs/ru/broker/engineer_guide/install/prepare.md
Due: none

Изменена структура разделов по установке Брокера
  docs/ru/broker/engineer_guide/install/base/faervol.md
  docs/ru/broker/engineer_guide/install/general_settings.md
  docs/ru/broker/engineer_guide/install/install_broker.md
  docs/ru/broker/engineer_guide/install/install_os/index.md
  docs/ru/broker/engineer_guide/install/prepare/install_os.md
  docs/ru/broker/engineer_guide/install/prepare/install_os/1-6.md
  docs/ru/broker/engineer_guide/install/prepare/install_os/1-7.md
  docs/toc.yaml
Due: none

Изменена структура разделов по установке Брокера
  docs/toc.yaml
Due: none

Delete PAM
  docs/ru/broker/engineer_guide/install/base/PAM
Due: none

Добавлено примечание при удалении пула и удалении записи в AD
  docs/ru/broker/changelog/3.1.0.md
  docs/ru/broker/faq/backup_db/ver_2_2/creating_db.md
  docs/ru/broker/faq/backup_db/ver_3.md
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/toc.yaml
Due: none

FEATURE TG-17251 added: how to work with Getmobit
  docs/ru/connect/thin_clients/getmobit.md
Due: none

В пулах добавлен раздел "Действия над ВМ"
  docs/ru/_assets/vdi/pool/activity_VM.png
  docs/ru/_assets/vdi/pool/free_VM.png
  docs/ru/_assets/vdi/pool/free_VM_chek.png
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/free_VM.md
  docs/toc.yaml
Due: none

В пулах добавлен раздел "Действия над ВМ"
  docs/ru/_assets/vdi/pool/autopool_v3_1.png
  docs/ru/_assets/vdi/pool/free_VM.png
Due: none

Update free_VM.md
  docs/ru/broker/pools/free_VM.md
Due: none
