Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-16275 package.json
  frontend/package.json
  frontend/src/app/pages/controllers/all-controllers/controllers.service.ts
Due: NPM lint

FEATURE TG-16275 Apollo update v3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/pages/dashboard/dashboard.module.ts
Due: NPM lint

FEATURE TG-16275 Fix for apollo
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/settings/service-page/service-page.component.ts
  frontend/src/app/pages/settings/smtp/smtp.component.ts
  frontend/src/app/pages/settings/system/system.component.ts
  frontend/src/app/pages/statistics/statistics.component.ts
Due: NPM lint

FIX TG-16282 Fix vdi-docs build
  devops/docker/builder/Dockerfile
Due: none

FEATURE TG-16275 Final update to v13.3.0
  .gitlab-ci.yml
  devops/docker/angular/Dockerfile
  devops/docker/angular/proxy.conf.containers.json
  frontend/.browserslistrc
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/projects/thin-client/.browserslistrc
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/environments/environment.ts
  frontend/src/proxy.conf.json
  frontend/src/reset.scss
  frontend/tsconfig.json
Due: NPM lint

FEATURE TG-16275 Set engine version to package.json
  frontend/package.json
Due: NPM lint

FEATURE TG-16275 Edit dockerfile for angular
  devops/docker/angular/Dockerfile
  frontend/package-lock.json
Due: NPM lint

FEATURE TG-16275 Edit image for gitlab ci
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

FIX TG-16275 Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Подправлена ссылка
  docs/ru/broker/faq/update_v4.md
Due: none

FEATURE TG-16346 Node.js 16
  devops/docker/builder/Dockerfile
Due: none

FEATURE TG-16357 Doc
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/connect/ini_file/remoteviewerconnect.md
  docs/toc.yaml
Due: none

Feature tg 16363
  backend/common/models/controller.py
  backend/web_app/cluster_type.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/controller/schema.py
  backend/web_app/data_pool_type.py
  backend/web_app/journal/schema.py
  backend/web_app/node_type.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/snapshots/snap_test_controllers.py
  backend/web_app/vm_type.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-16394 Module packing
  backend/Pipfile
  backend/requirements.txt
Due: Python lint, Security check, Compilemessages job, Run tests

Feature tg 16398
  backend/common/settings.py
  backend/web_app/app.py
  devops/docker/multiple-docker-compose.yml
  devops/docker/python/app.containers.py
  devops/docker/python/settings.containers.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 16292
  backend/common/settings.py
  backend/web_app/thin_client_api/handlers.py
  devops/ansible/roles/broker/tasks/main.yml
  docs/ru/_assets/vdi/thin_client/connect_settings_basic.png
  docs/ru/_assets/vdi/thin_client/connect_settings_rdp.png
  docs/ru/_assets/vdi/thin_client/connect_settings_x2go.png
  docs/ru/_assets/vdi/thin_client/connect_start_window.png
  docs/ru/_assets/vdi/thin_client/service_settings.png
  docs/ru/_assets/vdi/thin_client/settings_spice.png
  docs/ru/_assets/vdi/thin_client/windows_updates_url.png
  docs/ru/connect/operator_guide/interface.md
  docs/ru/connect/operator_guide/pools.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/possible_errors/spice.md
  docs/ru/connect/settings/main_settings.md
  docs/ru/connect/settings/rdp_settings.md
  docs/ru/connect/settings/spice_settings.md
Due: Python lint, Compilemessages job, Run tests

Грамматика
  docs/ru/broker/operator_guide/prepare.md
  docs/ru/broker/operator_guide/start.md
Due: none

FEATURE TG-16421 node_id parameter removed
  backend/common/models/vm.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

Add prod-40 repo
  devops/jenkins/veil-broker-va.groovy
Due: none

Add prod-40 repo-2
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

FEATURE TG-16357 Changelog
  docs/ru/broker/changelog/3.2.1.md
  docs/ru/broker/changelog/4.0.0.md
  docs/ru/connect/changelog/1.11.2.md
  docs/ru/connect/settings/service_settings.md
  docs/toc.yaml
Due: none

Грамматика, пунктуация
  docs/ru/broker/operator_guide/pools.md
Due: none

FIX TG-16483 Outdaded token in memory
  README.md
  backend/common/models/controller.py
  backend/common/veil/veil_api.py
  backend/web_app/app.py
  backend/web_app/tests/fixtures.py
Due: Python lint, Compilemessages job, Run tests

Грамматика, пунктуация
  docs/ru/broker/operator_guide/ad.md
  docs/ru/broker/operator_guide/datapools.md
  docs/ru/broker/operator_guide/groups.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/operator_guide/resource_pools.md
  docs/ru/broker/operator_guide/sso/ad.md
  docs/ru/broker/operator_guide/sso/index.md
  docs/ru/broker/operator_guide/users.md
Due: none

Грамматика, пунктуация
  docs/ru/broker/operator_guide/cache.md
  docs/ru/broker/operator_guide/groups.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/operator_guide/smtp.md
  docs/ru/broker/operator_guide/sso/browser.md
  docs/ru/broker/operator_guide/sso/enable.md
  docs/ru/broker/operator_guide/users.md
  docs/ru/broker/operator_guide/web_stats.md
  docs/ru/connect/thin_clients/application2.md
  docs/ru/connect/thin_clients/application3.md
  docs/ru/connect/thin_clients/thin_clients.md
  docs/ru/connect/thin_clients/zero_clients/pxe.md
Due: none

FEATURE TG-16472 Design
  frontend/src/app/dashboard/dashboard.component.scss
  frontend/src/assets/cover-2k.jpeg
  frontend/src/assets/cover.jpeg
Due: NPM lint

FEATURE TG-16472 ESlint
  frontend/src/app/pages/controllers/controller-details/controller-details.component.ts
  frontend/src/app/pages/controllers/controller-details/controller-events/controller-events.service.spec.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.spec.ts
Due: NPM lint

Грамматика, пунктуация
  docs/ru/broker/faq/repo_without_inet/iso.md
  docs/ru/broker/operator_guide/web_stats.md
Due: none

FEATURE TG-16515 Grouping information for thin client
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/thin-clients/thin-client-details/collections.ts
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.html
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.service.ts
  frontend/src/app/shared/components/checkbox-input/checkbox-input.component.scss
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.scss
  frontend/src/app/shared/components/table-into-component/table-into.ts
Due: NPM lint

FEATURE TG-16518 Agent setup description fix
  docs/ru/broker/vm/guest_agent.md
Due: none

FEATURE TG-16523 Navigate to the list of thin clients by the ws message
  frontend/src/app/core/components/footer/footer.component.html
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/core/services/websock.service.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.service.ts
  frontend/src/app/shared/components/table-component/table-component.component.html
  frontend/src/app/shared/components/table-into-component/table-into.html
Due: NPM lint

FEATURE TG-16526 Parameters of vm connection
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/log/events/all-events/events.component.ts
  frontend/src/app/pages/log/events/info-event/info-event.component.ts
  frontend/src/app/pages/thin-clients/thin-client-details/collections.ts
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.html
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.service.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.scss
  frontend/src/app/shared/components/table-into-component/table-into.ts
Due: NPM lint

FEATURE TG-16527 Adjusting the system time by polling every 60 seconds
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/pages/settings/system/system.service.ts
  frontend/src/app/pages/thin-clients/thin-client-details/collections.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
Due: NPM lint

FIX TG-16537 Fix boolean fields for table-into component
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.scss
Due: NPM lint

FEATURE TG-16518 Doc
  docs/ru/broker/engineer_guide/general_settings.md
Due: none

Feature tg 16524
  backend/common/models/pool.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/veil_server/test_server.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests
