Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linter_job, frontend_linter_job, security_check, compilemessages_job, tests_job, kostyl_job

linter_job:
  image: python:3.5.9-alpine
  stage: linter
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

frontend_linter_job:
  image: teracy/angular-cli
  stage: linter
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

security_check:
  image: python:3.5.9-alpine
  stage: security
  tags:
  - docker
  before_script:
  - apk add build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

compilemessages_job:
  image: python:3.5.9-alpine
  stage: linter
  tags:
  - docker
  before_script:
  - apk add gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

tests_job:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

kostyl_job:
  image: python:3.5.9-alpine
  stage: linter
  tags:
  - docker
  script:
  - exit 0

FEATURE TG-12597 Check network before install
  devops/installer/install.sh
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
Due: kostyl_job

FIX_TG_12656: vm index fix.
  backend/common/models/pool.py
Due: linter_job, compilemessages_job, tests_job

Feature tg 12526
  backend/common/migrations/versions/a2769e628235_activetkconnection_add_new_columns.py
  backend/common/models/active_tk_connection.py
  backend/common/veil/veil_handlers.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
  backend/ws_listener_worker/resources_monitor.py
  backend/ws_listener_worker/thin_client_conn_monitor.py
Due: linter_job, compilemessages_job, tests_job

Feature tg 12568
  backend/common/models/active_tk_connection.py
  backend/common/models/controller.py
  backend/common/models/pool.py
  backend/common/models/task.py
  backend/common/subscription_sources.py
  backend/common/veil/veil_gino.py
  backend/common/veil/veil_redis.py
  backend/web_app/tests/test_front_ws_handling.py
  backend/web_app/tests/test_message_chat.py
  backend/web_app/tests/utils.py
Due: linter_job, compilemessages_job, tests_job

FIX TG 12661 Errors component fix
  frontend/src/app/errors/errors.component.html
Due: frontend_linter_job

Feature tg 12660
  backend/common/utils.py
  backend/web_app/tests/test_usb.py
  backend/web_app/tests/test_vms.py
  backend/web_app/tests/utils.py
  devops/docker/test-docker-compose.yml
  test_veil_server/veil_test_server.py
Due: linter_job, compilemessages_job, tests_job, kostyl_job

FIX_TG_12656: version bump
  backend/web_app/auth/handlers.py
Due: linter_job, compilemessages_job, tests_job

Feature tg 12663 Обновление Angular до 9 версии
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/common/shared.module.ts
  frontend/src/app/dashboard/log/events/events.module.ts
  frontend/src/app/dashboard/log/tasks/tasks.module.ts
  frontend/src/app/dashboard/pools/pools.module.ts
  frontend/src/app/dashboard/settings/auth-directory/auth-directory.module.ts
  frontend/src/app/dashboard/settings/controllers/controllers.module.ts
  frontend/src/app/dashboard/settings/groups/groups.module.ts
  frontend/src/app/dashboard/settings/users/users.module.ts
  frontend/src/app/dashboard/thin-clients/thin-clients.module.ts
  frontend/src/tsconfig.app.json
Due: frontend_linter_job

Feature tg 12161
  frontend/src/app/dashboard/common/components/shared/table-into-component/table-into.html
  frontend/src/app/dashboard/common/components/shared/table-into-component/table-into.ts
Due: frontend_linter_job

FEATURE_TG_12672: docker-compose - no more pipenv
  backend/Pipfile.lock
  backend/dev-requirements.txt
  backend/requirements.txt
  backend/web_app/tests/veil_server/87658490_0.0.0.0.cert
  backend/web_app/tests/veil_server/87658490_0.0.0.0.key
  backend/web_app/tests/veil_server/test_server.py
  devops/docker/angular/Dockerfile
  devops/docker/docker-compose.yml
  devops/docker/python/Dockerfile
  devops/docker/test-docker-compose.yml
  devops/docker/test-veil-server/Dockerfile
  test_veil_server/Pipfile
Due: linter_job, compilemessages_job, tests_job, kostyl_job

FIX_TG_12686: AD user delete.
  backend/common/models/authentication_directory.py
Due: linter_job, compilemessages_job, tests_job

Feature tg 12470
  backend/common/models/pool.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/pool/schema.py
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/dashboard/resourses/templates/all-templates/templates.service.ts
  frontend/src/app/dashboard/resourses/templates/template-details/template-details.component.html
  frontend/src/app/dashboard/resourses/templates/template-details/template-details.component.ts
  frontend/src/app/dashboard/resourses/vms/all-vms/vms.service.ts
  frontend/src/app/dashboard/resourses/vms/vms-details/vm-details.component.html
  frontend/src/app/dashboard/resourses/vms/vms-details/vm-details.component.ts
Due: linter_job, frontend_linter_job, compilemessages_job, tests_job

Feature tg 12465
  backend/common/models/controller.py
  backend/common/veil/veil_graphene.py
  backend/web_app/controller/schema.py
  backend/web_app/journal/schema.py
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.ts
Due: linter_job, frontend_linter_job, compilemessages_job, tests_job

Feature tg 12563
  devops/update_2_to_3/broker_v2.py
  devops/update_2_to_3/broker_v3.py
  devops/update_2_to_3/migration_manual.md
Due: kostyl_job

Feature tg 12469
  backend/requirements.txt
  backend/web_app/pool/schema.py
Due: linter_job, compilemessages_job, tests_job

FEATURE TG-12687 переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/web_app/controller/resource_schema.py
  backend/web_app/pool/schema.py
  backend/web_app/thin_client_api/handlers.py
Due: linter_job, compilemessages_job, tests_job

FEATURE TG 12771 tslint config to eslint
  frontend/.eslintrc.js
Due: frontend_linter_job

FEATURE TG 12771 eslint deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend_linter_job

FEATURE TG 12771 remove unused eslint plugins
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend_linter_job

FEATURE TG 12771 fix rules
  frontend/.eslintrc.js
Due: frontend_linter_job

FEATURE TG 12771 eslint fixes
  frontend/src/app/dashboard/common/classes/details-move.ts
  frontend/src/app/dashboard/common/classes/websock.service.ts
  frontend/src/app/dashboard/pools/add-pool/definitions/add-pool.d.ts
  frontend/src/app/dashboard/pools/pool-details/add-vms/add-vms.component.ts
  frontend/src/app/dashboard/pools/pool-details/remove-pool/remove-pool.component.ts
  frontend/src/app/dashboard/settings/auth-directory/auth-directory-details/add-mapping/add-mapping.component.ts
  frontend/src/app/dashboard/settings/auth-directory/auth-directory-details/remove-auth-directory/remove-auth-directory.component.ts
  frontend/src/app/dashboard/settings/users/user-details/user-details.component.ts
  frontend/src/app/dashboard/settings/users/users.service.ts
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.ts
Due: frontend_linter_job

FEATURE TG 12771 eslint:fix npm script
  frontend/package.json
Due: frontend_linter_job

FIX TG 12778 fix 2 tests
  frontend/src/app/dashboard/resourses/templates/template-details/template-details.component.spec.ts
  frontend/src/app/dashboard/resourses/vms/vms-details/vm-details.component.spec.ts
Due: frontend_linter_job

Feature tg 12763
  backend/common/models/auth.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: linter_job, compilemessages_job, tests_job

FIX TG-12685 исправление запросов внутри пула + исправление восстановления из бэкапа
  backend/common/models/vm.py
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: linter_job, frontend_linter_job, compilemessages_job, tests_job

FEATURE TG-12863 Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Feature tg 12845
  backend/common/migrations/versions/db03830bd828_tk_conn_network_stats.py
  backend/common/models/active_tk_connection.py
  backend/web_app/tests/test_message_chat.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
  backend/web_app/thin_client_api/schema.py
Due: linter_job, compilemessages_job, tests_job

Feature tg 12773
  backend/web_app/pool/schema.py
  frontend/src/app/app.module.ts
  frontend/src/app/dashboard/common/forms-dinamic/yes-no-form/yes-no-form.component.html
  frontend/src/app/dashboard/common/styles/_form.scss
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: linter_job, frontend_linter_job, compilemessages_job, tests_job

Feature tg 12770 ESLint
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/common/classes/details-move.ts
  frontend/src/app/dashboard/common/classes/websock.service.ts
  frontend/src/app/dashboard/pools/add-pool/definitions/add-pool.d.ts
  frontend/src/app/dashboard/pools/pool-details/add-vms/add-vms.component.ts
  frontend/src/app/dashboard/pools/pool-details/remove-pool/remove-pool.component.ts
  frontend/src/app/dashboard/settings/auth-directory/auth-directory-details/add-mapping/add-mapping.component.ts
  frontend/src/app/dashboard/settings/auth-directory/auth-directory-details/remove-auth-directory/remove-auth-directory.component.ts
  frontend/src/app/dashboard/settings/users/user-details/user-details.component.ts
  frontend/src/app/dashboard/settings/users/users.service.ts
  frontend/src/app/dashboard/thin-clients/thin-client-details/thin-client-details.component.ts
Due: frontend_linter_job

Feature tg 12726
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-details.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.scss
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.spec.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.service.spec.ts
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.service.ts
  frontend/src/app/dashboard/settings/controllers/controllers.module.ts
Due: frontend_linter_job

Feature tg 12726
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.html
  frontend/src/app/dashboard/settings/controllers/controller-details/controller-events/controller-events.component.ts
Due: frontend_linter_job

Feature tg 12972
  backend/.editorconfig
  devops/update_2_to_3/broker_v2.py
  devops/update_2_to_3/migrate.sh
  devops/update_2_to_3/migration_auto.md
Due: linter_job, compilemessages_job, tests_job, kostyl_job

Feature tg 12474
  backend/common/migrations/versions/db03830bd828_tk_conn_network_stats.py
  backend/common/migrations/versions/e413a330f712_guest_pools.py
  backend/common/models/active_tk_connection.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/settings.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/thin_client_api/handlers.py
  frontend/src/app/dashboard/common/components/shared/table-component/table-component.component.html
  frontend/src/app/dashboard/common/components/shared/table-into-component/table-into.html
  frontend/src/app/dashboard/common/pipes/poolType.pipes.ts
  frontend/src/app/dashboard/common/shared.module.ts
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.html
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.ts
  frontend/src/app/dashboard/pools/add-pool/add-pool.service.ts
  frontend/src/app/dashboard/pools/all-pools/pools.component.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.html
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/info-backup/info-backup.component.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: linter_job, frontend_linter_job, compilemessages_job, tests_job

FIX TG-12915 фикс проверки соединения контроллера
  backend/common/models/controller.py
Due: linter_job, compilemessages_job, tests_job

Feature tg 12917
  backend/web_app/pool/schema.py
Due: linter_job, compilemessages_job, tests_job

FEATURE TG-12994 Update how-to-build
  how-to-build/vdi-server-2-build.md
  how-to-build/vdi-server-3-build.md
Due: none

Path conditions:
  linter_job: any of: backend/**/*
  frontend_linter_job: any of: frontend/**/*
  security_check: any of: backend/Pipfile
  compilemessages_job: any of: backend/**/*
  tests_job: any of: backend/**/*
  kostyl_job: any of: devops/**/*
