Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

Fix tg-15012 фикс адреса докуметации
  frontend/src/app/pages/dashboard/dashboard.component.html
Due: NPM lint

Feature tg-15017 фикс убраны комментарии
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.html
Due: NPM lint

FEATURE TG-15083 Дока
  docs/ru/connect/changelog/1.8.6.md
  docs/toc.yaml
Due: none

Feature tg-14988 Добавлена возможность выбрать все ВМ при удалении
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.html
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.ts
Due: NPM lint

feature_tg_14985 хэндлер для АД
  backend/web_app/auth/handlers.py
  backend/web_app/auth/urls.py
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

Fix tg 15056
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/active_tk_connection.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15105 Update broker VA vm template
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-broker-va.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

Feature tg-14985 Добавлено отображение ldap
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.scss
  frontend/src/app/pages/login/login.service.ts
Due: NPM lint

FEATURE TG-154904 Add awstats to broker
  devops/ansible/roles/broker/tasks/awstats.yml
  devops/ansible/roles/broker/tasks/main.yml
  devops/ansible/roles/broker/templates/awstats.vdi.conf.j2
Due: none

FIX TG-15051 фикс инициаторов событий
  backend/common/models/authentication_directory.py
  backend/common/models/event.py
  backend/common/models/pool.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/controller/schema.py
  backend/web_app/journal/schema.py
  backend/web_app/pool/schema.py
  backend/web_app/settings/schema.py
  backend/web_app/task/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 15083
  docs/ru/_assets/vdi/thin_client/enable_RemoteFX_USB.png
  docs/ru/_assets/vdi/thin_client/select_usb_remotefx.png
  docs/ru/_assets/vdi/thin_client/select_usb_usbredir.png
  docs/ru/_assets/vdi/thin_client/spice_usb_redir_window.png
  docs/ru/connect/changelog/1.8.7.md
  docs/ru/connect/settings/folder_redir_settings.md
  docs/ru/connect/settings/usb_redir_settings.md
  docs/toc.yaml
Due: none

Feature tg-14985 Изменение стилей логина
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.scss
Due: NPM lint

FEATURE TG-14984 исправлен дизайн
  frontend/src/app/pages/login/login.html
Due: NPM lint

FEATURE TG-15023 добавлен backup.py
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14904 Адаптция под актуальный путь до awstats
  backend/web_app/journal/handlers.py
  devops/docker/python/Dockerfile
  docs/ru/connect/settings/usb_redir_settings.md
Due: Python lint, Compilemessages job, Run tests

Feature tg-15056 Добален вход по ldap и 2FA
  frontend/projects/thin-client/src/app/auth/login/login.component.html
  frontend/projects/thin-client/src/app/auth/login/login.component.scss
  frontend/projects/thin-client/src/app/auth/login/login.component.ts
  frontend/projects/thin-client/src/app/core/services/authStorage.service.ts
  frontend/projects/thin-client/src/app/core/services/login.service.ts
Due: NPM lint

FEATURE TG-15023 добавлен класс Backup
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 реализован механизмп бекапа при работе в докере
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15092 выбор между ldap и ldaps
  frontend/src/app/pages/settings/auth-directory/add-auth-directory/add-auth-directory.component.html
  frontend/src/app/pages/settings/auth-directory/add-auth-directory/add-auth-directory.component.ts
Due: NPM lint

FEATURE TG-15023 backup exceptions
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15208 new tests
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  backend/web_app/tests/snapshots/snap_test_event.py
  backend/web_app/tests/test_auth_dir.py
  backend/web_app/tests/test_auth_v2.py
  backend/web_app/tests/test_event.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15208 new tests-2
  backend/web_app/tests/test_auth_v2.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15123 Прием сообщения о неудачном коннекте к ВМ
  backend/common/models/active_tk_connection.py
  backend/pool_worker/vm_manager.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 переписана обработка исключений
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 добавлены мутации для бекапа
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 добавлен метод генерации имени файла с временной меткой
  backend/common/backup.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15023 адаптирован под астру
  backend/common/backup.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15129 free vm from user
  backend/common/migrations/versions/5052a0fc5eb0_datapool_field.py
  backend/common/migrations/versions/a31gh528cv4f_free_vm_field.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/pool_worker/vm_manager.py
  backend/web_app/controller/schema.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.html
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-15023 fix get auth dir
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.html
Due: NPM lint

FEATURE TG-15224 add MIT license
  LICENSE
Due: none

FEATURE TG-15221 sync_repos.sh update
  devops/github/sync_repos.sh
Due: none

FEATURE TG-15221 sync_repos.sh update 2
  devops/github/sync_repos.sh
Due: none

FEATURE TG-15221 vdi-github-sync.sh
  devops/github/vdi-github-sync.sh
Due: none

FEATURE TG-15226 vdi-github-sync задание
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15226 vdi-github-sync задание 2
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15226 vdi-github-sync задание 3
  devops/github/vdi-github-sync.sh
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15226 vdi-github-sync задание 4
  devops/github/vdi-github-sync.sh
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15226 vdi-github-sync задание 5
  devops/jenkins/vdi-github-sync.groovy
Due: none

FEATURE TG-15224 change readme file
  README.md
Due: none

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
