Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

FEATURE TG-14026 добавлены тесты
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/snapshots/snap_test_settings.py
  backend/web_app/tests/snapshots/snap_test_user_v2.py
  backend/web_app/tests/test_controllers.py
  backend/web_app/tests/test_event.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_settings.py
  backend/web_app/tests/test_user_v2.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14064 Фикс для модального окна
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/shared/styles/_form.scss
Due: NPM lint

Refactor TG-14119 Замена moment на date pipe и нативный Date
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
Due: NPM lint

Оформление доков
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/connect/log_files_description.md
  docs/ru/connect/repo_without_inet.md
  docs/ru/connect/settings/main_settings.md
  docs/ru/connect/settings/rdp_settings.md
  docs/ru/connect/settings/service_settings.md
  docs/ru/connect/settings/spice_settings.md
  docs/ru/connect/settings/thin_client_2fa_settings.md
  docs/ru/connect/thin_clients/application1.md
  docs/ru/connect/thin_clients/application2.md
  docs/ru/connect/thin_clients/application3.md
  docs/ru/connect/thin_clients/thin_clients.md
  docs/ru/connect/update.md
Due: none

FEATURE TG-14064 Фикс фокуса, добавлена отписка
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
Due: NPM lint

FEATURE TG-14026 добавлены тесты-2
  backend/web_app/auth/group_schema.py
  backend/web_app/tests/snapshots/snap_test_controllers.py
  backend/web_app/tests/snapshots/snap_test_event.py
  backend/web_app/tests/snapshots/snap_test_user_v2.py
  backend/web_app/tests/test_controllers.py
  backend/web_app/tests/test_event.py
  backend/web_app/tests/test_group.py
  backend/web_app/tests/test_settings.py
  backend/web_app/tests/test_user_v2.py
  backend/web_app/tests/veil_server/test_server.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14026 тесты до 81.15% + порог покрытия - 80%
  backend/web_app/tests/.coveragerc
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  backend/web_app/tests/snapshots/snap_test_event.py
  backend/web_app/tests/test_auth_dir.py
  backend/web_app/tests/test_event.py
Due: Python lint, Compilemessages job, Run tests

Refactor TG-14119 fix lint
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
Due: NPM lint

FEATURE TG-14138 переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14029 реализация shortString
  backend/common/graphene_utils.py
  backend/common/veil/veil_graphene.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/auth/group_schema.py
  backend/web_app/auth/user_schema.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/controller/schema.py
  backend/web_app/journal/schema.py
  backend/web_app/pool/schema.py
  backend/web_app/settings/schema.py
  backend/web_app/task/schema.py
  backend/web_app/thin_client_api/schema.py
  frontend/src/app/pages/controllers/all-controllers/controllers.service.ts
  frontend/src/app/pages/controllers/controller-details/controller-events/controller-events.service.ts
  frontend/src/app/pages/log/events/all-events/events.service.ts
  frontend/src/app/pages/log/log-setting/log-setting.service.ts
  frontend/src/app/pages/log/tasks/all-tasks/tasks.service.ts
  frontend/src/app/pages/log/veil-events/veil-all-events/events.service.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/all-pools/pools.service.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.service.ts
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.service.ts
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.service.ts
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.service.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.service.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.service.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory.service.ts
  frontend/src/app/pages/settings/groups/groups.service.ts
  frontend/src/app/pages/settings/service-page/service-page.service.ts
  frontend/src/app/pages/settings/users/user-details/user-details.component.ts
  frontend/src/app/pages/settings/users/users.service.ts
  frontend/src/app/pages/thin-clients/thin-clients.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-14154 фикс получения версии ECP + версия vdi на фронте
  backend/web_app/auth/handlers.py
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14029 невалидный тест
  backend/web_app/tests/test_group.py
Due: Python lint, Compilemessages job, Run tests

Добавил доку по нулевым клиентам
  docs/ru/connect/thin_clients/zero_clients/DHCP.md
  docs/ru/connect/thin_clients/zero_clients/TFTP.md
  docs/ru/connect/thin_clients/zero_clients/hardware_requirements.md
  docs/ru/connect/thin_clients/zero_clients/index.md
  docs/ru/connect/thin_clients/zero_clients/nfs.md
  docs/ru/connect/thin_clients/zero_clients/pxe.md
  docs/toc.yaml
Due: none

Поправил ошибку в toc.yaml
  docs/toc.yaml
Due: none

FEATURE TG-14026 добавлены тесты-3
  backend/web_app/tests/.coveragerc
  backend/web_app/tests/snapshots/snap_test_vms.py
  backend/web_app/tests/test_group.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_vms.py
Due: Python lint, Compilemessages job, Run tests

Update schema.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

Update schema.py
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14193 default prepare_vm false
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

Добавил ссылку на образ
  docs/ru/connect/thin_clients/zero_clients/index.md
Due: none

Исправил опечатку
  docs/toc.yaml
Due: none

FIX TG-14254 Фикс действий над сервисами
  devops/deb/veil-broker-backend/root/etc/sudoers.d/vdiadmin
Due: none

FIX TG-14256 Включение удаленного доступа при выдаче ВМ
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14258 Добавлен проект thin-client
  frontend/angular.json
  frontend/package.json
  frontend/projects/thin-client/.browserslistrc
  frontend/projects/thin-client/e2e/protractor.conf.js
  frontend/projects/thin-client/e2e/src/app.e2e-spec.ts
  frontend/projects/thin-client/e2e/src/app.po.ts
  frontend/projects/thin-client/e2e/tsconfig.json
  frontend/projects/thin-client/karma.conf.js
  frontend/projects/thin-client/src/app/app-routing.module.ts
  frontend/projects/thin-client/src/app/app.component.html
  frontend/projects/thin-client/src/app/app.component.scss
  frontend/projects/thin-client/src/app/app.component.spec.ts
  frontend/projects/thin-client/src/app/app.component.ts
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/projects/thin-client/src/assets/.gitkeep
  frontend/projects/thin-client/src/environments/environment.prod.ts
  frontend/projects/thin-client/src/environments/environment.ts
  frontend/projects/thin-client/src/favicon.ico
  frontend/projects/thin-client/src/index.html
  frontend/projects/thin-client/src/main.ts
  frontend/projects/thin-client/src/polyfills.ts
  frontend/projects/thin-client/src/styles.scss
  frontend/projects/thin-client/src/test.ts
  frontend/projects/thin-client/tsconfig.app.json
  frontend/projects/thin-client/tsconfig.spec.json
  frontend/projects/thin-client/tslint.json
Due: NPM lint

Fix tg 14256
  backend/web_app/thin_client_api/handlers.py
  devops/deb/veil-broker-backend/root/etc/sudoers.d/vdiadmin
Due: Python lint, Compilemessages job, Run tests

FIX TG-14261 правка путей в доке
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/spec/domain-req.md
  docs/ru/connect/thin_clients/application1.md
  docs/ru/connect/thin_clients/application2.md
  docs/ru/connect/thin_clients/application3.md
Due: none

FIX TG-14254 файл vdiadmin
  devops/deb/veil-broker-backend/root/etc/sudoers.d/vdiadmin
Due: none

FIX TG-14267 иконки для сервисов
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.html
  frontend/src/app/pages/settings/service-page/service-controls/service-controls.component.ts
Due: NPM lint

FEATURE TG-14254 Валидный файл vdiadmin
  devops/deb/veil-broker-backend/root/etc/sudoers.d/vdiadmin
Due: none

Добавил установки для Centos и подправил разметку
  docs/ru/connect/thin_clients/zero_clients/DHCP.md
  docs/ru/connect/thin_clients/zero_clients/TFTP.md
  docs/ru/connect/thin_clients/zero_clients/nfs.md
  docs/ru/connect/thin_clients/zero_clients/pxe.md
Due: none

FIX TG-14290 информация контроллера после удаления токена
  backend/common/models/controller.py
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14290 информация контроллера после удаления токена
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature TG-14205 Добавлен компонент smtp и модальное окно
  frontend/src/app/app.module.ts
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/core/core.module.ts
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/settings/license/license.module.ts
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.html
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.scss
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp.component.html
  frontend/src/app/pages/settings/smtp/smtp.component.scss
  frontend/src/app/pages/settings/smtp/smtp.component.ts
  frontend/src/app/pages/settings/smtp/smtp.module.ts
  frontend/src/app/pages/settings/smtp/smtp.service.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/styles/_form.scss
Due: NPM lint

Feature TG-14205 Добавлен метод changeSmtpSettings
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp.service.ts
Due: NPM lint

Feature TG-14205 fix lint
  frontend/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/src/app/pages/settings/service-page/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp.component.ts
Due: NPM lint

Feature TG-14205 Добавлена кнопка ресет и отображение уровня логирования в таблице
  frontend/src/app/app.module.ts
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp.component.html
  frontend/src/app/pages/settings/smtp/smtp.component.ts
  frontend/src/app/pages/settings/smtp/smtp.service.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.ts
Due: NPM lint

исправил в доке veil-guest-utils
  docs/ru/broker/faq/rdp/example_template_win.md
Due: none

Добавил ссылку на veil-guest-utils.iso в goldwin10
  docs/ru/broker/faq/rdp/example_template_win.md
Due: none

Некорректно отображается version, решил убрать
  docs/ru/broker/faq/rdp/example_template_win.md
Due: none

Feature tg 14176
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/migrations/versions/90d353c9e3f7_x2go_connection_type.py
  backend/common/models/pool.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
