Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-15762 link for update 4
  docs/toc.yaml
Due: none

FEATURE TG-15762 some change for docs
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v4.md
Due: none

FEATURE TG-15850 docs: add astra 1.7
  docs/ru/_assets/engineer_guide/1.7/pic1.png
  docs/ru/_assets/engineer_guide/1.7/pic10.png
  docs/ru/_assets/engineer_guide/1.7/pic11.png
  docs/ru/_assets/engineer_guide/1.7/pic12.png
  docs/ru/_assets/engineer_guide/1.7/pic13.png
  docs/ru/_assets/engineer_guide/1.7/pic14.png
  docs/ru/_assets/engineer_guide/1.7/pic15.png
  docs/ru/_assets/engineer_guide/1.7/pic16.png
  docs/ru/_assets/engineer_guide/1.7/pic17.png
  docs/ru/_assets/engineer_guide/1.7/pic18.png
  docs/ru/_assets/engineer_guide/1.7/pic2.png
  docs/ru/_assets/engineer_guide/1.7/pic3.png
  docs/ru/_assets/engineer_guide/1.7/pic4.png
  docs/ru/_assets/engineer_guide/1.7/pic5.png
  docs/ru/_assets/engineer_guide/1.7/pic6.png
  docs/ru/_assets/engineer_guide/1.7/pic7.png
  docs/ru/_assets/engineer_guide/1.7/pic8.png
  docs/ru/_assets/engineer_guide/1.7/pic9.png
  docs/ru/broker/engineer_guide/application1-6.md
  docs/ru/broker/engineer_guide/application1-7.md
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/engineer_guide/install_os/1-6.md
  docs/ru/broker/engineer_guide/install_os/1-7.md
  docs/ru/broker/engineer_guide/install_os/index.md
  docs/ru/broker/engineer_guide/integrity_check.md
  docs/ru/broker/engineer_guide/software_requirements.md
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
  docs/ru/broker/spec/domain-req.md
  docs/ru/index.md
  docs/toc.yaml
Due: none

FEATURE TG-15765 Подписка на эндпоинт system_info
  frontend/src/app/core/components/footer/footer.component.ts
Due: NPM lint

FEATURE TG-15765 Правка по ошибке линтера
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/core/components/footer/footer.service.ts
  frontend/src/app/core/core.module.ts
Due: NPM lint

Feature tg 15874
  backend/common/models/active_tk_connection.py
  backend/common/models/controller.py
  backend/common/models/pool.py
  backend/common/models/task.py
  backend/common/subscription_sources.py
  backend/common/veil/veil_gino.py
  backend/common/veil/veil_redis.py
  backend/web_app/front_ws_api/handlers.py
  backend/web_app/pool/schema.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15840 docs: change win gold template
  docs/ru/broker/faq/rdp/example_template_win/add_user.md
  docs/ru/broker/faq/rdp/example_template_win/creating_vm.md
  docs/ru/broker/faq/rdp/example_template_win/index.md
  docs/ru/broker/faq/rdp/example_template_win/install_software.md
  docs/ru/broker/faq/rdp/example_template_win/opti_tool.md
  docs/toc.yaml
Due: none

FIX TG-15926 docs: fix link in sso
  docs/ru/broker/operator_guide/sso/enable.md
Due: none

FIX TG-15852 Правка отображения АД на странице логина
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.scss
Due: NPM lint

FIX TG-15851 Правка стилей панели управления (кнопки, переключатели)
  frontend/src/app/shared/components/button-refresh/button-refresh.component.scss
  frontend/src/app/shared/styles/_details-wrap.scss
  frontend/src/app/shared/styles/_panel-buttons.scss
Due: NPM lint

Feature tg 15895
  backend/common/settings.py
  backend/common/single_instance_locker.py
  backend/common/veil/veil_redis.py
  backend/monitor_worker/app.py
  backend/pool_worker/app.py
  backend/pool_worker/pool_locks.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
  backend/pool_worker/vm_manager.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 15982
  backend/common/models/pool.py
  backend/common/veil/veil_decorators.py
  backend/common/veil/veil_graphene.py
  backend/web_app/auth/handlers.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/veil_server/test_server.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15922 veil-api-client version fix
  backend/Pipfile.lock
  backend/requirements.txt
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15894 SingleInstanceLocker Fix
  backend/common/single_instance_locker.py
  backend/common/veil/veil_redis.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-16088 Removed slug from VM
  frontend/package-lock.json
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: NPM lint

FEATURE TG-16076 Fix veil-broker-va build
  devops/jenkins/veil-broker-va.groovy
Due: none

FEATURE TG-16090 Multiple broker
  devops/docker/angular/proxy.conf.containers.json
  devops/docker/multiple-docker-compose.yml
  devops/docker/nginx/vdi.conf
  devops/docker/python/Dockerfile
  devops/docker/python/app.containers.py
  devops/docker/python/settings.containers.py
Due: none

FIX TG-16186 Slug fields from all domain_tags requests have been removed
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.service.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.service.ts
Due: NPM lint

FEATURE TG-16190 Fix veil-broker-va build
  devops/jenkins/veil-broker-va.groovy
Due: none

FEATURE TG-16199 Doc fix
  docs/ru/_assets/common/qemu_service.png
  docs/ru/_assets/common/qemu_service_example.png
  docs/ru/broker/pools/apps-pool.md
  docs/ru/broker/vm/guest_agent.md
Due: none

FEATURE TG-16203 docs: rm old CA cert
  docs/ru/broker/faq/update_v3.md
Due: none

Feature tg 16158
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/web_app/app.py
  devops/docker/python/app.containers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15839 docs: refactoring db-backup
  docs/ru/broker/faq/backup.md
  docs/ru/broker/faq/backup_db/index.md
  docs/ru/broker/faq/backup_db/ver_2_1/creating_db.md
  docs/ru/broker/faq/backup_db/ver_2_2/creating_db.md
  docs/ru/broker/faq/backup_db/ver_3.md
  docs/ru/broker/faq/backup_db/ver_3_2_0/creating_db.md
  docs/toc.yaml
Due: none

Feature tg 16164
  backend/common/migrations/versions/4610585ad97d_vm_connection_data_table.py
  backend/common/models/vm_connection_data.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_pool.py
  backend/web_app/thin_client_api/handlers.py
  docs/ru/connect/changelog/1.10.1.md
  docs/ru/connect/changelog/1.11.0.md
  docs/ru/connect/changelog/1.11.1.md
  docs/ru/connect/possible_errors/common.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

Feature tg 16165
  backend/common/models/active_tk_connection.py
  backend/common/settings.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/auth/handlers.py
  backend/web_app/journal/schema.py
  backend/web_app/thin_client_api/handlers.py
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/possible_errors/spice.md
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-16275 Securiry rules for linter
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Due: NPM lint

FEATURE TG-16275 package.json
  frontend/package-lock.json
Due: NPM lint

FEATURE TG-16275 Updated to v11
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/projects/thin-client/src/app/app-routing.module.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/pages/controllers/controller-details/controller-events/controller-events.service.spec.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.spec.ts
Due: NPM lint

FEATURE TG-16275 package.json
  frontend/package-lock.json
  frontend/package.json
Due: NPM lint

FEATURE TG-16275 package.json
  frontend/package.json
Due: NPM lint

FEATURE TG-16275 package.json
  frontend/package.json
  frontend/projects/thin-client/src/test.ts
  frontend/src/app/pages/settings/service-page/service-page.module.ts
  frontend/src/app/pages/settings/smtp/smtp.module.ts
  frontend/src/test.ts
Due: NPM lint

FEATURE TG-16275 Updated v12
  frontend/package.json
Due: NPM lint

FEATURE TG-16275 Updated v13
  frontend/package.json
Due: NPM lint

FEATURE TG-16275 package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles.scss
Due: NPM lint

FEATURE TG-16275 package.json
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
Due: NPM lint
