Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.5.9-alpine

stages:
  - lint
  - security
  - tests

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install --upgrade pip
    - python -m pip install pipenv safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-14560 Запрет назначать больше одного юзера машине в гостевом пуле
  backend/common/models/vm.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14560 Исправлен баг: была вероятость невалидного отказа назначить вм юзеру, если юзеров в пуле больше 100(дефолтный лимит)
  backend/common/models/pool.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14329 Редактирование подготовки вм. С логикой зависимых чекбоксов
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/shared/forms-dinamic/change-form/form-edit.component.html
  frontend/src/app/shared/forms-dinamic/change-form/form-edit.component.ts
Due: NPM lint

FEATURE TG-14537 резервирование ВМ теперь вручную + фронт для отображения нескольких пользователей
  backend/common/models/vm.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/shared/components/table-component/table-component.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14329 Упразднена полоска последней строки в table-into-component
  frontend/src/app/shared/components/table-into-component/table-into.scss
Due: NPM lint

FEATURE TG-14329 порядок строк
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
Due: NPM lint

FEATURE TG-14658 + FEATURE TG-14659 подготовка гостевой пул + дока
  backend/common/models/vm.py
  docs/ru/_assets/vdi/pool/guestpool.png
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  docs/toc.yaml
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14560 фикс теста
  backend/web_app/tests/test_vms.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14654 возможность передавать список пользователей на добавление и удаление
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14331 Описание дисконнекта для редиса
  backend/common/models/active_tk_connection.py
  backend/common/veil/veil_redis.py
  backend/monitor_worker/thin_client_conn_monitor.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14671 поиск групп в АД + сортировка групп в АД
  backend/common/models/authentication_directory.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/add-group/add-group.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/add-group/add-group.component.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14671 delete for remove
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.ts
Due: NPM lint

FEATURE TG-14671 поиск групп в АД-2
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.ts
Due: NPM lint

FEATURE TG-14671 Правки под линтер
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/remove-group/remove-group.component.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory.service.ts
Due: NPM lint

FEATURE TG-14672 del comment
  backend/common/models/authentication_directory.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14677 имя пользователя от 1 символа
  backend/common/models/auth.py
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14672 фикс теста
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14474 переводы+тест
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/web_app/tests/test_user_v2.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14474 фикс тест-2
  backend/web_app/tests/test_user_v2.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14654 Изменение для подключения/отключения списка пользователей ВМ пула
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: NPM lint

FEATURE TG-14678
  backend/common/settings.py
  backend/common/veil/veil_handlers.py
  backend/common/veil/veil_redis.py
  backend/monitor_worker/app.py
  backend/pool_worker/app.py
  backend/pool_worker/pool_tasks.py
  backend/pool_worker/vm_manager.py
  backend/web_app/app.py
  backend/web_app/front_ws_api/handlers.py
  backend/web_app/tests/fixtures.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX tg-14673 Fix lint
  frontend/projects/thin-client/src/app/core/services/auth.Interceptor.http.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
Due: NPM lint

FIX tg-14673 Правка url spice
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
Due: NPM lint

FEATURE TG-14331 добавлен выбор времени жизни ВМ в гостевом пуле без привязки к событию вызова
  backend/common/migrations/versions/6d4gr26hpv7a_connection_time_for_guest.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/add-pool/definitions/add-pool.d.ts
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14697 Changelog. Обновление доки об ini файле
  docs/ru/connect/changelog/1.8.3.md
  docs/ru/connect/ini_file_description.md
  docs/toc.yaml
Due: none

FEATURE TG-14560 удаляем привязку пользователя от ВМ при деактивации
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX tg-14673 Fix commonJsDependencies
  frontend/angular.json
Due: NPM lint

FIX tg-14673 Fix spice url
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
Due: NPM lint

FIX tg-14673 Правка width и height модалки
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.html
Due: NPM lint

FEATURE TG-14700 изменена логика доменных имен
  backend/common/models/authentication_directory.py
  backend/common/models/vm.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  backend/web_app/tests/test_auth_dir.py
  frontend/src/app/pages/settings/auth-directory/add-auth-directory/add-auth-directory.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-14657 заполнение прочерками для пустых ячеек типов tags_array и array
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.ts
Due: NPM lint

FIX tg-14673 Добавлен спинер при обновлении токена
  frontend/projects/thin-client/src/app/core/core.module.ts
  frontend/projects/thin-client/src/app/pages/dashboard/dashboard-routing.module.ts
  frontend/projects/thin-client/src/app/pages/dashboard/dashboard.module.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
Due: NPM lint

FIX TG-14750 Отдавать сессии и при выключенной авторизации
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14751 Запуск thin-client в контейнере vdi-angular
  devops/docker/docker-compose.yml
Due: none

FIX TG-14753 Прочерк в таблицах для пустых ячеек users-array
  frontend/src/app/shared/components/table-component/table-component.component.html
  frontend/src/app/shared/components/table-component/table-component.component.ts
Due: NPM lint

Feature tg 14757
  backend/common/migrations/versions/ba1b6817b510_task_type_column_to_string.py
  backend/common/models/task.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/pool_locks.py
  backend/pool_worker/pool_task_manager.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14757 Фикс последовательности миграций
  backend/common/migrations/versions/ba1b6817b510_task_type_column_to_string.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14761 рефакторинг + тесты
  backend/common/models/auth.py
  backend/common/models/controller.py
  backend/common/models/event.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/utils.py
  backend/web_app/journal/schema.py
  backend/web_app/tests/snapshots/snap_test_user_v2.py
  backend/web_app/tests/snapshots/snap_test_vms.py
  backend/web_app/tests/test_group.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_user_v2.py
  backend/web_app/tests/test_vms.py
Due: Python lint, Compilemessages job, Run tests
