Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

FEATURE TG-14818 Доработка документации-2
  docs/ru/broker/operator_guide/pools.md
Due: none

Feature tg-14853 НФикс отображения текста действия
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.ts
  frontend/src/app/shared/enums/vm-actions.ts
Due: NPM lint

Feature tg-14858 Запоминание состояния ldap в localStorage
  frontend/src/app/pages/login/authStorage.service.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.html
Due: NPM lint

FEATURE TG-14841 Тест фильтрации ВМ по verbose_name
  backend/web_app/tests/test_vms.py
Due: Python lint, Compilemessages job, Run tests

Fix tg-14853 фикс апдейт пункта время жизни ВМ
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: NPM lint

FIX TG-14916 авторизация для неизвестных пользователей
  backend/common/models/auth.py
  backend/common/models/authentication_directory.py
  backend/common/veil/veil_gino.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14916 fix tests
  backend/web_app/tests/test_auth_v2.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14916 fix tests
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_auth_v2.py
Due: Python lint, Compilemessages job, Run tests

ISSUE TG-14946
  devops/github/sync_repos.sh
Due: none

FIX TG-14915 ссылки на latest доки ECP
  docs/ru/broker/changelog/3.1.2.md
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/faq/rdp/example_template_win.md
  docs/ru/broker/operator_guide/clusters.md
  docs/ru/broker/operator_guide/controllers.md
  docs/ru/broker/operator_guide/resource_pools.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/broker/spec/ports_info.md
  docs/ru/broker/worker/tasks.md
Due: none

FIX TG-14950 check by_ad for pam
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14950 fix test
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14951 Postgresql superuser
  devops/ansible/roles/broker/tasks/postgresql.yml
Due: none

FEATURE TG-14827 update locales
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/authentication_directory.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14915 описание ствтуса зарезервировано
  docs/ru/broker/pools/get-user-vm.md
Due: none

FEATURE TG-14778 Add build for broker VA
  devops/jenkins/veil-broker-va.groovy
Due: none

FIX TG-14955 order for pool info
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
Due: NPM lint

FEATURE TG-14778 Add build for broker VA-2
  devops/jenkins/veil-broker-va.groovy
Due: none

Feature tg 14954
  docs/ru/_assets/vdi/thin_client/connect_settings_basic.png
  docs/ru/_assets/vdi/thin_client/error_msg_ip_address.png
  docs/ru/_assets/vdi/thin_client/service_settings.png
  docs/ru/_assets/vdi/thin_client/settings_spice.png
  docs/ru/connect/changelog/1.8.4.md
  docs/ru/connect/changelog/1.8.5.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/settings/main_settings.md
  docs/ru/connect/settings/service_settings.md
  docs/toc.yaml
Due: none

FEATURE TG-14778 Add build for broker VA-3
  devops/jenkins/veil-broker-va.groovy
Due: none

FEATURE TG-14778 Add build for broker VA-4
  devops/jenkins/veil-broker-va.groovy
Due: none

Fix tg-14858 фикc запоминание авторизации по ldap
  frontend/src/app/pages/login/authStorage.service.ts
Due: NPM lint

FIX TG-14951 change function copy
  backend/common/migrations/versions/73cb8be45669_function_copy_in_db.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14778 Add build for broker VA-5
  devops/jenkins/veil-broker-va.groovy
Due: none

FIX TG-14951 change function copy + отмена архивации по количеству
  backend/common/migrations/versions/73cb8be45669_function_copy_in_db.py
  docs/ru/broker/operator_guide/web_settings.md
  frontend/src/app/pages/log/log-setting/log-setting.component.html
  frontend/src/app/pages/log/log-setting/log-setting.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-14951 fix validators
  backend/common/models/auth.py
  backend/web_app/auth/group_schema.py
  backend/web_app/auth/user_schema.py
  frontend/src/app/pages/settings/users/add-user/add-user.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-14951 переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

Fix tg-15018 фикc зависание спиннера при ошибке загрузка деталей о пуле, фикс исконки
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/shared/shared.module.ts
Due: NPM lint

FEATURE TG-14945 Фильтр для поиска групп безопасности AD ищет группы всех типов
  backend/common/models/authentication_directory.py
Due: Python lint, Compilemessages job, Run tests

Feature tg-15017 Добавлена возможность выбора всех в добавлении ВМ внутри статического пула
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.html
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.ts
Due: NPM lint

FEATURE TG-14945 Актуализация документации
  docs/ru/broker/active_directory/ad_extend.md
Due: none

FEATURE TG-14980 авторизация для доверительных АД
  backend/common/models/authentication_directory.py
  backend/common/veil/veil_gino.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14980 авторизация для доверительных АД-2
  backend/common/models/authentication_directory.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14945 Фикс тестов, актуализация документации
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  docs/ru/broker/active_directory/ad_extend.md
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15014 Fix postgresql.conf
  backend/common/migrations/versions/73cb8be45669_function_copy_in_db.py
  devops/ansible/deploy_broker.yml
  devops/ansible/roles/broker/handlers/main.yml
  devops/ansible/roles/broker/tasks/main.yml
  devops/ansible/roles/broker/tasks/postgresql.yml
  devops/ansible/roles/broker/templates/postgresql.conf.j2
  devops/ansible/vars/broker.yml
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-15014 Postgresql superuser troubles
  backend/common/migrations/versions/73cb8be45669_function_copy_in_db.py
  devops/ansible/roles/broker/tasks/main.yml
Due: Python lint, Compilemessages job, Run tests

FIX TG-15057 проверка активности пользователя
  backend/common/models/authentication_directory.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14979 переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14980 авторизация для freeIpA
  backend/common/models/authentication_directory.py
  docs/ru/broker/changelog/3.1.2.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

Кнопки SPICE и VNC внутри пула (ВМ)
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
