Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

Feature TG-14205 Добавлена модалка подтверждения сброса настроек
  frontend/src/app/pages/settings/smtp/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/smtp/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp.component.ts
  frontend/src/app/pages/settings/smtp/smtp.module.ts
Due: NPM lint

Feature tg 14230
  docs/ru/_assets/vdi/thin_client/connect_settings_x2go.png
  docs/ru/_assets/vdi/thin_client/pyhoca-cli_ath.png
  docs/ru/_assets/vdi/thin_client/x2goclient_auth.png
  docs/ru/connect/operator_guide/vm_window.md
  docs/ru/connect/settings/folder_redir_settings.md
  docs/ru/connect/settings/usb_redir_settings.md
  docs/ru/connect/settings/x2go_settings.md
  docs/toc.yaml
Due: none

Feature tg 14310
  docs/ru/connect/changelog/1.7.1.md
  docs/ru/connect/changelog/1.7.2.md
  docs/ru/connect/changelog/1.8.0.md
  docs/ru/connect/settings/rdp_settings.md
  docs/toc.yaml
Due: none

add indeed-id
  docs/ru/broker/faq/indeed-id.md
  docs/toc.yaml
Due: none

Поправил неточности
  docs/ru/broker/faq/indeed-id.md
Due: none

фикс орфографии для indeed
  docs/ru/broker/faq/indeed-id.md
Due: none

dev-docs коррекция
  docs/ru/broker/faq/indeed-id.md
Due: none

dev-docs коррекция-2
  docs/ru/broker/faq/indeed-id.md
Due: none

FEATURE TG-14254 Фикс статусы сервисов
  backend/web_app/settings/schema.py
  backend/web_app/tests/test_settings.py
  devops/docker/python/systemctl
Due: Python lint, Compilemessages job, Run tests

Feature tg-14262 fix lint
  frontend/src/app/pages/settings/smtp/confirm-modal/confirm-modal.component.ts
Due: NPM lint

FEATURE TG-14458 Возвращен spice и vnc
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

FEATURE TG-14354 ссылка для пула RDS
  docs/ru/broker/pools/apps-pool.md
Due: none

FEATURE TG-14353 описание SMTP сервера
  docs/ru/broker/operator_guide/smtp.md
  docs/toc.yaml
Due: none

FEATURE TG-14351 обновление доки
  docs/ru/broker/engineer_guide/application.md
  docs/ru/broker/faq/2fa.md
  docs/ru/broker/operator_guide/ad.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/connect/settings/thin_client_2fa_settings.md
Due: none

FEATURE TG-14474 OpenLDAP
  backend/common/models/authentication_directory.py
  backend/common/models/vm.py
  backend/common/settings.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  frontend/src/app/pages/settings/auth-directory/add-auth-directory/add-auth-directory.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.html
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/auth-directory-details.component.ts
  frontend/src/app/pages/settings/auth-directory/auth-directory.service.ts
  frontend/src/app/pages/settings/users/all-users/users.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-14361 Правка создания пулов. Добавлен тип X2GO
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
Due: NPM lint

FEATURE TG-14474 OpenLDAP-2
  backend/common/models/auth.py
  frontend/src/app/pages/settings/users/all-users/users.component.ts
  frontend/src/app/pages/settings/users/user-details/user-details.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14474 OpenLDAP fix tests
  backend/common/models/auth.py
Due: Python lint, Compilemessages job, Run tests

Reconfigure apache2 installation
  devops/ansible/roles/broker/tasks/apache2.yml
  devops/ansible/roles/broker/tasks/main.yml
  devops/ansible/roles/broker/templates/apache2.conf.j2
  devops/ansible/roles/broker/templates/apache2.service.j2
  devops/ansible/roles/broker/templates/broker-ssl.conf.j2
  devops/ansible/roles/broker/templates/broker.conf.j2
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
  devops/installer/install.sh
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-broker-iso.groovy
  devops/jenkins/veil-broker-orchestrator.groovy
Due: none

FEATURE TG-14329 разделение подготовки ВМ на этапы
  backend/common/migrations/versions/836f611f1cab_split_prepare_vm.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/add-pool/definitions/add-pool.d.ts
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 14368
  backend/common/models/active_tk_connection.py
  backend/common/models/pool.py
  backend/common/subscription_sources.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/veil_server/test_server.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14329 разделение подготовки ВМ на этапы-миграция
  backend/common/migrations/versions/836f611f1cab_split_prepare_vm.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14329 фикс линта
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: NPM lint

FEATURE TG-14329 дефолтные значения
  backend/common/models/pool.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-14484 добавление ВМ с виртуальными дисками + опечатка в доке
  backend/web_app/controller/resource_schema.py
  backend/web_app/controller/schema.py
  docs/ru/broker/faq/install_v3.md
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14029 обновление shortString в smtp
  frontend/src/app/pages/settings/smtp/smtp.service.ts
Due: NPM lint

FIX TG-14459 Добавить в индекс frontend/src/novnc/vendor/pako/lib
  frontend/src/novnc/vendor/pako/lib/utils/common.js
  frontend/src/novnc/vendor/pako/lib/zlib/adler32.js
  frontend/src/novnc/vendor/pako/lib/zlib/constants.js
  frontend/src/novnc/vendor/pako/lib/zlib/crc32.js
  frontend/src/novnc/vendor/pako/lib/zlib/deflate.js
  frontend/src/novnc/vendor/pako/lib/zlib/gzheader.js
  frontend/src/novnc/vendor/pako/lib/zlib/inffast.js
  frontend/src/novnc/vendor/pako/lib/zlib/inflate.js
  frontend/src/novnc/vendor/pako/lib/zlib/inftrees.js
  frontend/src/novnc/vendor/pako/lib/zlib/messages.js
  frontend/src/novnc/vendor/pako/lib/zlib/trees.js
  frontend/src/novnc/vendor/pako/lib/zlib/zstream.js
Due: NPM lint

Feature tg 14355
  docs/ru/_assets/vdi/veil_vdi_services.svg
  docs/ru/broker/faq/services.md
  docs/ru/broker/worker/tasks.md
  docs/ru/connect/changelog/1.8.1.md
  docs/ru/connect/changelog/1.8.2.md
  docs/toc.yaml
Due: none

Feature tg 14356
  docs/ru/_assets/vdi/veil_vdi_services.svg
  docs/ru/broker/faq/remote_conn_protocols.md
  docs/ru/broker/faq/services.md
  docs/toc.yaml
Due: none

Fix tg 14535
  backend/common/veil/veil_handlers.py
  backend/common/veil/veil_redis.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14503 Логика переключателей для Подготовки ВМ
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/shared/styles/_form.scss
Due: NPM lint

FEATURE TG-14503 Логика переключателей для Подготовки ВМ. Неопределенное состояяние
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
Due: NPM lint

FEATURE TG-14495 Install/update refactoring
  devops/ansible/roles/broker/defaults/main.yml
  devops/ansible/roles/broker/tasks/main.yml
  devops/ansible/roles/broker/tasks/redis-server.yml
  devops/ansible/roles/broker/templates/redis.conf.j2
  devops/ansible/roles/smolensk/defaults/main.yml
  devops/ansible/roles/smolensk/tasks/main.yml
  devops/ansible/roles/smolensk/templates/sources.list.j2
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
  devops/deb/veil-broker-backend/root/opt/veil-vdi/other/vdi.postgresql
  devops/installer/install.sh
  docs/ru/broker/faq/update_v3.md
Due: none

FIX TG-14469 SMTP правки. Размеры окна ВМ. Правки пагинации в пользователях
  frontend/angular.json
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/spice/spice.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/settings/smtp/confirm-modal/confirm-modal.component.html
  frontend/src/app/pages/settings/smtp/confirm-modal/confirm-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.html
  frontend/src/app/pages/settings/smtp/smtp-modal/smtp-modal.component.ts
  frontend/src/app/pages/settings/smtp/smtp.module.ts
  frontend/src/app/pages/settings/users/all-users/users.component.html
  frontend/src/app/pages/settings/users/all-users/users.component.scss
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/shared/styles/_details-wrap.scss
Due: NPM lint

FEATURE TG-14560 Возможность назначить множество пользователей одной машине
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_vms.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14611 Возврат токена для подключения по spice с web клиента
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14618 фикс удаления тэга при удалении ВМ в пуле
  backend/common/models/pool.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14624 Правки кэширование GraphQL
  frontend/src/app/pages/dashboard/dashboard.module.ts
Due: NPM lint

Feature tg 14539 d
  backend/common/models/authentication_directory.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  frontend/src/app/pages/settings/auth-directory/auth-directory-details/add-group/add-group.component.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14329 Редактирование подготовки вм
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
  frontend/src/app/shared/components/table-into-component/table-into.scss
Due: NPM lint

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
