Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.7-alpine

stages:
  - lint
  - security
  - tests

variables:
  PIP_ARGS: "-i http://nexus.bazalt.team/repository/pypi-proxy/simple --trusted-host nexus.bazalt.team"
  NPM_REGISTRY: "http://nexus.bazalt.team/repository/npm-proxy/"

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:latest
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm --registry $NPM_REGISTRY install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build -- --prod
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS pipenv==2021.5.29 safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FIX TG-17408 Deletion of records from AD fix
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-17408 flake8
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17368 Check password in message and replace it with "*"
  backend/common/log/journal.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17251 a bit step to the right version
  docs/ru/connect/thin_clients/getmobit.md
Due: none

Feature tg 17369
  docs/ru/broker/engineer_guide/install/install_broker.md
  docs/ru/broker/faq/install/install_step1.md
  docs/ru/broker/faq/install/install_step2.md
  docs/ru/broker/faq/update/index.md
  docs/toc.yaml
Due: none

FEATURE TG-17251 add licence plus struct
  docs/ru/connect/thin_clients/getmobit.md
Due: none

FEATURE TG-17251 fine monolithic
  docs/ru/connect/thin_clients/getmobit.md
Due: none

FEATURE TG-17251 split monolit
  docs/ru/connect/thin_clients/getmobit.md
  docs/ru/connect/thin_clients/getmobit/env_prep.md
  docs/ru/connect/thin_clients/getmobit/gm_base.md
  docs/ru/connect/thin_clients/getmobit/gm_install.md
  docs/ru/connect/thin_clients/getmobit/gm_setup.md
  docs/ru/connect/thin_clients/getmobit/gm_start.md
  docs/ru/connect/thin_clients/getmobit/using_ad.md
Due: none

FEATURE TG-17434 Doc
  docs/ru/connect/changelog/1.14.1.md
  docs/ru/connect/changelog/1.14.2.md
  docs/toc.yaml
Due: none

FEATURE TG-17368 resolve_check_smtp_connection()
  backend/common/log/journal.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17449 Cancel vm preparation task on controller when it's cancelled on VDI
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17429 Angular configuration for multibroker
  frontend/angular.json
  frontend/package.json
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/core/components/main-menu/main-menu.component.ts
  frontend/src/app/pages/login/login.guard.ts
  frontend/src/environments/environment.multiple.ts
  frontend/src/environments/environment.prod.ts
Due: NPM lint

FEATURE TG-17368 Checking the SMTP connection
  backend/common/log/journal.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17434 Doc
  docs/ru/connect/settings/folder_redir_settings.md
Due: none

FEATURE TG-17412 Doc: VeiL Connect for Debian 11
  docs/ru/connect/operator_guide/install/index.md
  docs/ru/connect/operator_guide/install/net/linux/centos.md
  docs/ru/connect/operator_guide/install/net/linux/debian-ubuntu.md
  docs/ru/connect/operator_guide/install/net/linux/debian9.md
  docs/ru/connect/update.md
  docs/toc.yaml
Due: none

FEATURE TG-17456 Multibroker: Multiple build for frontend
  devops/docker/prod/Dockerfile.frontend
  devops/docker/prod/nginx-vdi.conf
Due: none

FEATURE TG-17504 Patch bump
  backend/web_app/auth/handlers.py
  docs/ru/broker/changelog/4.1.2.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17430 Creator, created. updated for poll
  frontend/src/app/pages/pools/pool-details/collections.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: NPM lint

Feature TG-17251 docs: add gm in toc.yml and rm trash
  docs/ru/connect/thin_clients/getmobit.d/ad_usage.md
  docs/ru/connect/thin_clients/getmobit.d/enviroment.md
  docs/ru/connect/thin_clients/getmobit.d/gmbox_start.md
  docs/ru/connect/thin_clients/getmobit.d/main.md
  docs/ru/connect/thin_clients/getmobit.md
  docs/ru/connect/thin_clients/getmobit/env_prep.md
  docs/ru/connect/thin_clients/getmobit/gm_base.md
  docs/ru/connect/thin_clients/getmobit/using_ad.md
  docs/toc.yaml
Due: none

Update gm_setup.md
  docs/ru/connect/thin_clients/getmobit/gm_setup.md
Due: none

Update gm_start.md
  docs/ru/connect/thin_clients/getmobit/gm_start.md
Due: none

FEATURE TG-17556 docs: fix info in gm docs
  docs/ru/connect/thin_clients/getmobit/gm_base.md
  docs/ru/connect/thin_clients/getmobit/gm_install.md
  docs/ru/connect/thin_clients/getmobit/gm_setup.md
Due: none

FIX TG-17619 'sudo' added to commands
  docs/ru/broker/faq/update/version/update_v4-v4.md
Due: none

FEATURE TG-17596 Update docs for veil-connect
  docs/ru/broker/engineer_guide/general_info.md
  docs/ru/connect/operator_guide/general_info.md
  docs/ru/connect/operator_guide/install/index.md
  docs/ru/connect/operator_guide/install/net/linux/alteros.md
  docs/ru/connect/update.md
  docs/toc.yaml
Due: none

FIX TG-17629 Aptly deploy fix
  devops/jenkins/vars/buildSteps.groovy
  devops/jenkins/veil-broker-backend.groovy
  devops/jenkins/veil-broker-docs.groovy
  devops/jenkins/veil-broker-frontend.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

Feature tg 17693
  backend/common/migrations/versions/b755ef9b17a2_settings_password_security_level.py
  backend/common/models/auth.py
  backend/common/models/settings.py
  backend/common/models/task.py
  backend/common/password.py
  backend/web_app/auth/user_schema.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17713 Removed x2Go
  backend/common/migrations/versions/4877bb8b4f29_remove_x2go.py
  backend/common/models/pool.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17713 Migration fix
  backend/common/migrations/versions/4877bb8b4f29_remove_x2go.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-17753 spice token fix
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-17753 spice token fix
  backend/web_app/auth/handlers.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-17753 Doc
  docs/ru/broker/changelog/4.1.3.md
  docs/toc.yaml
Due: none

Feature tg 17754
  backend/web_app/auth/handlers.py
  docs/ru/broker/changelog/4.1.3.md
  docs/toc.yaml
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17754 Doc
  docs/ru/broker/faq/update/version/update_v4-v4.md
Due: none

FIX TG-17761 pool lock fix
  backend/common/settings.py
  backend/common/single_instance_locker.py
  backend/common/veil/veil_redis.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 17775
  docs/ru/broker/faq/update/update_repo.md
  docs/toc.yaml
Due: none

FEATURE TG-17710 X2GO canceled
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-vm-connection/add-vm-connection.component.ts
Due: NPM lint

FIX TG-17761 Small redis fix
  backend/common/veil/veil_redis.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17802 Added endpoint to fetch minimum supported client version
  backend/common/settings.py
  backend/web_app/app.py
  backend/web_app/auth/handlers.py
  backend/web_app/info/__init__.py
  backend/web_app/info/schema.py
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  backend/web_app/tests/test_info.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17802 ReacquireLock fix
  backend/common/veil/veil_redis.py
Due: Python lint, Compilemessages job, Run tests
