Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

FEATURE TG-14761 рефакторинг + тесты
  backend/common/utils.py
Due: Python lint, Compilemessages job, Run tests

FEATURE tg-14706 Подлючение websokets, перенос сервиса вебсокетов в core, фикс спинера в тонких клиентах
  frontend/projects/thin-client/src/app/components/button-refresh/button-refresh.module.ts
  frontend/projects/thin-client/src/app/components/yes-no-form/yes-no-form.component.html
  frontend/projects/thin-client/src/app/components/yes-no-form/yes-no-form.component.scss
  frontend/projects/thin-client/src/app/components/yes-no-form/yes-no-form.component.spec.ts
  frontend/projects/thin-client/src/app/components/yes-no-form/yes-no-form.component.ts
  frontend/projects/thin-client/src/app/components/yes-no-form/yes-no-form.module.ts
  frontend/projects/thin-client/src/app/core/services/websock.service.ts
  frontend/projects/thin-client/src/app/pages/pools/all-pools/pools.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.ts
  frontend/projects/thin-client/src/app/pages/pools/pools.module.ts
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/core/components/header-user/header-user.component.ts
  frontend/src/app/core/services/websock.service.ts
  frontend/src/app/pages/controllers/all-controllers/controllers.component.ts
  frontend/src/app/pages/dashboard/dashboard.component.ts
  frontend/src/app/pages/log/events/all-events/events.component.ts
  frontend/src/app/pages/log/tasks/all-tasks/tasks.component.ts
  frontend/src/app/pages/log/veil-events/veil-all-events/events.component.ts
  frontend/src/app/pages/pools/all-pools/pools.component.ts
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.component.ts
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.component.ts
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.component.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.component.ts
  frontend/src/app/pages/thin-clients/thin-client-details/thin-client-details.component.ts
  frontend/src/app/pages/thin-clients/thin-clients.component.ts
Due: NPM lint

FEATURE TG-14721 создание пула с датапулом
  backend/common/migrations/versions/5052a0fc5eb0_datapool_field.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/web_app/controller/schema.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14767 Glabal services
  frontend/src/app/shared/shared.module.ts
  frontend/src/proxy.conf.json
Due: NPM lint

FEATURE TG-14757 Фикс в Task
  backend/common/models/task.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14721 выбор датапула на фронте + легаси
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/web_app/pool/schema.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE TG-14721 фикс теста
  backend/web_app/tests/fixtures.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14721 фикс теста
  backend/web_app/tests/test_task.py
Due: Python lint, Compilemessages job, Run tests

FEATURE tg-14706 Добавлен компонент messenger
  frontend/projects/thin-client/src/app/app.module.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.scss
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pools.module.ts
  frontend/src/app/shared/components/tabs/tab/tab.component.scss
Due: NPM lint

FIX TG-14776 Длина описания для событий журнала
  backend/web_app/journal/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14333 мутация копирования настроек пула
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 14745
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/migrations/versions/cbdd458222a0_added_vm_disconnect_action_to_pool.py
  backend/common/models/active_tk_connection.py
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/common/settings.py
  backend/common/veil/veil_redis.py
  backend/monitor_worker/thin_client_conn_monitor.py
  backend/pool_worker/pool_tasks.py
  backend/pool_worker/vm_manager.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/snapshots/snap_test_pool.py
  backend/web_app/tests/test_message_chat.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_tk.py
  backend/web_app/tests/utils.py
  backend/web_app/tests/veil_server/test_server.py
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
  frontend/src/app/pages/pools/add-pool/definitions/add-pool.d.ts
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/shared/components/table-into-component/table-into.html
Due: Python lint, NPM lint, Compilemessages job, Run tests

FEATURE tg-14706 Фикс месседжера, переименование селекторов в thin-client
  frontend/angular.json
  frontend/projects/thin-client/src/app/app.component.html
  frontend/projects/thin-client/src/app/auth/login/login.component.ts
  frontend/projects/thin-client/src/app/components/button-refresh/button-refresh.component.ts
  frontend/projects/thin-client/src/app/components/yes-no-form/yes-no-form.component.ts
  frontend/projects/thin-client/src/app/core/errors/errors.component.ts
  frontend/projects/thin-client/src/app/core/header-user/header-user.component.ts
  frontend/projects/thin-client/src/app/core/main-menu/main-menu.component.ts
  frontend/projects/thin-client/src/app/core/services/websock.service.ts
  frontend/projects/thin-client/src/app/core/wait/wait.component.ts
  frontend/projects/thin-client/src/app/pages/dashboard/dashboard.component.html
  frontend/projects/thin-client/src/app/pages/dashboard/dashboard.component.ts
  frontend/projects/thin-client/src/app/pages/pools/all-pools/pools.component.html
  frontend/projects/thin-client/src/app/pages/pools/all-pools/pools.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.service.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/remote-component/remote-component.html
Due: NPM lint

FEATURE TG-14334 тест
  backend/web_app/tests/snapshots/snap_test_pool.py
  backend/web_app/tests/test_pool.py
Due: Python lint, Compilemessages job, Run tests

FIX tg-14768 Фикс логаута
  frontend/projects/thin-client/src/app/core/services/auth.Interceptor.http.ts
Due: NPM lint

FEATURE TG-14522 Leak fix
  backend/pool_worker/vm_manager.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14780 получение доменов с vdisks
  backend/web_app/controller/resource_schema.py
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14334 проверка на enum
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX tg-14706 фик вебсокет сервис
  frontend/projects/thin-client/src/app/core/services/websock.service.ts
  frontend/projects/thin-client/src/app/pages/pools/pool-details/messenger/messenger.component.ts
Due: NPM lint

Feature tg 14715
  backend/common/veil/auth/veil_jwt.py
  backend/common/veil/veil_handlers.py
  backend/web_app/auth/handlers.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

фильтрация ВМ по verbose_name
  backend/common/models/pool.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

Feature tg-14706 Добавлен счетчик
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/shared/components/tabs/tab/tab.component.ts
  frontend/src/app/shared/components/tabs/tabs.component.html
  frontend/src/app/shared/components/tabs/tabs.component.scss
  frontend/src/app/shared/components/tabs/tabs.component.ts
Due: NPM lint

Feature tg-14706 Фикс линтов
  frontend/projects/thin-client/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/projects/thin-client/tslint.json
  frontend/src/app/shared/components/tabs/tabs.component.ts
Due: NPM lint

Feature tg-14793 Добавлена кнопка копировать пул для гостевых и автоматических пулов, расширение формы добавление пулов
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
Due: NPM lint

FEATURE TG-14723 сортировка пользователей при назначении и удалении их внутри ВМ
  backend/common/models/pool.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-14672 Отправка форм по Enter. Работает для диалоговых окон с методом send
  frontend/src/app/pages/dashboard/dashboard.component.ts
Due: NPM lint

FIX TG-14870 Правки размера css файла для сборки thin-client
  frontend/angular.json
Due: NPM lint

Feature tg-14793 Фикс формы для копирования автоматических пулов
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
Due: NPM lint

FEATURE TG-14827 update locales
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14827 update locales+uid openldap
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/auth.py
  backend/common/settings.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-14818 правки в доке-1
  docs/ru/_assets/vdi/active_directory/base_ad.png
  docs/ru/_assets/vdi/pool/autopool_v3_2.png
  docs/ru/broker/active_directory/ad_base.md
  docs/ru/broker/active_directory/ad_extend.md
  docs/ru/broker/active_directory/info.md
  docs/ru/broker/changelog/3.1.2.md
  docs/ru/broker/operator_guide/ad.md
  docs/ru/broker/operator_guide/controllers.md
  docs/ru/broker/operator_guide/domains.md
  docs/ru/broker/operator_guide/interface.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/operator_guide/templates.md
  docs/ru/broker/operator_guide/users.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/toc.yaml
Due: none

FEATURE TG-14818 Доработка документации
  docs/ru/_assets/vdi/pool/guestpool.png
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/pools/get-user-vm.md
  docs/ru/broker/pools/guest_pool.md
Due: none

Feature tg-14853 Добавлена форма для настройки действий над ВМ
  frontend/src/app/pages/pools/pool-details/definitions/pool.d.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/prepare-vm/prepare-vm.component.ts
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.html
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.scss
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.ts
  frontend/src/app/pages/pools/pools.module.ts
  frontend/src/app/shared/components/table-into-component/table-into.ts
Due: NPM lint

Feature tg-14853 Настройка отображения поля таймаута в форме управления ВМ
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.html
  frontend/src/app/pages/pools/pool-details/vm-action/vm-action.component.ts
Due: NPM lint

Feature tg-14858 Замена чекбокса Ldap на тогл как на вейле
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.scss
  frontend/src/assets/check.svg
Due: NPM lint

FEATURE TG-14864 Thin client web build
  devops/ansible/roles/broker/defaults/main.yml
  devops/ansible/roles/broker/templates/broker-ssl.conf.j2
  devops/deb/veil-connect-web/Makefile
  devops/deb/veil-connect-web/root/DEBIAN/control
  devops/deb/veil-connect-web/root/DEBIAN/postinst
  devops/jenkins/veil-broker-orchestrator.groovy
  devops/jenkins/veil-connect-web.groovy
Due: none

Feature tg 14862
  backend/web_app/app.py
  backend/web_app/journal/handlers.py
  backend/web_app/journal/urls.py
  backend/web_app/tests/test_statistics_report.py
  devops/docker/python/Dockerfile
  devops/docker/python/awstats.pl
Due: Python lint, Compilemessages job, Run tests

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
