Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

.gitlab-ci.yml:

image: python:3.7-alpine

stages:
  - lint
  - security
  - tests

variables:
  PIP_ARGS: "-i http://nexus.bazalt.team/repository/pypi-proxy/simple --trusted-host nexus.bazalt.team"
  NPM_REGISTRY: "http://nexus.bazalt.team/repository/npm-proxy/"

Python lint:
  stage: lint
  tags:
    - docker
  before_script:
    - cd backend/
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
    - flake8
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests

NPM lint:
  image: alexsuch/angular-cli:latest
  stage: lint
  tags:
    - docker
  before_script:
    - cd frontend
    - npm --registry $NPM_REGISTRY install
    - pwd
    - ls
  script:
    - ng --version
    - npm run lint
    - npm run build -- --prod
  only:
    changes:
      - frontend/**/*
    refs:
      - merge_requests

Security check:
  stage: security
  tags:
    - docker
  before_script:
    - apk add --no-cache build-base
    - python -m pip install $PIP_ARGS --upgrade pip
    - python -m pip install $PIP_ARGS pipenv==2021.5.29 safety
    - pipenv install
    - pipenv lock --requirements > requirements.txt
  script:
    - safety check -r requirements.txt
  only:
    changes:
      - backend/Pipfile
    refs:
      - merge_requests

Compilemessages job:
  stage: tests
  tags:
    - docker
  before_script:
    - apk add --no-cache gettext
  script:
    - cd backend/common/
    - ash compilemessages.sh en
    - ash compilemessages.sh ru
  only:
    refs:
      - merge_requests
    changes:
      - backend/**/*

Run tests:
  stage: tests
  tags:
    - shell
  script:
    - cd devops/docker/
    - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado
  only:
    changes:
      - backend/**/*
    refs:
      - merge_requests
      - schedules
    variables:
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^release.*$/ || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"
      - $BY_SCHEDULE == "true"

allow_merge:
  variables:
    GIT_STRATEGY: none
  stage: lint
  tags:
    - shell
  script:
    - exit 0
  only:
    refs:
      - merge_requests

FEATURE TG-17754 Doc
  docs/ru/broker/changelog/4.1.3.md
  docs/ru/broker/changelog/4.1.4.md
  docs/ru/connect/changelog/1.14.3.md
  docs/ru/connect/changelog/1.14.4.md
  docs/toc.yaml
Due: none

FEATURE TG-17709 Password security level
  frontend/src/app/core/components/footer/footer.component.html
  frontend/src/app/core/components/footer/footer.component.scss
  frontend/src/app/pages/log/events/all-events/events.component.ts
  frontend/src/app/pages/settings/smtp/smtp.component.html
  frontend/src/app/pages/settings/users/all-users/users.component.html
  frontend/src/app/pages/settings/users/all-users/users.component.ts
  frontend/src/app/pages/settings/users/users.service.ts
  frontend/src/app/shared/forms-dinamic/change-form/form-edit.component.html
  frontend/src/app/shared/forms-dinamic/change-form/form-edit.component.ts
  frontend/src/app/shared/pipes/translate.pipe.ts
Due: NPM lint

Hide system view from multibroker
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/login/login.guard.ts
Due: NPM lint

FEATURE TG-17414 docs: edit a bit
  docs/ru/connect/thin_clients/getmobit/gm_base.md
  docs/ru/connect/thin_clients/getmobit/gm_install.md
  docs/ru/connect/thin_clients/getmobit/gm_setup.md
Due: none

Feature tg 17899
  backend/common/models/pool.py
  backend/common/veil/veil_errors.py
  backend/common/veil/veil_handlers.py
  backend/web_app/auth/handlers.py
  backend/web_app/auth/license/handlers.py
  backend/web_app/controller/schema.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_pool.py
  backend/web_app/vm_type.py
Due: Python lint, Compilemessages job, Run tests

Подправлена настройка ОС для Брокера
  docs/ru/broker/engineer_guide/install/prepare/install_os/1-7.md
Due: none

Feature tg 17898
  backend/common/utils.py
  backend/web_app/controller/resource_schema.py
  backend/web_app/task/schema.py
  backend/web_app/tests/snapshots/snap_test_resources_requests.py
  backend/web_app/tests/test_controllers.py
  backend/web_app/tests/test_resources_requests.py
  backend/web_app/tests/test_task.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-17905 Do not fail pool if expand task fails
  backend/common/models/pool.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-18050 docs: fix link to live-veil-connect
  docs/ru/connect/thin_clients/zero_clients/index.md
Due: none

FEATURE TG-17993 Correct data for spice usb redirection
  backend/common/settings.py
  backend/web_app/auth/handlers.py
  backend/web_app/tests/test_tk.py
  backend/web_app/thin_client_api/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-16379 Pagination for resources, pools and tasks
  frontend/src/app/pages/log/tasks/all-tasks/tasks.component.ts
  frontend/src/app/pages/log/tasks/all-tasks/tasks.service.ts
  frontend/src/app/pages/pools/all-pools/pools.component.html
  frontend/src/app/pages/pools/all-pools/pools.component.ts
  frontend/src/app/pages/pools/all-pools/pools.service.ts
  frontend/src/app/pages/pools/pool-details/add-users/add-users.component.ts
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/remove-users/remove-users.component.ts
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.component.html
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.component.ts
  frontend/src/app/pages/resourses/clusters/all-clusters/clusters.service.ts
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.component.html
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.component.ts
  frontend/src/app/pages/resourses/datapools/all-datapools/datapools.service.ts
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.component.html
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.component.ts
  frontend/src/app/pages/resourses/nodes/all-nodes/nodes.service.ts
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.component.html
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.component.ts
  frontend/src/app/pages/resourses/resource_pools/all-resource_pools/resource_pools.service.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.component.html
  frontend/src/app/pages/resourses/templates/all-templates/templates.component.ts
  frontend/src/app/pages/resourses/templates/all-templates/templates.service.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.component.html
  frontend/src/app/pages/resourses/vms/all-vms/vms.component.ts
  frontend/src/app/pages/resourses/vms/all-vms/vms.service.ts
  frontend/src/app/shared/components/pagination/pagination.component.scss
Due: NPM lint

FEATURE TG-18096 Multibroker: fix migrations
  devops/ansible/roles/multibroker/templates/multibroker-stack.yml.j2
Due: none

Добавлена установка мультиброкера
  docs/ru/broker/faq/install/install_multibroker.md
  docs/toc.yaml
Due: none

Подправлена установка мультиброкера
  docs/ru/broker/faq/install/install_multibroker.md
Due: none

FEATURE TG-18059 Doc
  docs/ru/connect/settings/folder_redir_settings.md
Due: none

FEATURE TG-17935 Ability to search by name
  frontend/src/app/pages/pools/pool-details/add-users/add-users.component.html
  frontend/src/app/pages/pools/pool-details/add-users/add-users.component.ts
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.html
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/remove-users/remove-users.component.html
  frontend/src/app/pages/pools/pool-details/remove-users/remove-users.component.ts
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.html
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/remove-user/remove-user.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
Due: NPM lint

FEATURE TG-18142 Sorting vms by name fix
  backend/web_app/controller/resource_schema.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-18094 Fixed disable to search when responsed empty list
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.html
  frontend/src/app/pages/pools/pool-details/add-vms/add-vms.component.ts
  frontend/src/app/pages/pools/pool-details/remove-vms/remove-vms.component.html
Due: NPM lint

FEATURE TG-18142 verbose name bug fix
  backend/web_app/controller/schema.py
Due: Python lint, Compilemessages job, Run tests

Update toc.yaml
  docs/toc.yaml
Due: none

FEATURE TG-18142 Changelog
  docs/ru/broker/changelog/4.1.5.md
  docs/ru/connect/changelog/1.14.5.md
  docs/ru/connect/changelog/1.14.6.md
  docs/ru/connect/changelog/1.14.7.md
  docs/toc.yaml
Due: none

FEATURE TG-18169 Correct msg if VM wasnt created
  backend/common/models/vm.py
  backend/common/settings.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18172 Search vms for create static pool
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
Due: NPM lint

В документации удалена поддержка X2Go
  docs/ru/broker/faq/remote_conn_protocols.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/pools/automated_pool_v3.md
  docs/ru/broker/pools/guest_pool.md
  docs/ru/connect/ini_file/example.md
  docs/ru/connect/ini_file/general.md
  docs/ru/connect/ini_file/index.md
  docs/toc.yaml
Due: none

Удалить x2go_settings.md
  docs/ru/connect/settings/x2go_settings.md
Due: none

Удалить x2gosettings.md
  docs/ru/connect/ini_file/x2gosettings.md
Due: none

FEATURE TG-18184 Show minimal thin client version in footer
  frontend/src/app/core/components/footer/footer.component.html
  frontend/src/app/core/components/footer/footer.component.ts
  frontend/src/app/dashboard/dashboard.component.html
  frontend/src/app/dashboard/dashboard.component.ts
  frontend/src/app/pages/settings/system/system.service.ts
Due: NPM lint

FIX-TG 18184 Fix linter errors
  frontend/src/app/dashboard/dashboard.component.ts
Due: NPM lint

FEATURE TG-18173 Multibroker: add pause to container start
  devops/ansible/roles/multibroker/templates/multibroker-stack.yml.j2
Due: none

Feature tg 18190
  backend/common/models/pool.py
  backend/common/models/task.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/pool/schema.py
  backend/web_app/tests/test_pool.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-18275 Decreased page size for ldap request
  backend/common/models/authentication_directory.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18322 Changelog
  docs/ru/broker/changelog/4.1.6.md
  docs/ru/broker/faq/rdp/example_template_lin/index.md
  docs/ru/connect/changelog/1.14.8.md
  docs/ru/connect/changelog/1.14.9.md
  docs/toc.yaml
Due: none

Добавлен раздел про стойкость паролей
  docs/ru/broker/operator_guide/password_security_levels.md
  docs/ru/broker/operator_guide/users.md
  docs/toc.yaml
Due: none

FEATURE TG-18270 Add vdi-gateway to compose
  devops/docker/multiple-docker-compose.yml
Due: none

FEATURE TG-18183 Summary page
  frontend/src/app/app.module.ts
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/core/components/main-menu/main-menu.component.ts
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/pages/main/main.component.html
  frontend/src/app/pages/main/main.component.scss
  frontend/src/app/pages/main/main.component.ts
  frontend/src/app/pages/main/main.module.ts
  frontend/src/app/pages/main/main.service.ts
Due: NPM lint

FEATURE TG-18216 Filter by node for crating a static pool
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/add-pool/add-pool.component.ts
  frontend/src/app/pages/pools/add-pool/add-pool.service.ts
Due: NPM lint

FEATURE TG-18402 Prepare all VM's of pool
  frontend/src/app/pages/log/tasks/all-tasks/tasks.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.html
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/pool-details.service.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/shared/pipes/taskType.pipe.ts
Due: NPM lint
