Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install $PIP_ARGS --upgrade pip
  - python -m pip install $PIP_ARGS flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:latest
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm --registry $NPM_REGISTRY install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build -- --prod

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install $PIP_ARGS --upgrade pip
  - python -m pip install $PIP_ARGS pipenv==2021.5.29 safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

FIX TG-18408 Fix Copy missing 1 required positional argument
  backend/common/models/pool.py
  backend/common/models/vm.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 18287
  backend/common/models/auth.py
  backend/web_app/auth/group_schema.py
  backend/web_app/tests/snapshots/snap_test_group.py
  backend/web_app/tests/test_group.py
Due: Python lint, Compilemessages job, Run tests

FETURE TG-18403 changeTemplate with prepare vm toggle
  frontend/src/app/pages/pools/add-pool/add-pool.component.html
  frontend/src/app/pages/pools/pool-details/remove-pool/remove-pool.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.service.ts
  frontend/src/app/shared/forms-dinamic/change-form/form-edit.component.html
  frontend/src/app/shared/styles/_form.scss
Due: NPM lint

FEATURE TG-18411 Groups pagination
  frontend/src/app/pages/settings/groups/all-groups/groups.component.html
  frontend/src/app/pages/settings/groups/all-groups/groups.component.ts
  frontend/src/app/pages/settings/groups/groups.service.ts
Due: NPM lint

Feature tg 18385
  backend/common/models/auth.py
  backend/common/models/authentication_directory.py
  backend/common/models/task.py
  backend/pool_worker/pool_tasks.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_auth_dir.py
  backend/web_app/tests/test_event.py
  backend/web_app/tests/test_info.py
  backend/web_app/tests/test_pool.py
  backend/web_app/tests/test_settings.py
  backend/web_app/tests/test_statistics_report.py
  backend/web_app/tests/test_task.py
  backend/web_app/tests/test_tk.py
  devops/docker/test-docker-compose.yml
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18412 Pagination for users in a group
  frontend/src/app/pages/settings/groups/groups-details/groups-details.component.html
  frontend/src/app/pages/settings/groups/groups-details/groups-details.component.ts
  frontend/src/app/pages/settings/groups/groups.service.ts
Due: NPM lint

Feature tg 18384
  backend/common/models/active_tk_connection.py
  backend/common/settings.py
  backend/monitor_worker/app.py
  backend/monitor_worker/thin_client_conn_monitor.py
  backend/web_app/settings/schema.py
  backend/web_app/thin_client_api/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURS TG-18414 Filtering users for manipulation in a group
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/pages/pools/pool-details/vm-details-popup/add-user/add-user.component.html
  frontend/src/app/pages/settings/groups/add-groups/add-groups.component.ts
  frontend/src/app/pages/settings/groups/add-permission/add-permission.component.ts
  frontend/src/app/pages/settings/groups/all-groups/groups.component.ts
  frontend/src/app/pages/settings/groups/groups-details/add-role/add-role.component.ts
  frontend/src/app/pages/settings/groups/groups-details/add-users/add-user.component.html
  frontend/src/app/pages/settings/groups/groups-details/add-users/add-user.component.ts
  frontend/src/app/pages/settings/groups/groups-details/groups-details.component.ts
  frontend/src/app/pages/settings/groups/groups-details/remove-role/remove-role.component.ts
  frontend/src/app/pages/settings/groups/groups-details/remove-user/remove-user.component.html
  frontend/src/app/pages/settings/groups/groups-details/remove-user/remove-user.component.ts
  frontend/src/app/pages/settings/groups/groups.module.ts
  frontend/src/app/pages/settings/groups/groups.service.ts
  frontend/src/app/pages/settings/groups/remove-groups/remove-group.component.ts
  frontend/src/app/pages/settings/groups/remove-permission/remove-permission.component.ts
Due: NPM lint

FEATURS TG-18414 Fix errors
  frontend/src/app/pages/settings/groups/groups.service.ts
  frontend/src/app/pages/settings/groups/remove-groups/remove-group.component.ts
Due: NPM lint

FEATURE TG-18440 Translations
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18456 DB conn parameters as env vars
  backend/common/settings.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 18208
  backend/common/backup/backup.sh
  backend/common/backup/restore.sh
  backend/vm_manager/__init__.py
  backend/vm_manager/app.py
  backend/vm_manager/vm_manager_.py
  backend/web_app/settings/schema.py
  backend/web_app/tests/snapshots/snap_test_settings.py
  devops/ansible/roles/multibroker/templates/multibroker-stack.yml.j2
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
  devops/deb/veil-broker-backend/root/etc/systemd/system/vdi-vm_manager.service
  devops/docker/docker-compose.yml
  devops/docker/multiple-docker-compose.yml
  devops/docker/python/systemctl
  devops/docker/test-docker-compose.yml
  docs/ru/broker/faq/services.md
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18429 Multibroker: external postgresql
  devops/ansible/broker.yml
  devops/ansible/roles/broker/defaults/main.yml
  devops/ansible/roles/broker/handlers/main.yml
  devops/ansible/roles/broker/tasks/apache2.yml
  devops/ansible/roles/broker/tasks/awstats.yml
  devops/ansible/roles/broker/tasks/guacamole.yml
  devops/ansible/roles/broker/tasks/main.yml
  devops/ansible/roles/broker/tasks/postgresql.yml
  devops/ansible/roles/broker/tasks/redis-server.yml
  devops/ansible/roles/multibroker/tasks/swarm.yml
  devops/ansible/roles/multibroker/templates/.env.j2
  devops/ansible/roles/multibroker/templates/multibroker-stack.yml.j2
  devops/ansible/roles/postgresql/defaults/main.yml
  devops/ansible/roles/postgresql/handlers/main.yml
  devops/ansible/roles/postgresql/tasks/main.yml
  devops/ansible/roles/postgresql/templates/postgresql.conf.j2
  devops/ansible/roles/smolensk/tasks/main.yml
  devops/installer/install.sh
Due: none

FEATURE TG-18357 Storing password history and setting password expiration date
  backend/common/migrations/versions/2411c5e4d06b_user_password_expiration.py
  backend/common/migrations/versions/a8104fe81f12_password_expiration.py
  backend/common/migrations/versions/e334e64d4c2c_password_history.py
  backend/common/models/auth.py
  backend/web_app/auth/user_schema.py
  backend/web_app/settings/schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18368 Remove broker_name setting from pipeline
  devops/installer/install.sh
  devops/jenkins/veil-broker-backend.groovy
  how-to-build/v4/backend-build.sh
Due: none

FEATURE TG-18571 OEM
  frontend/angular.json
  frontend/projects/thin-client/src/app/pages/pools/pool-details/manage-vm/manage-vm.component.html
  frontend/projects/thin-client/src/spice-html5/spice_auto.html
  frontend/src/app/core/components/main-menu/main-menu.component.html
  frontend/src/app/pages/controllers/add-controller/add-controller.component.html
  frontend/src/app/pages/controllers/controller-details/controller-details.component.html
  frontend/src/app/pages/controllers/remove-controller/remove-controller.component.html
  frontend/src/app/pages/log/veil-events/veil-all-events/events.component.html
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.service.ts
  frontend/src/app/pages/pools/pool-details/pool-details.component.ts
  frontend/src/app/pages/pools/pool-details/remove-pool/remove-pool.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/pages/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
  frontend/src/app/pages/resourses/nodes/node-details/node-details.component.ts
  frontend/src/app/pages/resourses/templates/template-details/template-details.component.html
  frontend/src/app/pages/resourses/templates/template-details/template-details.component.ts
  frontend/src/app/pages/resourses/vms/vms-details/vm-details.component.html
  frontend/src/app/pages/resourses/vms/vms-details/vm-details.component.ts
  frontend/src/index.html
  frontend/src/init.js
  frontend/src/proxy.conf.json
  frontend/src/spice-html5/spice_auto.html
Due: NPM lint

FIX TG-18571 Fix request prefix
  frontend/src/init.js
  frontend/src/proxy.conf.json
Due: NPM lint

FIX TG-18604 Thin client emulator fix
  thin_client_emulator/locustfile.py
Due: none

FEATURE TG-18206 Gateway
  backend/common/migrations/versions/e515cfece1bf_gateway_settings.py
  backend/common/models/settings.py
  backend/common/models/vm_connection_data.py
  backend/web_app/app.py
  backend/web_app/gateway/__init__.py
  backend/web_app/gateway/gateway_connection.py
  backend/web_app/gateway/schema.py
  backend/web_app/pool/schema.py
  backend/web_app/settings/schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/test_gateway.py
  backend/web_app/tests/test_pool.py
Due: Python lint, Compilemessages job, Run tests

FIX TG-18615 Changed same down_revision in two migrations
  backend/common/migrations/versions/e334e64d4c2c_password_history.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18368 Multimanager
  devops/ansible/roles/multibroker/tasks/swarm.yml
  devops/ansible/roles/multibroker/templates/multibroker-stack.yml.j2
  devops/installer/install.sh
Due: none

FEATURE TG-18507
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/auth.py
  backend/web_app/auth/handlers.py
  backend/web_app/auth/user_schema.py
Due: Python lint, Compilemessages job, Run tests

FEATURE TG-18665 Get a task info from the query response
  frontend/src/app/pages/log/tasks/all-tasks/tasks.component.html
  frontend/src/app/pages/log/tasks/all-tasks/tasks.service.ts
  frontend/src/app/pages/log/tasks/info-tasks/info-tasks.component.ts
  frontend/src/app/shared/pipes/taskType.pipe.ts
Due: NPM lint

FEATURE TG-18760 Check spaces in the url
  frontend/src/app/pages/settings/auth-directory/add-auth-directory/add-auth-directory.component.ts
Due: NPM lint

FEATURE TG-18667 Automatic page flipping
  frontend/src/app/pages/log/events/all-events/events.component.html
  frontend/src/app/pages/log/events/all-events/events.component.ts
  frontend/src/app/shared/components/pagination/pagination.component.ts
  frontend/src/app/shared/components/table-component/table-component.component.html
  frontend/src/app/shared/components/table-component/table-component.component.ts
Due: NPM lint

FEATURE TG-18667 FIX linter errors
  frontend/src/app/shared/components/pagination/pagination.component.ts
  frontend/src/app/shared/components/table-component/table-component.component.ts
Due: NPM lint

Copyright in settings
  backend/common/settings.py
  backend/web_app/auth/handlers.py
Due: Python lint, Compilemessages job, Run tests

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
