Repository jsc-masshtab/vdi-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Python lint, NPM lint, Security check, Compilemessages job, Run tests

Python lint:
  stage: lint
  tags:
  - docker
  before_script:
  - cd backend/
  - python -m pip install --upgrade pip && python -m pip install flake8 flake8-builtins flake8-bugbear flake8-import-order flake8-docstrings flake8-quotes
  script:
  - flake8

NPM lint:
  image: alexsuch/angular-cli:7.3
  stage: lint
  tags:
  - docker
  before_script:
  - cd frontend
  - npm install
  - pwd
  - ls
  script:
  - ng --version
  - npm run lint
  - npm run build

Security check:
  stage: security
  tags:
  - docker
  before_script:
  - apk add --no-cache build-base
  - python -m pip install --upgrade pip
  - python -m pip install pipenv safety
  - pipenv install
  - pipenv lock --requirements > requirements.txt
  script:
  - safety check -r requirements.txt

Compilemessages job:
  stage: tests
  tags:
  - docker
  before_script:
  - apk add --no-cache gettext
  script:
  - cd backend/common/
  - ash compilemessages.sh en
  - ash compilemessages.sh ru

Run tests:
  stage: tests
  tags:
  - shell
  script:
  - cd devops/docker/
  - docker-compose -f test-docker-compose.yml up --build --force-recreate -V --abort-on-container-exit --exit-code-from vdi-test-tornado

Feature tg 13106
  docs/ru/_assets/vdi/thin_client/connect_settings_basic.png
  docs/ru/_assets/vdi/thin_client/connect_settings_rdp.png
  docs/ru/broker/changelog/3.1.0.md
  docs/ru/broker/pools/apps-pool.md
  docs/ru/connect/changelog/1.6.1.md
  docs/ru/connect/one_app_mode.md
  docs/ru/connect/possible_errors/common.md
  docs/ru/connect/possible_errors/rdp.md
  docs/ru/connect/possible_errors/spice.md
  docs/ru/connect/settings/main_settings.md
  docs/ru/connect/settings/rdp_settings.md
  docs/ru/connect/settings/service_settings.md
  docs/ru/connect/settings/spice_settings.md
  docs/ru/connect/veil_connect.md
  docs/toc.yaml
Due: none

FIX TG-13207 Тип пула
  backend/common/models/pool.py
Due: Python lint, Compilemessages job, Run tests

Feature tg 13178
  frontend/src/app/dashboard/common/classes/auth.Interceptor.http.ts
  frontend/src/app/dashboard/common/pipes/poolType.pipes.ts
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.html
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.ts
  frontend/src/app/dashboard/pools/add-pool/add-pool.service.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.html
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
Due: NPM lint

FIX TG-13215 Правки сущностей зависимых от типа пула rds
  frontend/src/app/dashboard/pools/pool-details/pool-details.component.ts
  frontend/src/app/dashboard/pools/pool-details/pool-details.service.ts
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.html
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: NPM lint

Feature tg 13157
  docs/ru/_assets/vdi/how_to/installation/network_disabled.png
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/services.md
  docs/ru/broker/spec/domain-req.md
  docs/toc.yaml
Due: none

Feature tg 12136
  backend/common/models/auth.py
  backend/web_app/auth/user_schema.py
  backend/web_app/tests/test_user_v2.py
  frontend/src/app/dashboard/settings/users/add-user/add-user.component.html
  frontend/src/app/dashboard/settings/users/add-user/add-user.component.ts
  frontend/src/app/dashboard/settings/users/all-users/users.component.html
  frontend/src/app/dashboard/settings/users/all-users/users.component.ts
  frontend/src/app/dashboard/settings/users/users.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 13157
  docs/toc.yaml
Due: none

Feature tg 13157
  docs/ru/broker/faq/install_v3.md
Due: none

Fix tg 13230
  frontend/src/app/dashboard/settings/groups/add-permission/add-permission.component.html
  frontend/src/app/dashboard/settings/groups/groups-details/groups-details.component.ts
  frontend/src/app/dashboard/settings/groups/remove-permission/remove-permission.component.html
  frontend/src/app/dashboard/settings/users/user-details/add-permission/add-permission.component.html
  frontend/src/app/dashboard/settings/users/user-details/remove-permission/remove-permission.component.html
Due: NPM lint

additional docs
  docs/ru/broker/faq/services.md
  docs/ru/broker/worker/tasks.md
  docs/toc.yaml
Due: none

additional docs
  docs/ru/broker/worker/tasks.md
Due: none

дополнительное описание фоновых задач - ч.1
  docs/ru/broker/worker/tasks.md
Due: none

дополнительное описание фоновых задач - проверка ссылок на якоря
  docs/ru/broker/worker/tasks.md
  docs/toc.yaml
Due: none

дополнительное описание фоновых задач - ч.2
  docs/ru/broker/worker/tasks.md
Due: none

FIX TG-13281 смена сообщения для задачи пересозданя ВМ + переводы
  backend/common/locales/en/LC_MESSAGES/messages.mo
  backend/common/locales/en/LC_MESSAGES/messages.po
  backend/common/locales/ru/LC_MESSAGES/messages.mo
  backend/common/locales/ru/LC_MESSAGES/messages.po
  backend/common/models/active_tk_connection.py
  backend/common/models/task.py
  backend/pool_worker/pool_tasks.py
  backend/requirements.txt
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

Feature tg 13226
  backend/pool_worker/pool_tasks.py
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
  docs/ru/_assets/vdi/events/event_info.png
  docs/ru/_assets/vdi/events/events_list.png
  docs/ru/_assets/vdi/worker/active_task.png
  docs/ru/_assets/vdi/worker/task_error.png
  docs/ru/_assets/vdi/worker/tasks_list.png
  docs/ru/broker/worker/tasks.md
Due: Python lint, Compilemessages job, Run tests

FIX_TG_13311: apache2 logs dir rule
  devops/deb/veil-broker-backend/root/DEBIAN/postinst
Due: none

I.dorovskikh dev patch 33138
  docs/ru/_assets/engineer_guide/pic1.png
  docs/ru/_assets/engineer_guide/pic10.png
  docs/ru/_assets/engineer_guide/pic11.png
  docs/ru/_assets/engineer_guide/pic12.png
  docs/ru/_assets/engineer_guide/pic13.png
  docs/ru/_assets/engineer_guide/pic14.png
  docs/ru/_assets/engineer_guide/pic15.png
  docs/ru/_assets/engineer_guide/pic16.png
  docs/ru/_assets/engineer_guide/pic17.png
  docs/ru/_assets/engineer_guide/pic18.png
  docs/ru/_assets/engineer_guide/pic19.png
  docs/ru/_assets/engineer_guide/pic2.png
  docs/ru/_assets/engineer_guide/pic20.png
  docs/ru/_assets/engineer_guide/pic3.png
  docs/ru/_assets/engineer_guide/pic4.png
  docs/ru/_assets/engineer_guide/pic5.png
  docs/ru/_assets/engineer_guide/pic6.png
  docs/ru/_assets/engineer_guide/pic7.png
  docs/ru/_assets/engineer_guide/pic8.png
  docs/ru/_assets/engineer_guide/pic9.png
  docs/ru/_assets/engineer_guide/structure.png
  docs/ru/broker/engineer_guide/annotate.md
  docs/ru/broker/engineer_guide/application.md
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/general_info.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/hardware_requirements.md
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/engineer_guide/integrity_check.md
  docs/ru/broker/engineer_guide/messages.md
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/engineer_guide/registr_key.md
  docs/ru/broker/engineer_guide/skill_requirements.md
  docs/ru/broker/engineer_guide/software_requirements.md
  docs/ru/broker/engineer_guide/structure.md
  docs/toc.yaml
Due: none

fixed missing docs
  docs/toc.yaml
Due: none

I.dorovskikh dev patch 80730
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/general_info.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/engineer_guide/structure.md
Due: none

исправил положение картинок
  docs/ru/broker/worker/tasks.md
Due: none

добавил ссылку на ECP VeiL
  docs/toc.yaml
Due: none

Feature tg 13278
  backend/common/models/pool.py
  backend/web_app/pool/schema.py
Due: Python lint, Compilemessages job, Run tests

I.dorovskikh dev patch 27860
  docs/ru/_assets/common/copy.png
  docs/ru/_assets/common/domen.png
  docs/ru/_assets/common/hot_reboot.png
  docs/ru/_assets/common/user.png
  docs/ru/_assets/common/user_del.png
  docs/ru/_assets/common/veil.png
  docs/ru/broker/operator_guide/ad.md
  docs/ru/broker/operator_guide/clusters.md
  docs/ru/broker/operator_guide/controllers.md
  docs/ru/broker/operator_guide/datapools.md
  docs/ru/broker/operator_guide/domains.md
  docs/ru/broker/operator_guide/events.md
  docs/ru/broker/operator_guide/groups.md
  docs/ru/broker/operator_guide/interface.md
  docs/ru/broker/operator_guide/license.md
  docs/ru/broker/operator_guide/nodes.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/operator_guide/prepare.md
  docs/ru/broker/operator_guide/reductions.md
  docs/ru/broker/operator_guide/resource_pools.md
  docs/ru/broker/operator_guide/rules.md
  docs/ru/broker/operator_guide/start.md
  docs/ru/broker/operator_guide/tasks.md
  docs/ru/broker/operator_guide/templates.md
  docs/ru/broker/operator_guide/thin_client.md
  docs/ru/broker/operator_guide/users.md
  docs/ru/broker/operator_guide/web_settings.md
  docs/toc.yaml
Due: none

I.dorovskikh dev patch 14866
  docs/ru/broker/engineer_guide/application.md
  docs/ru/broker/engineer_guide/create_domains.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/general_settings.md
  docs/ru/broker/engineer_guide/install.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/engineer_guide/install_os.md
  docs/ru/broker/engineer_guide/prepare.md
  docs/ru/broker/engineer_guide/registr_key.md
Due: none

изменил форматирование оглавления
  docs/toc.yaml
Due: none

I.dorovskikh dev patch 51001
  docs/ru/broker/engineer_guide/application.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/engineer_guide/install_kasper.md
  docs/ru/broker/operator_guide/ad.md
  docs/ru/broker/operator_guide/clusters.md
  docs/ru/broker/operator_guide/controllers.md
  docs/ru/broker/operator_guide/groups.md
  docs/ru/broker/operator_guide/nodes.md
  docs/ru/broker/operator_guide/pools.md
  docs/ru/broker/operator_guide/resource_pools.md
  docs/ru/broker/operator_guide/users.md
Due: none

I.dorovskikh dev patch 55598
  docs/ru/broker/engineer_guide/application.md
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/broker/operator_guide/groups.md
  docs/ru/broker/operator_guide/nodes.md
  docs/ru/broker/operator_guide/users.md
  docs/ru/connect/operator_guide/annotate.md
  docs/ru/connect/operator_guide/delete.md
  docs/ru/connect/operator_guide/domains.md
  docs/ru/connect/operator_guide/general_info.md
  docs/ru/connect/operator_guide/install.md
  docs/ru/connect/operator_guide/integrity_check.md
  docs/ru/connect/operator_guide/interface.md
  docs/ru/connect/operator_guide/messages.md
  docs/ru/connect/operator_guide/pools.md
  docs/ru/connect/operator_guide/prepare.md
  docs/ru/connect/operator_guide/process_install.md
  docs/ru/connect/operator_guide/program_condition.md
  docs/ru/connect/operator_guide/reductions.md
  docs/ru/connect/operator_guide/rules.md
  docs/ru/connect/operator_guide/start.md
  docs/toc.yaml
Due: none

I.dorovskikh dev patch 30905
  docs/ru/broker/engineer_guide/first_steps.md
  docs/ru/connect/operator_guide/delete.md
  docs/ru/connect/operator_guide/domains.md
  docs/ru/connect/operator_guide/general_info.md
  docs/ru/connect/operator_guide/install.md
  docs/ru/connect/operator_guide/integrity_check.md
  docs/ru/connect/operator_guide/interface.md
  docs/ru/connect/operator_guide/pools.md
  docs/ru/connect/operator_guide/prepare.md
  docs/ru/connect/operator_guide/process_install.md
  docs/ru/connect/operator_guide/rules.md
  docs/ru/connect/operator_guide/start.md
  docs/toc.yaml
Due: none

FIX TG-1344 Правка порта в vnc
  frontend/src/app/dashboard/pools/pool-details/vm-details-popup/vm-details-popup.component.ts
Due: NPM lint

feature_tg_13107: WIP: FreeIPA
  backend/common/migrations/versions/c8c16054b1a9_additional_directory_types.py
  backend/common/models/authentication_directory.py
  backend/common/settings.py
  backend/common/veil/auth/auth_dir_utils.py
  backend/web_app/auth/authentication_directory/auth_dir_schema.py
  backend/web_app/tests/fixtures.py
  backend/web_app/tests/snapshots/snap_test_auth_dir.py
  backend/web_app/tests/test_auth_dir.py
  devops/docker/docker-compose.yml
  devops/docker/test-docker-compose.yml
  docs/ru/_assets/vdi/active_directory/base_ad.png
  docs/ru/_assets/vdi/active_directory/extend_ad.png
  docs/ru/broker/active_directory/ad_base.md
  docs/ru/broker/active_directory/ad_extend.md
  docs/ru/broker/active_directory/info.md
  docs/toc.yaml
  frontend/src/app/dashboard/log/events/all-events/events.component.ts
  frontend/src/app/dashboard/settings/auth-directory/add-auth-directory/add-auth-directory.component.html
  frontend/src/app/dashboard/settings/auth-directory/add-auth-directory/add-auth-directory.component.ts
  frontend/src/app/dashboard/settings/auth-directory/auth-directory.service.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

feature_tg_13340: increase step
  backend/common/settings.py
  backend/web_app/pool/schema.py
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.html
  frontend/src/app/dashboard/pools/add-pool/add-pool.component.ts
Due: Python lint, NPM lint, Compilemessages job, Run tests

FIX TG-13351 Изменение модуля сборки с es2015 на es5
  frontend/tsconfig.json
Due: NPM lint

feature_tg_13340: increase step
  backend/common/models/pool.py
  backend/common/models/vm.py
  backend/pool_worker/pool_tasks.py
Due: Python lint, Compilemessages job, Run tests

feature_tg_13345: обновил инструкцию обновления
  docs/ru/broker/faq/install_v3.md
  docs/ru/broker/faq/update_v3.md
Due: none

попытка исправить сбитую табуляцию в оглавлении
  docs/toc.yaml
Due: none

Ошибка в ссылках на приложения
  docs/toc.yaml
Due: none

I.dorovskikh dev patch 76571
  docs/ru/connect/thin_clients/operator_guide/application2.md
  docs/ru/connect/thin_clients/operator_guide/application3.md
  docs/ru/connect/thin_clients/operator_guide/delete.md
  docs/ru/connect/thin_clients/operator_guide/domains.md
  docs/ru/connect/thin_clients/operator_guide/install.md
  docs/ru/connect/thin_clients/operator_guide/integrity_check.md
  docs/ru/connect/thin_clients/operator_guide/messages.md
  docs/ru/connect/thin_clients/operator_guide/program_condition.md
Due: none

Path conditions:
  Python lint: any of: backend/**/*
  NPM lint: any of: frontend/**/*
  Security check: any of: backend/Pipfile
  Compilemessages job: any of: backend/**/*
  Run tests: any of: backend/**/*
